@import 'theming';

ul > li > form-field > .adf-focus {
    .adf-label {
        color: mat-color($primary);
    }
}

.adf {

    &-error-text-container {
        width: 95%;
        height: 20px;
        margin-top: -12px;
    }

    &-error-text {
        padding: 1px;
        height: 16px;
        font-size: 12px;
        line-height: 1.33;
        float: left;
        color: mat-color($warn);
    }

    &-error-icon {
        float: right;
        font-size: 17px;
        color: mat-color($warn);
    }

    &-label {
        color: $alfresco-gray-label;
    }

    &-invalid {

        .mat-input-underline {
            background-color: #f44336 !important;
        }

        .adf-file {
            border-color: mat-color($warn);
        }

        .mat-input-prefix {
            color: mat-color($warn);
        }

        .adf-input {
            border-color: mat-color($warn);
        }

        .adf-label {
            color: mat-color($warn);
            &:after {
                background-color: mat-color($warn);
            }
        }
    }
}

.mat-focused {

    label {
        transform: scaleX(1);
        transition: transform 150ms linear,
        background-color $swift-ease-in-duration $swift-ease-in-timing-function;
        color: mat-color($primary);
    }

    .mat-input-prefix {
        color: mat-color($primary);
    }
}

.mat-grid-tile {
    overflow: visible;
}
