@import 'theming';

.adf {

    &-invalid {
        .adf-error-text-container{
            width: 95%;
            height: 20px;
        }

        .adf-error-text {
            padding: 1px;
            height: 16px;
            font-size: 12px;
            line-height: 1.33;
            float: left;
            color: $alfresco-warn-color--hue-3;
        }

        .adf-error-icon {
            float: right;
            font-size: 17px;
            color: $alfresco-warn-color--hue-3;
        }

        .adf-file {
            border-color: $alfresco-warn-color--hue-3;
        }

        .adf-input {
            border-color: $alfresco-warn-color--hue-3;
        }

        .adf-label {
            color: $alfresco-warn-color--hue-3;
            &:after {
                background-color: $alfresco-warn-color--hue-3;
            }
        }
    }
}
