@import 'theming';

.adf {

    &-text-widget {
        width: 100%;
    }

    &-invalid {
        .adf-input {
            border-color: $alfresco-warn-color--hue-3;
        }
        .adf-label {
            color: $alfresco-warn-color--hue-3;
            &:after {
                background-color: $alfresco-warn-color--hue-3;
            }
        }
        .adf-error {
            visibility: visible !important;
        }
    }
}
