<div class="adf-textfield text-widget {{field.className}}"
     [class.adf-invalid]="!field.isValid">
    <md-input-container>
        <label [attr.for]="field.id">{{field.name}}<span *ngIf="isRequired()">*</span></label>
        <input mdInput
               class="adf-input"
               type="text"
               [id]="field.id"
               [required]="isRequired()"
               [value]="field.value"
               [(ngModel)]="field.value"
               (ngModelChange)="onFieldChanged(field)"
               [disabled]="field.readOnly ? true : null"
               [textMask]="{mask: mask, isReversed: isMaskReversed}"
               placeholder="{{field.placeholder}}">
        <md-error  *ngIf="field.validationSummary">
            <div class="adf-error-text" >{{field.validationSummary}}</div> <i class="material-icons adf-error-icon">warning</i>
        </md-error>
    </md-input-container>
</div>
