<div class="adf-date-pipes-container">
    <h2>Date Pipes</h2>

    <mat-form-field>
        <input matInput
               placeholder="Format"
               [(ngModel)]="format">
    </mat-form-field>

    <mat-form-field>
        <input matInput
               placeholder="Locale"
               [(ngModel)]="locale">
    </mat-form-field>

    <h3>AdfLocalizedDate Pipe - Default</h3>
    <div>{{ today | adfLocalizedDate }} </div>
    <br>
    <h3>AdfLocalizedDate Pipe - Custom format</h3>
    <div>{{ today | adfLocalizedDate : format }} </div>
    <br>
    <h3>AdfLocalizedDate Pipe - Custom format and locale</h3>
    <div>{{ today | adfLocalizedDate : format : locale }} </div>
    <br>
    <h3>AdfTimeAgo Pipe</h3>
    <div>{{ today | adfTimeAgo }} </div>
    <br>
    <h3>AdfTimeAgo Pipe - Custom locale</h3>
    <div>{{ today | adfTimeAgo : locale}} </div>
</div>
