<div class="amount-widget__container amount-widget {{field.className}}"
     [class.amount-widget__invalid]="!field.isValid">
    <div>
        <label>{{field.name}} <span *ngIf="isRequired()">*</span></label>
    </div>
    <md-input-container floatPlaceholder="never" class="amount-widget__input">
        <span mdPrefix class="adf-amount-widget__prefix-spacing"> {{currency }}</span>
        <input mdInput
                class="adf-amount-widget"
                type="text"
                [attr.id]="field.id"
                [attr.required]="isRequired()"
                [value]="field.value"
                [(ngModel)]="field.value"
                (ngModelChange)="checkVisibility(field)"
                [disabled]="field.readOnly"
                placeholder="{{field.placeholder}}">
        <md-error  *ngIf="field.validationSummary">
            {{field.validationSummary}}
        </md-error>
    </md-input-container>
</div>

