typings/
node_modules/
bower_components/
ng2-components/
app/**/*.js
app/**/*.js.map
app/**/*.d.ts

!app/js/Polyline.js
.idea
versions.json
dist/
coverage/

# docker files
docker-compose.yml
Dockerfile
