<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label adf-number-widget" [formGroup]="formGroup">
    <input formControlName="{{controllerName}}" class="mdl-textfield__input"
           type="text"
           pattern="-?[0-9]*(\.[0-9]+)?"
           [attr.id]="field.id"
           [value]="field.value"
           [(ngModel)]="field.value"
           (ngModelChange)="changeValue(field)">
    <label class="mdl-textfield__label" [attr.for]="field.id">{{field.nameKey | translate}}</label>
</div>
