<div class="adf-number-widget" [formGroup]="formGroup">
    <md-input-container class="example-full-width" floatPlaceholder="always">
        <input mdInput
            placeholder="{{field.nameKey | translate}}"
            formControlName="{{controllerName}}"
            type="text"
            pattern="-?[0-9]*(\.[0-9]+)?"
            [attr.id]="field.id"
            [value]="field.value"
            [(ngModel)]="field.value"
            (ngModelChange)="changeValue(field)">
    </md-input-container>
</div>
