.adf-like-container {
    overflow: hidden;
    width: 100%;

    .adf-like {
        padding: 5px;
        cursor: pointer;
        float: left;
        margin: 5px 0px 5px 5px;
    }

    .adf-like-select {
        cursor: pointer;
        color: #2196f3;
    }

    .adf-like-select:hover {
        cursor: pointer;
        color: #808080;
    }

    .adf-like-grey {
        cursor: pointer;
        color: #808080;
    }

    .adf-like-grey:hover {
        cursor: pointer;
        color: #2196f3;
    }

    .adf-like-counter {
        float: left;
        padding: 13px 0 0 0;
    }

    .adf-left {
        float: left;
        padding: 13px 0 0 4px;
    }

}
