<main class="mdl-layout__content">
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <!-- Tab Bars -->
    <div class="mdl-tabs__tab-bar">
        <a *ngIf="ecmUser" href="#ecm-panel" class="mdl-tabs__tab is-active">ECM</a>
        <a *ngIf="bpmUser" href="#bpm-panel" class="mdl-tabs__tab">BPM</a>
    </div>

    <!-- MDL tab panels, is-active to denote currently active -->
    <div *ngIf="ecmUser" class="mdl-tabs__panel" id="ecm-panel">
        <ul class="demo-list-control mdl-list">
            <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      <i class="material-icons  mdl-list__item-avatar">person</i>
                      {{ecmUser.firstName}} {{ecmUser.lastName}}
                    </span>
            </li>
            <li *ngIf="ecmUser.id" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Id: </span>
                <label title="Id">
                    {{ecmUser.id}}
                </label>
            </li>
            <li *ngIf="ecmUser.description" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Description: </span>
                <label title="description">
                    {{ecmUser.description}}
                </label>
            </li>
            <li *ngIf="ecmUser.email" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Email: </span>
                <label title="email">
                    {{ecmUser.email}}
                </label>
            </li>
            <li *ngIf="ecmUser.skypeId" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Skype Id: </span>
                <label title="skypeId">
                    {{ecmUser.skypeId}}
                </label>
            </li>
            <li *ngIf="ecmUser.googleId" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Google Id: </span>
                <label title="googleId">
                    {{ecmUser.googleId}}
                </label>
            </li>
            <li *ngIf="ecmUser.instantMessageId" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Instant Message Id: </span>
                <label title="instantMessageId">
                    {{ecmUser.instantMessageId}}
                </label>
            </li>
            <li *ngIf="ecmUser.jobTitle" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Job Title: </span>
                <label title="jobTitle">
                    {{ecmUser.jobTitle}}
                </label>
            </li>
            <li *ngIf="ecmUser.location" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Location: </span>
                <label title="location">
                    {{ecmUser.location}}
                </label>
            </li>
            <li *ngIf="ecmUser.mobile" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Mobile: </span>
                <label title="mobile">
                    {{ecmUser.mobile}}
                </label>
            </li>
            <li *ngIf="ecmUser.telephone" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Telephone: </span>
                <label title="telephone">
                    {{ecmUser.telephone}}
                </label>
            </li>
            <li *ngIf="ecmUser.userStatus" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">User Status: </span>
                <label title="userStatus">
                    {{ ecmUser.userStatus? 'Active':'Inactive' }}
                </label>
            </li>
            <li *ngIf="ecmUser.enabled" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Enabled: </span>
                <label title="enabled">
                    {{ecmUser.enabled}}
                </label>
            </li>
            <li *ngIf="ecmUser.emailNotificationsEnabled" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Email Notifications: </span>
                <label title="emailNotificationsEnabled">
                    {{ecmUser.emailNotificationsEnabled? 'Enabled': 'Disabled'}}
                </label>
            </li>
        </ul>
    </div>
    <div *ngIf="bpmUser" class="mdl-tabs__panel" id="bpm-panel">
        <ul class="demo-list-control mdl-list">
            <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      <i class="material-icons  mdl-list__item-avatar">person</i>
                      {{bpmUser.fullname}}
                    </span>
            </li>
            <li *ngIf="bpmUser.id" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Id: </span>
                <label title="Id">
                    {{bpmUser.id}}
                </label>
            </li>
            <li *ngIf="bpmUser.email" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Email: </span>
                <label title="email">
                    {{bpmUser.email}}
                </label>
            </li>
            <li *ngIf="bpmUser.status" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Status: </span>
                <label title="jobTitle">
                    {{bpmUser.status}}
                </label>
            </li>
            <li *ngIf="bpmUser.tenantName" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Tenant Name: </span>
                <label title="tenantName">
                    {{bpmUser.tenantName}}
                </label>
            </li>
            <li *ngIf="bpmUser.company" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Company: </span>
                <label title="company">
                    {{bpmUser.company}}
                </label>
            </li>
        </ul>
    </div>
</div>
</main>
