.profile-image {
  text-align: center;
  border-radius: 90%;
  width: 40px;
  margin-right: 0%;
  cursor: pointer;
  border: 1px solid #999999;
}

.button-profile {
  display: inline-block;
  border: 0px;
}

.detail-user-profile-list-mdl{
    margin-right: 100px;
}

.user-profile-list-mdl{
    max-height: 450px;
    max-width: 450px;
    min-width: 410px;
    overflow: auto;
}
