<div id="img_container">
    <span *ngIf="ecmUser">{{ecmUser.firstName || ecmUser.lastName}}</span>
    <span *ngIf="bpmUser">{{bpmUser.firstName || bpmUser.lastName || bpmUser.fullName}}</span>
    <div class="button-profile" id="user-profile" data-automation-id="user-profile">
                <img id="logged-user-img"
                     [src]="getUserAvatar()"
                     class="profile-image"/>
    </div>
    <div class="user-profile-list-mdl
                mdl-menu mdl-menu--bottom-right
                mdl-js-menu mdl-js-ripple-effect"
         for="user-profile">
            <ul class='detail-user-profile-list-mdl mdl-list'>
                <div *ngIf="ecmUser">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content"> ECM </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">First Name : </span>
                        <span  class="mdl-list__item-secondary-content"> {{ecmUser.firstName}}</span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">Last Name : </span>
                        <span  class="mdl-list__item-secondary-content">{{ecmUser.lastName}}</span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">Email : </span>
                        <span  class="mdl-list__item-secondary-content"> {{ecmUser.email}}</span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">Job Title : </span>
                        <span  class="mdl-list__item-secondary-content"> {{ecmUser.jobTitle}}</span>
                    </li>
                </div>
                    <div *ngIf="bpmUser">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content"> BPM </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">First Name : </span>
                        <span  class="mdl-list__item-secondary-content"> {{bpmUser.firstName}}</span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">Last Name : </span>
                        <span  class="mdl-list__item-secondary-content">{{bpmUser.lastName}}</span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">Email : </span>
                        <span  class="mdl-list__item-secondary-content"> {{bpmUser.email}}</span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">Tenant Name : </span>
                        <span  class="mdl-list__item-secondary-content"> {{bpmUser.tenantName}}</span>
                    </li>
                </div>
            </ul>
    </div>
</div>


