<div id="img_container">
    <span *ngIf="ecmUser">{{ecmUser.firstName || ecmUser.lastName}}</span>
    <span *ngIf="bpmUser">{{bpmUser.firstName || bpmUser.lastName || bpmUser.fullName}}</span>
    <div class="button-profile" id="user-profile" data-automation-id="user-profile">
                <img id="logged-user-img"
                     [src]="getUserAvatar()"
                     class="profile-image"/>
    </div>
    <div class="user-profile-list-mdl
                mdl-menu mdl-menu--bottom-right
                mdl-js-menu mdl-js-ripple-effect"
         for="user-profile">
            <ul class='detail-user-profile-list-mdl mdl-list'>
                <div *ngIf="ecmUser">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content" style="color: rgb(255,152,0);"> ECM </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">
                            <strong> First Name : </strong>
                        </span>
                        <span  class="mdl-list__item-secondary-content">
                            <i>{{ecmUser.firstName}}</i>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">
                            <strong>Last Name :</strong>
                        </span>
                        <span  class="mdl-list__item-secondary-content">
                            <i>{{ecmUser.lastName}}</i>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">
                            <strong>Email : </strong>
                        </span>
                        <span  class="mdl-list__item-secondary-content">
                            <i>{{ecmUser.email}}</i>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">
                            <strong> Job Title : </strong>
                        </span>
                        <span  class="mdl-list__item-secondary-content">
                            <i> {{ecmUser.jobTitle}}</i>
                        </span>
                    </li>
                </div>
                    <div *ngIf="bpmUser">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content" style="color: rgb(255,152,0);"> BPM </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">
                            <strong>First Name : </strong>
                        </span>
                        <span  class="mdl-list__item-secondary-content">
                            <i>{{bpmUser.firstName}}</i>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">
                            <strong>Last Name : </strong>
                        </span>
                        <span  class="mdl-list__item-secondary-content">
                            <i>{{bpmUser.lastName}}</i>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">
                            <strong>Email : </strong>
                        </span>
                        <span  class="mdl-list__item-secondary-content">
                            <i>{{bpmUser.email}}</i>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-two-line">
                        <span class="mdl-list__item-secondary-content">
                            <strong>Tenant Name : </strong>
                        </span>
                        <span  class="mdl-list__item-secondary-content">
                            <i>{{bpmUser.tenantName}}</i>
                        </span>
                    </li>
                </div>
            </ul>
    </div>
</div>


