:host .full-width { width: 100%; }

:host .thumbnail {
    width: 48px;
    height: 48px;
    cursor: default;
}

:host .column-header {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    -webkit-touch-callout: none; /* iOS Safari */
}

:host .parent-folder-link { cursor: default; }
:host .parent-folder-link > td { text-align: left; }

:host .data-cell {
    cursor: default;
}
:host .cell-value {}

/* Empty folder */

:host .empty-folder-content {
    padding: 0 !important;
}

:host .empty-folder-content > img {
    width: 100%;
}

/* Utils */

:host .non-selectable {
    user-select: none;
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    -webkit-touch-callout: none; /* iOS Safari */
}

:host .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


:host .ellipsis-cell > div
{
    position: relative;
    overflow: hidden;
    height: 1em;
}


/* visible content */
:host .ellipsis-cell > div > span
{
    display: block;
    position: absolute;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;		/* for vertical align of text */
}


/* cell stretching content */
:host .ellipsis-cell > div:after
{
    content: attr(title);
    overflow: hidden;
    height: 0;
    display: block;
}
