.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    background-color: #fafafa;
    border-bottom: 1px solid transparent;
    border-top: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    height: 53px;
    position: relative;
    -webkit-transition: height .35s cubic-bezier(0.4,0.0,1,1),border-color .4s;
    transition: height .35s cubic-bezier(0.4,0.0,1,1),border-color .4s;
    z-index: 1;
}
