<div class="container">
    <div class="action">
        <button id="actions" class="mdl-button mdl-js-button mdl-button--raised">
            <i class="material-icons">add</i> Create...
        </button>
        <ul alfresco-mdl-menu class="mdl-menu--bottom-left"
            [attr.for]="'actions'">
            <li class="mdl-menu__item"
                (click)="showDialog()" >
                <i class="material-icons mdl-menu__item-icon">folder</i>
                New Folder
            </li>
        </ul>
    </div>
    <div>{{message}}</div>
</div>

<dialog class="mdl-dialog" #dialog>
    <h4 class="mdl-dialog__title">New folder</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input
                    type="text"
                    class="mdl-textfield__input"
                    id="name"
                    required
                    value="Untitled folder"
                    data-automation-id="name"
                    autocapitalize="none" #name/>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" (click)="createFolder(name.value)" class="mdl-button">Create</button>
        <button type="button" (click)="cancel()" class="mdl-button close">Cancel</button>
    </div>
</dialog>