:host .full-width { width: 100%; }

:host .folder-thumbnail {
    font-size: 48px;
    cursor: pointer;
}

:host .document-thumbnail {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

:host .parent-folder-link { cursor: pointer; }
:host .parent-folder-link > td { text-align: left; }

:host .folder-row-cell,
:host .document-row-cell {
    cursor: pointer;
}

:host .folder-row-cell.name-column,
:host .document-row-cell.name-column {
    font-size: 15px;
}

:host .folder-row-cell.name-column:hover,
:host .document-row-cell.name-column:hover {
    text-decoration: underline;
    cursor: pointer;
}

:host .breadcrumb { margin-bottom: 4px; }
