<adf-datatable
    [selectionMode]="selectionMode"
    [data]="data"
    [actions]="contentActions"
    [actionsPosition]="contentActionsPosition"
    [multiselect]="multiselect"
    [allowDropFiles]="allowDropFiles"
    [contextMenu]="contextMenuActions"
    [rowStyle]="rowStyle"
    [rowStyleClass]="rowStyleClass"
    [loading]="loading"
    [showHeader]="!isEmpty()"
    (showRowContextMenu)="onShowRowContextMenu($event)"
    (showRowActionsMenu)="onShowRowActionsMenu($event)"
    (executeRowAction)="onExecuteRowAction($event)"
    (rowClick)="onNodeClick($event.value?.node)"
    (rowDblClick)="onNodeDblClick($event.value?.node)"
    (row-select)="onNodeSelect($event.detail)"
    (row-unselect)="onNodeUnselect($event.detail)">

    <div *ngIf="!isEmptyTemplateDefined()">
        <no-content-template>
            <ng-template>
                <adf-empty-list>
                    <adf-empty-list-header>
                        <div> {{'ADF-DOCUMENT-LIST.EMPTY.HEADER' | translate}} </div>
                    </adf-empty-list-header>
                </adf-empty-list>
            </ng-template>
        </no-content-template>
    </div>

    <div>
        <loading-content-template>
            <ng-template>
                <div class="adf-document-list-loading-container">
                    <md-progress-spinner
                        id="adf-document-list-loading"
                        class="adf-document-list-loading-margin"
                        [color]="'primary'"
                        [mode]="'indeterminate'">
                    </md-progress-spinner>
                </div>
            </ng-template>
        </loading-content-template>
    </div>
</adf-datatable>

<adf-pagination
    *ngIf="isPaginationEnabled()"
    (changePageSize)="onChangePageSize($event)"
    (nextPage)="onNextPage($event)"
    (prevPage)="onPrevPage($event)"
    [pagination]="pagination"
    [supportedPageSizes]="[5, 10, 15, 20]">
</adf-pagination>
