<alfresco-datatable
    [data]="data"
    [actions]="contentActions"
    [multiselect]="multiselect"
    [fallbackThumbnail]="baseComponentPath + '/img/ft_ic_miscellaneous.svg'"
    (showRowContextMenu)="onShowRowContextMenu($event)"
    (showRowActionsMenu)="onShowRowActionsMenu($event)"
    (executeRowAction)="onExecuteRowAction($event)"
    (rowClick)="onRowClick($event)"
    (rowDblClick)="onRowDblClick($event)">
    <no-content-template>
        <template>
            <img [src]="baseComponentPath + '/img/document-list.empty-folder.png'">
        </template>
    </no-content-template>
</alfresco-datatable>
