<md-list>
    <md-list-item *ngFor="let currentEntry of tagsEntries; let idx = index">
        <div class="adf-tag-actions-container" id="tag_delete_{{idx}}" (click)="removeTag(currentEntry.entry.id)">
            <div class="adf-tag-actions-delete-text" id="tag_name_{{idx}}">
                {{currentEntry.entry.tag}}
            </div>
            <md-icon class="adf-tag-actions-delete-icon">delete</md-icon>
        </div>
    </md-list-item>
</md-list>
<table class="adf-full-width" cellspacing="0">
    <tr>
        <td>
            <md-input-container class="adf-full-width">
                <input mdInput placeholder="{{'TAG.LABEL.NEWTAG' | translate }}"
                       type="text"
                       (keypress)="cleanErrorMsg()"
                       [(ngModel)]="newTagName"
                       id="new-tag-text"/>
                <md-hint *ngIf="error" [ngStyle]="{'color': 'red'}" align="start">{{errorMsg}}</md-hint>
            </md-input-container>
        </td>
        <td>
            <button class="adf-full-width" id="add-tag" (click)="addTag()" [disabled]="disableAddTag"
                    md-raised-button>
                {{'TAG.BUTTON.ADD' | translate }}
            </button>
        </td>
    </tr>
</table>
