.adf {
    &-info-drawer {
        width: 350px;
        display: block;
        padding: 8px 0;
        background-color: #FAFAFA;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);

        &-header {
            padding: 8px 24px 24px 24px;
            display: flex;
            justify-content: space-between;
            font-size: 20px;

            &-buttons {
                md-icon {
                    cursor: pointer;
                }
            }
        }

        &-content {

            & .mat-tab-body-content > * {
                margin-bottom: 20px;
                display: block;
            }

            .mat-tab-label {
                flex-grow: 1;
            }

            .mat-ink-bar {
                height: 4px;
            }

            .mat-tab-body {
                padding: 10px;
            }

            .mat-tab-body-content {
                overflow: initial;
            }
        }
    }
}