.adf-task-cloud-demo-select {
    padding: 10px;
}

.adf-task-cloud-demo-select .mat-expansion-panel-body {
    display: flex;
}

.adf-app-task-list-cloud-demo-selection {
    display: flex;
}

.adf-task-row-clicked {
    align-self: center;
}
