<div class="adf-number-widget" [formGroup]="formGroup">
    <mat-form-field class="example-full-width" floatPlaceholder="always">
        <input matInput
            placeholder="{{field.nameKey | translate}}"
            formControlName="{{controllerName}}"
            type="text"
            pattern="-?[0-9]*(\.[0-9]+)?"
            [id]="field.id"
            [value]="field.value"
            [(ngModel)]="field.value"
            (ngModelChange)="changeValue(field)">
    </mat-form-field>
</div>
