version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "07:00"
    open-pull-requests-limit: 5
    target-branch: develop
    groups:
      angular:
        patterns:
          - "@angular/*"
      angular-devkit:
        patterns:
          - "@angular-devkit/*"
      ngrx:
        patterns:
          - "@ngrx/*"
      nrwl:
        patterns:
          - "@nrwl/*"
    ignore:
      - dependency-name: "pdfjs-dist"
      - dependency-name: "@types/*"
      - dependency-name: "typescript"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/before-install"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/download-node-modules-and-artifacts"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/enable-dryrun"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/get-latest-tag-sha"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/npm-check-bundle"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/set-npm-tag"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/setup"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/slack-group-area"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/upload-node-modules-and-artifacts"
    schedule:
      interval: "weekly"
