<div class="mdl-grid">

    <div class="mdl-cell mdl-cell--2-col">
        <div *ngIf="!hasTasks()">No tasks found</div>
        <div *ngIf="hasTasks()">
            <ul class="mdl-list">
                <li *ngFor="let task of tasks"
                    class="mdl-list__item activiti-task-list__item"
                    (click)="onTaskClicked(task, $event)">
                    <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">launch</i>
                    {{task.name}}
                </span>
            </ul>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--10-col">
        <div *ngIf="!hasForm()">
            <h3 style="text-align: center">Please select a Task</h3>
        </div>
        <div *ngIf="hasForm()">

            <div class="mdl-card mdl-shadow--2dp activiti-form-container">
                <div *ngIf="task" class="mdl-card__title">
                    <h2 class="mdl-card__title-text">{{task.name}}</h2>
                </div>
                <div class="mdl-card__media">
                    <div *ngIf="form.hasTabs()">
                        <tabs-widget [tabs]="form.tabs"></tabs-widget>
                    </div>

                    <div *ngIf="!form.hasTabs() && form.hasFields()">
                        <container-widget [content]="form.fields[0]"></container-widget>
                    </div>
                </div>
                <div *ngIf="form.hasOutcomes()" class="mdl-card__actions mdl-card--border">
                    <button *ngFor="let outcome of form.outcomes"
                            alfresco-mdl-button
                            [class.mdl-button--colored]="!outcome.isSystem"
                            (click)="onOutcomeClicked(outcome, $event)">
                        {{outcome.name}}
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="activiti-form-debug-container">

    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1" [class.is-checked]="debugMode">
        <input type="checkbox" id="switch-1" class="mdl-switch__input" [(ngModel)]="debugMode">
        <span class="mdl-switch__label"></span>
        <span class="debug-toggle-text">Debug mode</span>
    </label>

    <div *ngIf="debugMode && hasForm()">
        <h4>Values</h4>
        <pre>{{form.values | json}}</pre>

        <h4>Form</h4>
        <pre>{{form.json | json}}</pre>

        <h4>Task</h4>
        <pre>{{task | json}}</pre>
    </div>
</div>
