.app-layout {
    display: flex;
    flex: 1;
    min-width: 320px;
    height: 100%;

    .app-sidenav-link--active {
        color: var(--theme-primary-color);
    }

    &-menu-spacer {
        flex: 1 1 auto;
    }
}
