<adf-sidenav-layout [sidenavMin]="70" [sidenavMax]="220" [stepOver]="780" [hideSidenav]="hideSidenav"
    [expandedSidenav]="expandedSidenav" (expanded)="setState($event)" [position]="position" data-automation-id="sidenav-layout">

    <adf-sidenav-layout-header>
        <ng-template let-toggleMenu="toggleMenu" let-isMenuMinimized="isMenuMinimized">

            <adf-layout-header id="adf-header" [title]="title | translate" [redirectUrl]="redirectUrl" [logo]="logo"
                [tooltip]="tooltip | translate" [showSidenavToggle]="showMenu" [expandedSidenav]="!isMenuMinimized()"
                [color]="color" [position]="position" (clicked)=toggleMenu($event)>

                <div class="app-layout-menu-spacer"></div>

                <app-search-bar fxFlex="0 1 auto"></app-search-bar>

                <div class="app-header-delimiexpandedSidenavter"></div>

                <adf-userinfo [menuPositionX]="'before'" [menuPositionY]="'above'">
                </adf-userinfo>

                <app-theme-picker></app-theme-picker>
                <button data-automation-id="language-menu-button" mat-icon-button [matMenuTriggerFor]="langMenu">
                    <mat-icon>language</mat-icon>
                </button>
                <mat-menu #langMenu="matMenu" class="app-menu">
                    <adf-language-menu></adf-language-menu>
                </mat-menu>

                <adf-notification-history menuPositionX="before" menuPositionY="above"></adf-notification-history>

            </adf-layout-header>
        </ng-template>
    </adf-sidenav-layout-header>

    <adf-sidenav-layout-navigation>
        <ng-template let-isMenuMinimized="isMenuMinimized">
            <mat-nav-list class="app-sidenav-linklist">
                <ng-container *ngFor="let link of links">
                    <ng-container *ngIf="link.children">
                        <mat-list-item (click)="trigger.openMenu()" [attr.data-automation-id]="link.title | translate" class="app-sidenav-link">
                            <mat-icon matListIcon>{{link.icon}}</mat-icon>
                            <span matLine *ngIf="!isMenuMinimized()">{{link.title | translate }}</span>
                            <mat-icon class="app-sidenav-link__expand-button" [matMenuTriggerData]="{links: link.children}"
                                rippleTrigger mat-icon-button #trigger="matMenuTrigger"
                                [matMenuTriggerFor]="nestedMenu">arrow_right</mat-icon>
                        </mat-list-item>
                    </ng-container>

                    <ng-container *ngIf="!link.children">
                        <mat-list-item [routerLink]="link.href"
                            routerLinkActive="app-sidenav-link--active" [routerLinkActiveOptions]="{ exact: true }"
                            [attr.data-automation-id]="link.title | translate" class="app-sidenav-link">
                            <mat-icon matListIcon >{{link.icon}}</mat-icon>
                            <span matLine *ngIf="!isMenuMinimized()">{{link.title | translate }}</span>
                        </mat-list-item>
                    </ng-container>
                </ng-container>

                <mat-list-item adf-logout [enableRedirect]="enableRedirect" redirectUri="/logout" class="app-sidenav-link" data-automation-id="Logout" >
                    <mat-icon matListIcon>exit_to_app</mat-icon>
                    <span matLine *ngIf="!isMenuMinimized()">Logout</span>
                </mat-list-item>
            </mat-nav-list>

        </ng-template>
    </adf-sidenav-layout-navigation>

    <adf-sidenav-layout-content>
        <ng-template>
            <router-outlet></router-outlet>
        </ng-template>
    </adf-sidenav-layout-content>

</adf-sidenav-layout>
<app-log></app-log>

<mat-menu #nestedMenu="matMenu" xPosition="after" class="nestedMenu">
    <ng-template matMenuContent let-links="links">
        <button mat-menu-item *ngFor="let link of links"
            class="app-sidenav-link"
            [attr.data-automation-id]="link.title | translate"
            routerLinkActive="app-sidenav-link--active"
            [routerLink]="link.href"
            [routerLinkActiveOptions]="{ exact: true }">

            <mat-icon matListIcon>{{link.icon}}</mat-icon>
            {{ link.title | translate }}
        </button>
    </ng-template>
</mat-menu>
