.date-widget {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.date-widget--button {
    margin-top: 10px;
}

.mdl-date__input{
    padding-top: 5px;
    padding-bottom: 5px;
}

.mdl-grid__date-widget{
    align-items:center;
    padding: 0px;
}

.date-widget__invalid .mdl-textfield__input {
    border-color: #d50000;
}

.date-widget__invalid .mdl-textfield__label {
    color: #d50000;
}

.date-widget__invalid .mdl-textfield__label:after {
    background-color: #d50000;
}

.date-widget__invalid .mdl-textfield__error {
    visibility: visible !important;
}

.date-widget-button__cell{
    margin-top: 0px;
    margin-bottom: 0px;
}
