<div class="{{field.className}}" *ngIf="field?.isVisible" id="data-widget" [class.adf-invalid]="!field.isValid || field.validationSummary">
    <md-input-container class="adf-date-widget">
        <label class="adf-label" [attr.for]="field.id">{{field.name}} ({{field.dateDisplayFormat}})<span *ngIf="isRequired()">*</span></label>
        <input mdInput
               [id]="field.id"
               [mdDatepicker]="datePicker"
               [(value)]="field.value"
               [required]="isRequired()"
               [disabled]="field.readOnly"
               [min]="minDate"
               [max]="maxDate"
               (focusout)="onDateChanged($event.srcElement.value)"
               placeholder="{{field.placeholder}}">
        <button class="adf-date-widget-button" mdSuffix [mdDatepickerToggle]="datePicker"  [disabled]="field.readOnly"></button>
    </md-input-container>
    <error-widget [error]="field.validationSummary" ></error-widget>
    <error-widget *ngIf="isInvalidFieldRequired()" required="{{ 'FORM.FIELD.REQUIRED' | translate }}"></error-widget>
    <md-datepicker #datePicker [touchUi]="true" [startAt]="startAt" (selectedChanged)="onDateChanged($event)"></md-datepicker>
</div>

