@import 'theming';
@import '../form';

.adf {
    &-date-widget {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &-date-widget-button {
        position: relative;
        top: 25px;
    }

    &-date-input {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &-grid-date-widget {
        align-items: center;
        padding: 0px;
    }

    &-date-widget-button__cell {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
