@import 'theming';
@import '../form';

.adf {

    &-date-widget {
        .mat-input-suffix {
            position: absolute;
            margin-top: 42px;
            width: 100%;
        }
    }

    &-date-widget-button {
        position: relative;
        float: right;
    }

    &-date-input {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &-grid-date-widget {
        align-items: center;
        padding: 0;
    }

    &-date-widget-button__cell {
        margin-top: 0;
        margin-bottom: 0;
    }
}
