@import 'theming';

.adf {
    &-date-widget {
        width: 70%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &-date-widget--button {
        margin-top: 10px;
    }

    &-date-input {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &-grid-date-widget {
        align-items: center;
        padding: 0px;
    }

    &-invalid {
        .adf-input {
            border-color:$alfresco-warn-color--hue-3;
        }

        .adf-label {
            color: $alfresco-warn-color--hue-3;
            &:after {
            background-color: $alfresco-warn-color--hue-3;
            }
        }

        .adf-error-text {
            padding: 1px;
            height: 16px;
            font-size: 12px;
            line-height: 1.33;
            float: left;
            color: $alfresco-warn-color--hue-3;
        }

        .adf-error-icon {
            float: right;
            font-size: 17px;
            color: $alfresco-warn-color--hue-3;
        }
    }

    &-date-widget-button__cell {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
