app-home-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

    .app-home-headline {
        h1 {
            font-size: 56px;
            font-weight: 300;
        }

        h2 {
            font-size: 18px;
            font-weight: 300;
        }
    }
}
