<div class="app-home-background">
    <div class="app-home-headline">
        <h1>ADF</h1>
        <h2>Angular components for Alfresco</h2>
    </div>
    <div>
        <h1>Buttons</h1>
        <div style="display: flex; flex-direction: column; gap: 8px">
            <adf-button variant="basic" tooltip="some tooltip">Basic</adf-button>
            <adf-button variant="raised">Raised</adf-button>
            <adf-button variant="stroked">Stroked</adf-button>
            <adf-button variant="flat">Flat</adf-button>
            <adf-button variant="icon">Icon</adf-button>
            <adf-button variant="fab">Fab</adf-button>
            <adf-button variant="mini-fab">Mini Fab</adf-button>
        </div>
    </div>
</div>
