<header class="adf-home-background">
    <div class="adf-home-section ad">
        <div class="adf-home-headline">
            <h1 class="mat-h1">ADF</h1>
            <h2>{{ 'APP.HOME.TITLE' | translate}}</h2>
        </div>

        <div class="adf-home-start">
            <a mat-raised-button class="adf-home-docs-button adf-primary-color" href="https://github.com/Alfresco/alfresco-ng2-components/tree/master/docs">{{ 'APP.HOME.DOCUMENTATION' | translate}}</a>
        </div>
    </div>
</header>
