/.angular/cache
*.log
node_modules
bundles
workspace.xml
.idea/
*.iml
.env.*
.env
dist
e2e/.env.cloud
tmp
temp
/nxcache
*.npmrc
.history
.ng_pkg_build/
/docs/sourceinfo
/docs/docs.json
coverage/
/desktop.ini
out-tsc
/reports/
e2e-result-*
licenses.txt
.DS_Store
.angular
NX
.nx
