*.log
node_modules
bundles
workspace.xml
.idea/
.env*
.env
dist/
e2e/.env.cloud
tmp
e2e-output/
/e2e/downloads/
*.npmrc
.history
/ng2-components/ng2-alfresco-core/prebuilt-themes/
.ng_pkg_build/
/demo-shell/dist-dev-temp/
/lib/export-new.json
/lib/config/exportCheck.js
/docs/sourceinfo
/docs/docs.json
/protractorFailuresReport
coverage/
/desktop.ini
out-tsc
