language: node_js
dist: trusty
sudo: required

node_js:
  - "5"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable


before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

env:
  global:
    - DEV_REGISTRY=http://devproducts.alfresco.me:8081/
  matrix:
    - MODULE=ng2-alfresco-core
    - MODULE=ng2-alfresco-datatable
    - MODULE=ng2-alfresco-documentlist
    - MODULE=ng2-alfresco-login
    - MODULE=ng2-alfresco-search
    - MODULE=ng2-alfresco-upload
    - MODULE=ng2-alfresco-viewer

before_script:
  - npm set proxy $DEV_REGISTRY
  - npm config set https-proxy $DEV_REGISTRY
  - cd ./ng2-components/$MODULE; npm install --registry $DEV_REGISTRY
  - ls -ltrh ./node_modules/
script: npm run test
# Send coverage data to Coveralls
#after_script: "cat ./ng2-components/$MODULE/coverage/lcov.info | ./ng2-components/$MODULE/node_modules/coveralls/bin/coveralls.js"
