language: node_js
dist: trusty
sudo: required

node_js:
  - "5"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable


before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - (cd ng2-components/ng2-alfresco-core; npm install; npm link);(cd ng2-components/ng2-alfresco-datatable; npm link ng2-alfresco-core; npm install; npm link)

env:
  matrix:
    - MODULE=ng2-alfresco-core
    - MODULE=ng2-alfresco-datatable
    - MODULE=ng2-alfresco-documentlist
    - MODULE=ng2-alfresco-login
    - MODULE=ng2-alfresco-search
    - MODULE=ng2-alfresco-upload
    - MODULE=ng2-alfresco-viewer

before_script:
  - cd ng2-components/$MODULE; npm install; npm run travis
  - ls -ltrh ./node_modules/
script: npm run test
# Send coverage data to Coveralls
after_success:
  - bash <(curl -s https://codecov.io/bash)