git:
  depth: 3
  quiet: true

language: node_js
arch: arm64-graviton2
dist: bionic
node_js:
  - '12.18.4'

before_install: . ./scripts/ci/job_hooks/before_install.sh
install:
    echo "no install"

env:
    global:
        #E2E VARIABLES
        - SAVE_SCREENSHOT=true
        - REDIRECT_URI=/
        - REDIRECT_URI_LOGOUT=/logout/
        - BROWSER_RUN=true
        - MAXINSTANCES=3

branches:
  only:
  - master
  - develop
  - /.*old-env.*/
  - /.*next-release.*/
  - /.*beta.*/

stages:
  - name: Lint & Build Dist & Release
    if: tag IS blank
  - name: Check bundle
    if: type = push AND tag IS blank
  - name: Trigger ADF child build
    if: (branch = develop AND type = push) OR type = api
  - name: Unit test
    if: (branch != master AND type != cron AND tag IS blank) OR type = api
  - name: e2e Test
    if: (branch != master AND type != cron AND tag IS blank) OR type = api
  - name: Update Children Projects
    if: tag =~ .*beta.*
  - name: Release tag
    if: type = cron OR branch = master

addons:
    chrome: stable
before_script:
    - export GIT_HASH=`git rev-parse HEAD`
services:
    - xvfb

jobs:
    include:
        # Run Only for any PR
        - stage: Lint & Build Dist & Release
          name:  Build
          script:
            - ./scripts/travis/build/build.sh
            - ./scripts/travis/release/release-npm.sh
            - ./scripts/travis/release/release-docker.sh

          after_success:
            - ./scripts/ci/utils/artifact-to-s3.sh -a ./dist/demo-shell -o "$S3_DBP_FOLDER/alfresco-demoshell.tar.bz2"
            - ./scripts/ci/utils/artifact-to-s3.sh -a ./lib/dist -o "$S3_DBP_FOLDER/alfresco-libs.tar.bz2"

        - stage: Lint & Build Dist & Release
          name:  Lint
          script:
             - ./scripts/lint.sh

        - stage: Unit test
          name: Unit test content
          script:  ./scripts/travis/unit-test/content.sh
        - stage: Unit test
          name: Unit test core extension demo
          script: ./scripts/travis/unit-test/core-extension.sh
        - stage: Unit test
          name: Unit test process insights
          script: ./scripts/travis/unit-test/process.sh
        - stage: Unit test
          name: Unit test process-cloud
          script: ./scripts/travis/unit-test/process-cloud.sh


        - stage: Update Children Projects
          script: ./scripts/travis/update/update-children.sh

        - stage: Release tag
          script: ./scripts/travis/release/git-tag.sh

        - stage: e2e Test
          name: core
          before_script:
            - ./scripts/ci/job_hooks/before_e2e.sh
            - ./scripts/ci/check-env/check-cs-env.sh || travis_terminate 1
            - ./scripts/ci/check-env/check-ps-env.sh || travis_terminate 1
          script: ./scripts/travis/e2e/core-e2e.sh
          after_script: ./scripts/ci/job_hooks/after_e2e.sh

        - stage: e2e Test
          name:  content
          before_script:
              - ./scripts/ci/job_hooks/before_e2e.sh
              - ./scripts/ci/check-env/check-cs-env.sh || travis_terminate 1
          script: ./scripts/travis/e2e/content-services-e2e.sh
          after_script: ./scripts/ci/job_hooks/after_e2e.sh

        - stage: e2e Test
          name:  search
          before_script:
              - ./scripts/ci/job_hooks/before_e2e.sh
              - ./scripts/ci/check-env/check-cs-env.sh || travis_terminate 1
          script: ./scripts/travis/e2e/search-e2e.sh
          after_script: ./scripts/ci/job_hooks/after_e2e.sh

        - stage: e2e Test
          name: process
          before_script:
              - ./scripts/ci/job_hooks/before_e2e.sh || travis_terminate 1
              - ./scripts/ci/check-env/check-ps-env.sh || travis_terminate 1
          script: ./scripts/travis/e2e/process-services-e2e.sh
          after_script: ./scripts/ci/job_hooks/after_e2e.sh

        - stage: e2e Test
          name: process Cloud
          before_script:
              - ./scripts/ci/job_hooks/before_e2e.sh
              - ./scripts/ci/check-env/check-cs-env.sh || travis_terminate 1
              - ./scripts/ci/check-env/check-ps-cloud-env.sh || travis_terminate 1
          script: ./scripts/travis/e2e/process-services-cloud-e2e.sh
          after_script: ./scripts/ci/job_hooks/after_e2e.sh

        - stage: Check bundle
          script:
          - ADF_VERSION=$(npm view @alfresco/adf-core@${TAG_NPM} version)
          - ./scripts/npm-check-bundles.sh -v ${ADF_VERSION}


        - stage: Trigger ADF child build
          name: Trigger ADF child build
          script: ./scripts/travis/update/trigger-travis-children.sh --branch $TRAVIS_BRANCH Alfresco $TRAVIS_ACCESS_TOKEN

notifications:
  slack:
    on_pull_requests: false
    rooms:
      secure: "qcTP/+rhVweMSZZAQMPz4sW7boS8XC0RX1SPYgg7hIfxBr9747WpRLkJ1sirkVaXI/6XfYAyl42CTfPmTuJxIC+co/NSnEDknwVsnKZd0O/ykTpo+mxIN4BTZX8dm+gELR5IEYQPs+Yki3ZnD9b+0mCK1yD8JallKCQeE2U9BhzZhP/Fn0ce35EulybNp3QQDaox0XC+7gadMdxlvK8mzP1scw76wRLtx25QLxxV+OwEw0bzyh8y3onfjHfnoDcUQWRTNdnjapzmgf1LNdC202A5kwp5sJggfSDr+ActRqaMvv4BbMsFpdan34B6zPQJfyZL1r8IB8O8BEKcAaOUVcTjnZAOom8kHS8F07/mo5xnNYmV8oNX2/egr1CiG4U0EAGF2XGqM+vetYnF88LTEzy84kVxmSwKGVfzlGOyTplMXJ1iCENndtfWm1AXhAFj5RSsSAZg6IStTM+mcpnC75moEwQtj8bTenwehHz1HQAjQX7xeTQo27SxDc7oqp1ReyXCllMjKxckjVGmp2j6yxn1Jl55kivBj57vluLtEtziOGluVELP5E2fV0VAuErNhnjLm4LJARVN76PQaTOXYwATVVJJDhb/77TesvxQsr3VfiROEKm7QB7IDFjghjLLisSX67JQ5+7K/qMlqf9+9hNw4n0v1eMylVjt+gyxspc="
    on_failure: always
    on_success: change
    template:
      - "Repo `%{repository_slug}` *%{result}* build (<%{build_url}|#%{build_number}>) for commit (<%{compare_url}|%{commit}>) on branch `%{branch}`."
      - "Author: %{author} Execution time: *%{duration}*"
      - "Message: %{message}"

cache:
  directories:
  - node_modules
  - tmp
