.adf-home-card {
    float: left;
    margin: 10px 10px 10px 10px;
    width: 290px;
    display: block;
    overflow-y: auto;
    height: 400px;
}

.adf-home-card-title {
    padding: 24px;
    cursor: pointer;
    height: 55px;
    margin: -63px -24px 18px -25px !important;
}

.adf-home-card__text {
    font-size: 16px;
    line-height: 18px;
}

.adf-home-feature-list {
    list-style: none;
    padding-left: 0;
}

span.home--feature-list__text:before {
    content: '';
    padding-left: 4px;
}
