<!-- DOCUMENT LIST-->
<md-card class="adf-home-card">
        <md-card-title class="adf-home-card-title adf-primary-background-color"  routerLink="/files">
            <h2 >
                <md-icon>dvr</md-icon>
                <span class="adf-home-card__text">DocumentList - Content Services</span>
            </h2>
        </md-card-title>
    <md-card-content>
        Demonstrates multiple Alfresco Content Services components used together to display the files of your Content Services instance:
        <ul class="adf-home-feature-list">
            <li>
                <md-icon>brightness_1</md-icon>
                <span class="adf-home-feature-list__text">Communication with the Rest Api and core services</span>
                <a href="https://www.npmjs.com/package/ng2-alfresco-core" target="_blank">ng2-alfresco-core</a>
            </li>
            <li>
                <md-icon>dvr</md-icon>
                <span class="adf-home-feature-list__text">Document List</span>
                <a href="https://www.npmjs.com/package/ng2-alfresco-documentlist" target="_blank">ng2-alfresco-documentlist</a>
            </li>
            <li>
                <md-icon>file_upload</md-icon>
                <span class="adf-home-feature-list__text">Upload</span>
                <a href="https://www.npmjs.com/package/ng2-alfresco-upload" target="_blank">ng2-alfresco-upload</a>
            </li>
            <li>
                <md-icon>view_module</md-icon>
                <span class="adf-home-feature-list__text">DataTable</span>
                <a href="https://www.npmjs.com/package/ng2-alfresco-datatable" target="_blank">ng2-alfresco-datatable</a>
            </li>
        </ul>
    </md-card-content>
</md-card>


<!-- Process Services-->
<md-card class="adf-home-card">
        <md-card-title class="adf-home-card-title adf-primary-background-color"  routerLink="/activiti">
            <h2 >
                <md-icon>apps</md-icon>
                <span class="adf-home-card__text">Process Services</span>
            </h2>
        </md-card-title>
    <md-card-content>
        Demonstrates multiple Alfresco Process Services components used together to show your Process Services process and tasks:
        <ul class="adf-home-feature-list">
            <li>
                <md-icon>brightness_1</md-icon>
                <span class="adf-home-feature-list__text">Communication with the Rest Api and core services</span>
                <a href="https://www.npmjs.com/package/ng2-alfresco-core" target="_blank">ng2-alfresco-core</a>
            </li>
            <li>
                <md-icon>view_module</md-icon>
                <span class="adf-home-feature-list__text">App List</span>
                <a href="https://www.npmjs.com/package/ng2-activiti-tasklist" target="_blank">ng2-activiti-apps</a>
            </li>
            <li>
                <md-icon>view_headline</md-icon>
                <span class="adf-home-feature-list__text">Task List</span>
                <a href="https://www.npmjs.com/package/ng2-activiti-tasklist" target="_blank">ng2-activiti-tasklist</a>
            </li>
            <li>
                <md-icon>view_headline</md-icon>
                <span class="adf-home-feature-list__text">Process List</span>
                <a href="https://www.npmjs.com/package/ng2-activiti-processlist" target="_blank">ng2-activiti-processlist</a>
            </li>
            <li>
                <md-icon>view_quilt</md-icon>
                <span class="adf-home-feature-list__text">Form</span>
                <a href="https://www.npmjs.com/package/ng2-activiti-form" target="_blank">ng2-activiti-form</a>
            </li>
            <li>
                <md-icon>pie_chart</md-icon>
                <span class="adf-home-feature-list__text">Analytics</span>
                <a href="https://www.npmjs.com/package/ng2-activiti-analytics" target="_blank">ng2-activiti-analytics</a>,
                <a href="https://www.npmjs.com/package/ng2-activiti-diagrams" target="_blank">ng2-activiti-diagrams</a>
            </li>
            <li>
                <md-icon>view_module</md-icon>
                <span class="adf-home-feature-list__text">DataTable</span>
                <a href="https://www.npmjs.com/package/ng2-alfresco-datatable" target="_blank">ng2-alfresco-datatable</a>
            </li>
        </ul>
    </md-card-content>
</md-card>


<!-- DATATABLE-->
<md-card class="adf-home-card">
        <md-card-title class="adf-home-card-title adf-primary-background-color"  routerLink="/datatable">
            <h2 >
                <md-icon>view_module</md-icon>
                <span class="adf-home-card__text">DataTable - Content Services & Process Services</span>
            </h2>
        </md-card-title>
    <md-card-content>
        Basic table component:
        <ul class="adf-home-feature-list">
            <li>
                <md-icon>brightness_1</md-icon>
                <span class="adf-home-feature-list__text">Communication with the Rest Api and core services</span>
                <a href="https://www.npmjs.com/package/ng2-alfresco-core" target="_blank">ng2-alfresco-core</a>
            </li>
        </ul>
    </md-card-content>
</md-card>

<!-- UPLOADER-->
<md-card class="adf-home-card">
        <md-card-title class="adf-home-card-title adf-primary-background-color"  routerLink="/uploader">
            <h2 >
                <md-icon>file_upload</md-icon>
                <span class="adf-home-card__text">Uploader - Content Services</span>
            </h2>
        </md-card-title>
    <md-card-content>
        Basic table uploader component for the Content Services & Process Services:
        <ul class="adf-home-feature-list">
            <li>
                <md-icon>brightness_1</md-icon>
                <span class="adf-home-feature-list__text">Communication with the Rest Api and core services</span>
                <a href="https://www.npmjs.com/package/ng2-alfresco-core" target="_blank">ng2-alfresco-core</a>
            </li>
        </ul>
    </md-card-content>
</md-card>

<!-- LOGIN-->
<md-card class="adf-home-card">
        <md-card-title class="adf-home-card-title adf-primary-background-color"  routerLink="/login">
            <h2 >
                <md-icon>account_circle</md-icon>
                <span class="adf-home-card__text">Login - Content Services & Process Services</span>
            </h2>
        </md-card-title>
    <md-card-content>
        Login component for the Content Services and Process Services:
        <ul class="adf-home-feature-list">
            <li>
                <md-icon>brightness_1</md-icon>
                <span class="adf-home-feature-list__text">Communication with the Rest Api and core services</span>
                <a href="https://www.npmjs.com/package/ng2-alfresco-core" target="_blank">ng2-alfresco-core</a>
            </li>
        </ul>
    </md-card-content>
</md-card>

<!-- WEBSCRIPT-->
<md-card class="adf-home-card">
    <md-card-title class="adf-home-card-title adf-primary-background-color"  routerLink="/webscript">
        <h2 >
            <md-icon>extension</md-icon>
            <span class="adf-home-card__text">Webscript - Content Services</span>
        </h2>
    </md-card-title>
    <md-card-content>
        Displays and creates webscripts in your Content Services instance:
        <ul class="adf-home-feature-list">
            <li>
                <md-icon>brightness_1</md-icon>
                <span class="adf-home-feature-list__text">Communication with the Rest Api and core services</span>
                <a href="https://www.npmjs.com/package/ng2-alfresco-core" target="_blank">ng2-alfresco-core</a>
            </li>
        </ul>
    </md-card-content>
</md-card>

<!-- TAG-->
<md-card class="adf-home-card">
        <md-card-title class="adf-home-card-title adf-primary-background-color"  routerLink="/tag">
            <h2 >
                <md-icon>local_offer</md-icon>
                <span class="adf-home-card__text">Tag - Content Services</span>
            </h2>
        </md-card-title>
    <md-card-content>
        Displays and adds tags to the node of your Content Services instance:
        <ul class="adf-home-feature-list">
            <li>
                <md-icon>brightness_1</md-icon>
                <span class="adf-home-feature-list__text">Communication with Rest</span>
                <a href="https://www.npmjs.com/package/ng2-alfresco-core" target="_blank">ng2-alfresco-core</a>
            </li>
        </ul>
    </md-card-content>
</md-card>
