<div class="p-10">
    <h1>Demo App</h1>
    <p>Demo Application for Alfresco Angular 2 Components</p>

    <h2>Featured demos</h2>
    Some of the areas will require diffent authentication providers.
    See details for each component.
    You may be automatically redirected to Login screen.


    <h3><a href="" routerLink="/files">DocumentList</a></h3>
    <div>
        Demonstrates multiple Alfresco ECM components used together:
        <ul>
            <li>
                Document List (
                    <a href="https://www.npmjs.com/package/ng2-alfresco-documentlist" target="_blank">ng2-alfresco-documentlist</a>
                )
            </li>
            <li>
                Upload (
                    <a href="https://www.npmjs.com/package/ng2-alfresco-upload" target="_blank">ng2-alfresco-upload</a>
                )
            </li>
            <li>
                Context Menu (
                    <a href="https://www.npmjs.com/package/ng2-alfresco-core" target="_blank">ng2-alfresco-core</a>
                )
            </li>
            <li>
                DataTable (
                    <a href="https://www.npmjs.com/package/ng2-alfresco-datatable" target="_blank">ng2-alfresco-datatable</a>
                )
            </li>
        </ul>
    </div>
    <p>
        Authentication provider: ECM
    </p>

    <h3><a href="" routerLink="/activiti">Activiti</a></h3>
    <div>
        Demonstrates multiple Alfresco BPM components used together:
        <ul>
            <li>
                App List (
                    <a href="https://www.npmjs.com/package/ng2-activiti-tasklist" target="_blank">ng2-activiti-tasklist</a>
                )
            </li>
            <li>
                Task List (
                    <a href="https://www.npmjs.com/package/ng2-activiti-tasklist" target="_blank">ng2-activiti-tasklist</a>
                )
            </li>
            <li>
                Process List (
                    <a href="https://www.npmjs.com/package/ng2-activiti-processlist" target="_blank">ng2-activiti-processlist</a>
                )
            </li>
            <li>
                Form (
                    <a href="https://www.npmjs.com/package/ng2-activiti-form" target="_blank">ng2-activiti-form</a>
                )
            </li>
            <li>
                Analytics (
                    <a href="https://www.npmjs.com/package/ng2-activiti-analytics" target="_blank">ng2-activiti-analytics</a>,
                    <a href="https://www.npmjs.com/package/ng2-activiti-diagrams" target="_blank">ng2-activiti-diagrams</a>
                )
            </li>
            <li>
                DataTable (
                    <a href="https://www.npmjs.com/package/ng2-alfresco-datatable" target="_blank">ng2-alfresco-datatable</a>
                )
            </li>
        </ul>
    </div>
    <p>
        Authentication provider: BPM
    </p>

    <h3><a href="" routerLink="/datatable">DataTable</a></h3>
    <p>TODO: summary</p>
    <p>
        Authentication provider: any
    </p>

    <h3><a href="" routerLink="/uploader">Uploader</a></h3>
    <p>TODO: summary</p>
    <p>
        Authentication provider: ECM
    </p>

    <h3><a href="" routerLink="/login">Login</a></h3>
    <p>TODO: summary</p>
    <p>
        Authentication provider: none
    </p>

    <h3><a href="" routerLink="/webscript">Webscript</a></h3>
    <p>TODO: summary</p>
    <p>
        Authentication provider: ECM
    </p>

    <h3><a href="" routerLink="/tag">Tag</a></h3>
    <p>TODO: summary</p>
    <p>
        Authentication provider: ECM
    </p>

</div>
