.adf-setting-container {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

.adf-setting-card {
    width: 400px;
}

.full-width {
    width: 100%;
}

.adf-setting-card-padding {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}
