@import 'theming';

.adf {
    &-upload-widget {
        width: 100%;
        word-break: break-all;
    }

    &-upload-widget__icon {
        padding: 6px;
        float: left;
    }

    &-adf-file {
        float: left;
        margin-top: 4px;
    }

    &-upload-widget__reset {
        margin-top: -2px;
    }

    &-invalid {
        .adf-error-text {
            padding: 1px;
            height: 16px;
            font-size: 12px;
            line-height: 1.33;
            float: left;
            color: $alfresco-warn-color--hue-3;
        }

        .adf-error-icon {
            float: right;
            font-size: 17px;
            color: $alfresco-warn-color--hue-3;
        }

        .adf-file {
            border-color: $alfresco-warn-color--hue-3;
        }
        .adf-label {
            color: $alfresco-warn-color--hue-3;
            &:after {
                background-color: $alfresco-warn-color--hue-3;
            }
        }
    }
}
