<div class="adf-upload-widget {{field.className}}"
     [class.adf-invalid]="!field.isValid">
    <label class="adf-label" [attr.for]="field.id">{{field.name}}</label>
    <div>
        <img  *ngIf="hasFile"  class="adf-upload-widget__icon" [src]="mimeTypeIcon" [alt]="mimeTypeIcon"/>
        <span *ngIf="hasFile" class="adf-file">{{displayText}}</span>
        <input *ngIf="!hasFile"
               #file
               type="file"
               [multiple]="multipleOption"
               [id]="field.id"
               [disabled]="field.readOnly"
               class="adf-file"
               (change)="onFileChanged($event)">
        <button *ngIf="hasFile" (click)="reset(file);" (keyup.enter)="reset(file);"
                class="adf-upload-widget__reset" md-icon-button>
            <md-icon>highlight_off</md-icon>
        </button>
    </div>
    <md-error  *ngIf="field.validationSummary">
        <div class="adf-error-text" >{{field.validationSummary}}</div> <i class="material-icons adf-error-icon">warning</i>
    </md-error>
</div>
