.upload-widget {
    width:100%
}

.upload-widget__icon {
    float: left;
}

.upload-widget__file {
    float: left;
    margin-top: 4px;
}

.upload-widget__reset {
    float: left;
    margin-top: 4px;
}

.upload-widget__invalid .upload-widget__label {
    color: #d50000;
}

.upload-widget__invalid .upload-widget__label:after {
    background-color: #d50000;
}

.upload-widget__invalid .upload-widget__file {
    color: #d50000;
}

.upload-widget__invalid .mdl-textfield__error {
    visibility: visible !important;
}
