@import 'theming';
@import '../form';

.adf {

    &-upload-widget-container{
        margin-bottom: 15px;
    }

    &-upload-widget {
        width: 100%;
        word-break: break-all;
    }

    &-upload-widget__icon {
        padding: 6px;
        float: left;
    }

    &-adf-file {
        float: left;
        margin-top: 4px;
    }

    &-upload-widget__reset {
        margin-top: -2px;
    }

    &-upload-files-row {
        .mat-line {
            margin-bottom: 0px;
        }
    }

}
