<div class="container">
    <button id="folder-create-button" md-button [mdMenuTriggerFor]="menu" [disabled]="isButtonDisabled()">
        <md-icon>add</md-icon>
        <span>Create...</span>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item (click)="showDialog()">
            <md-icon>create_new_folder</md-icon>
            <span>New Folder</span>
        </button>
    </md-menu>
</div>

<dialog class="mdl-dialog" #dialog>
    <h4 class="mdl-dialog__title">New Folder</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input
                    type="text"
                    class="mdl-textfield__input"
                    id="name"
                    required
                    [(ngModel)]="folderName"
                    placeholder="Folder name"
                    data-automation-id="name"
                    autocapitalize="none" #name/>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" [disabled]="isFolderNameEmpty()" (click)="createFolder(folderName)" class="mdl-button">Create</button>
        <button type="button" (click)="cancel()" class="mdl-button close">Cancel</button>
    </div>
</dialog>
