.user-profile {
    margin-right: 10px;
}

.app-menu--spacer {
    flex: 1 1 auto;
}

.p-10 {
    padding: 10px;
}

.m-10 {
    margin: 10px;
}

._dialog_overlay {
    position: static !important;
}

.md-simple-snackbar-action {
    border: 0px;
    cursor: pointer;
}
