@import '~@angular/material/theming';


.adf-app-user-profile {
    margin-right: 10px;
}

.adf-app-menu-spacer {
    flex: 1 1 auto;
}

.adf-app-toolbar {
    overflow: hidden;
}

@media ($mat-small) {

    .adf-app-hide-small{
        display: none !important;
    }

}
@media ($mat-xsmall) {

    .adf-app-hide-xsmall{
        display: none !important;
    }

}
