@media only screen and (max-width: 640px) {
    .mdl-layout__header.header-search-expanded .mdl-layout-title {
        display: none;
    }
}

.mdl-layout-title {
    font-size: 17px;
}

.user-profile {
    margin-right: 50px;
}

.mdl-button-padding {
    padding-left: 20px;
}
