<p data-automation-id="search_result_found" *ngIf="results && results.length">{{ 'SEARCH.RESULTS.SUMMARY' | translate:{numResults: results.length, searchTerm: searchTerm} }}</p>
<p data-automation-id="search_result_found" *ngIf="results&& results.length == 0">{{ 'SEARCH.RESULTS.NONE' | translate:{searchTerm: searchTerm} }}</p>
<table *ngIf="results && results.length && searchTerm" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
    <thead>
    <tr>
        <th>
            <span class="mdl-data-table__cell--non-numeric"></span>
        </th>
        <th>
            <span class="mdl-data-table__cell--non-numeric">{{'SEARCH.RESULTS.COLUMNS.NAME' | translate}}</span>
        </th>
        <th>
            <span class="mdl-data-table__cell--non-numeric">{{'SEARCH.RESULTS.COLUMNS.MODIFIED_BY' | translate}}</span>
        </th>
        <th>
            <span class="mdl-data-table__cell--non-numeric">{{'SEARCH.RESULTS.COLUMNS.MODIFIED_AT' | translate}}</span>
        </th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let result of results; let idx = index">
        <td><img src="{{getDocumentThumbnailUrl(result)}}" /></td>
        <td>{{result.entry.name}}</td>
        <td>{{result.entry.modifiedByUser.displayName}}</td>
        <td>{{result.entry.modifiedAt}}</td>
    </tr>
    </tbody>
</table>
<p *ngIf="errorMessage">{{ 'SEARCH.RESULTS.ERROR' | translate:{errorMessage: errorMessage} }}</p>
