<form (submit)="onSearch($event)">
    <div [class]="getTextFieldClassName()">
        <label *ngIf="expandable" class="mdl-button mdl-js-button mdl-button--icon" for="searchControl">
            <i mdl-upgrade class="material-icons">search</i>
        </label>
        <div [class]="getTextFieldHolderClassName()">
            <input mdl-upgrade
                   class="mdl-textfield__input"
                   [type]="inputType"
                   [autocomplete]="getAutoComplete()"
                   data-automation-id="search_input"
                   #searchInput
                   id="searchControl"
                   ngControl="searchControl"
                   [(ngModel)]="searchTerm"
                   name="searchControl"
                   (focus)="onFocus($event)"
                   (blur)="onBlur($event)"
                   aria-labelledby="searchLabel">
            <label id="searchLabel" class="mdl-textfield__label" for="searchControl">{{'SEARCH.CONTROL.LABEL' | translate}}</label>
        </div>
    </div>
</form>
<alfresco-search-autocomplete [searchTerm]="autocompleteSearchTerm" [ngClass]="{active: searchActive, valid: searchValid}"
                              (preview)="onFileClicked($event)"></alfresco-search-autocomplete>
