<form #f="ngForm" (ngSubmit)="onSearch()" class="adf-search-form">
    <div class="adf-search-container"
        [@transitionMessages]="subscriptAnimationState">
        <a mat-icon-button
                *ngIf="expandable"
                id="adf-search-button"
            (click)="toggleSearchBar()"
            class="adf-search-button">
            <mat-icon aria-label="search button">search</mat-icon>
        </a>
        <div class="adf-search-field">
            <mat-form-field>
                <input
                    matInput
                    [type]="inputType"
                    [autocomplete]="getAutoComplete()"
                    data-automation-id="search_input"
                    #searchInput
                    id="searchControl"
                    [formControl]="searchControl"
                    [(ngModel)]="searchTerm"
                    (focus)="onFocus($event)"
                    (blur)="onBlur($event)"
                    (keyup.escape)="onEscape()"
                    (keyup.arrowdown)="onArrowDown()">
            </mat-form-field>
        </div>
    </div>
</form>

