<div class="adf-search-container" *ngIf="isLoggedIn()"
[@transitionMessages]="subscriptAnimationState">
<a mat-icon-button
    *ngIf="expandable"
    id="adf-search-button"
    class="adf-search-button"
    (click)="toggleSearchBar()">
    <mat-icon aria-label="search button">search</mat-icon>
</a>
<mat-form-field class="example-full-width">
  <input matInput class="adf-search-field"
         [type]="inputType"
         [autocomplete]="getAutoComplete()"
         id="adf-control-input"
         [(ngModel)]="searchTerm"
         (ngModelChange)="inputChange($event)"
         [adfSearchAutocomplete]="auto"
         (enterKeyPressed)="searchSubmit($event)">
</mat-form-field>
</div>

<adf-search #auto="adfSearchAutocomplete" class="adf-search-result-autocomplete truncate">
    <ng-template let-data>
        <mat-list *ngIf="isSearchBarActive()" id="autocomplete-search-result-list" class="adf-list-flex">
            <mat-list-item class="adf-list-flex-item"
                *ngFor="let item of data?.list?.entries; let idx = index"
                id="result_option_{{idx}}"
                (click)="elementClicked(item)">
                    <mat-icon mat-list-icon *ngIf="item" class="adf-item-flex-icon">
                        <img [src]="getMimeTypeIcon(item)" />
                    </mat-icon>
                    <div class="adf-list-item">
                        <span mat-line id="result_name_{{idx}}"
                            *ngIf="highlight; else elseBlock"
                            [innerHtml]="item.entry.name | highlight: searchTerm"
                            class="truncate">
                            {{ item?.entry.name }}</span>
                        <ng-template #elseBlock>
                            <span mat-line id="result_name_{{idx}}" class="truncate" [innerHtml]="item.entry.name"></span>
                        </ng-template>
                        <span mat-line> {{item?.entry.createdByUser.displayName}} </span>
                    </div>
            </mat-list-item>
            <mat-list-item class="adf-no-result-item"
                id="search_no_result"
                data-automation-id="search_no_result_found"
                *ngIf="data?.list?.entries.length === 0">
                <span class="truncate"><b> {{ 'SEARCH.RESULTS.NONE' | translate:{searchTerm: searchTerm} }}</b></span>
            </mat-list-item>
        </mat-list>
    </ng-template>
</adf-search>
