@mixin mat-search-autocomplete-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .adf {

        &-search-result {
            position: absolute;
            z-index: 5;
            display: none;
            color: mat-color($foreground, text);
            background-color: mat-color($background, card);
            margin: -21px 0px 0px 0px;
            border: 1px solid mat-color($primary);
            border-collapse: collapse;
            white-space: nowrap;
            font-size: 14px;

            a {
                color: mat-color($foreground, text);
                text-decoration: none;
            }

            table {
                width: 300px;
            }

            tbody tr {
                height: 32px;

                &:hover {
                    background-color: mat-color($background, hover);
                }
            }

            td {
                height: 32px;
                padding: 8px;
                text-align: left;
                border-top: none;
                border-bottom: none;
            }

            .highlight {
                color: mat-color($primary, 900);
            }

            .img-td{
                width: 30px;
            }

            .truncate{
                width: 240px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            @media screen and (max-width: 400px) {
                :host {
                    right: 0;
                }
                .truncate{
                    width: 200px;
                }
            }
        }

        &-valid-search {
            .adf-search-result {
                display: block;
            }
        }
    }
}
