@mixin adf-search-autocomplete-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $mat-menu-border-radius: 2px !default;

    .adf {

        &-search-hide {
            visibility: hidden;
        }

        &-search-show {
            visibility: visible;
        }

        &-search-result-autocomplete {
            @include mat-menu-base(2);
            transform-origin: top left;
            position: absolute;
            overflow: inherit;
            max-width: 300px;
            z-index: 5;
            color: mat-color($foreground, text);
            background-color: mat-color($background, card);
            margin: -14px 0 0 14px;
            border-radius: $mat-menu-border-radius;
            border-collapse: collapse;
            white-space: nowrap;
            font-size: 14px;
            a {
              color: mat-color($foreground, text);
              text-decoration: none;
            }
            .highlight {
              color: mat-color($primary, 900);
            }

            @media screen and (max-width: 400px) {
                width: 200px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
          }
    }
}
