<div *ngIf="diagram">
    <div *ngFor="let element of diagram.elements">
        <div [ngSwitch]="element.type">
            <div *ngSwitchCase="'StartEvent'">
                <diagram-event [data]="element" [radius]="15" [strokeWidth]="1"></diagram-event>
            </div>
            <div *ngSwitchCase="'ExclusiveGateway'">
                <diagram-exclusive-gateway [data]="element"></diagram-exclusive-gateway>
            </div>
            <div *ngSwitchCase="'InclusiveGateway'">
                <diagram-inclusive-gateway [data]="element"></diagram-inclusive-gateway>
            </div>
            <div *ngSwitchCase="'EventGateway'">
                <diagram-event-gateway [data]="element"></diagram-event-gateway>
            </div>
            <div *ngSwitchCase="'ParallelGateway'">
                <diagram-parallel-gateway [data]="element"></diagram-parallel-gateway>
            </div>
            <div *ngSwitchCase="'EndEvent'">
                <diagram-event [data]="element" [radius]="14" [strokeWidth]="4"></diagram-event>
            </div>
            <div *ngSwitchCase="'UserTask'">
                <diagram-task [data]="element"></diagram-task>
            </div>
        </div>
    </div>
    <div *ngFor="let flow of diagram.flows">
        <div [ngSwitch]="flow.type">
            <div *ngSwitchCase="'sequenceFlow'">
                <diagram-sequence-flow [flow]="flow"></diagram-sequence-flow>
            </div>
        </div>
    </div>
</div>
