.adf-report-issue {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-form {

        width: 50%;
        min-width: 250px;
        margin-bottom: 50px;

        & mat-form-field {
            width: 100%;
        }

        &-textarea {
            background-color: white;
            width: 100%;
            height: 250px;
        }
    }
}