.mdl-paging {
    color: rgba(0, 0, 0, 0.54);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 56px;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.mdl-paging > * {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.mdl-list + .mdl-paging {
    margin: 0;
}

.mdl-paging__per-page {
    position: relative;
}

.mdl-paging__per-page-label {
    margin-right: 40px;
}

.mdl-paging__per-page-value {
    right: 36px;
    top: 6px;
}

.mdl-paging__per-page + .mdl-paging__count {
    margin-left: 24px;
}

.mdl-paging .mdl-menu {
    min-width: 64px;
}

.mdl-paging__prev:last-child {
    margin-right: 44px;
}

.mdl-paging__count + .mdl-paging__prev {
    margin-left: 24px;
}

.mdl-paging__prev + .mdl-paging__next {
    margin-left: 12px;
}

.mdl-paging__count + .mdl-paging__next {
    margin-left: 68px;
}
