<div class="mdl-paging">
    <span class="mdl-paging__per-page">
        <span class="mdl-paging__per-page-label">Rows per page:</span>
        <span class="mdl-paging__per-page-value" >{{pagination.maxItems}}</span>

        <md-menu #appMenu="mdMenu" for="pageSizePicker">
            <div *ngFor="let size of supportedPageSizes"
                tabindex="-1" [attr.data-value]="size" md-menu-item (click)="setPageSize(size)">
                <span>{{size}}</span>
            </div>
        </md-menu>
        <button  id="pageSizePicker" md-icon-button [mdMenuTriggerFor]="appMenu">
            <md-icon>arrow_drop_down</md-icon>
        </button>
    </span>
    <span class="mdl-paging__count">{{summary}}</span>
    <button (click)="showPrevPage()"
            [disabled]="!prevPageAvail()"
            md-icon-button class="mdl-button--icon mdl-paging__prev">
        <md-icon>keyboard_arrow_left</md-icon>
    </button>
    <button (click)="showNextPage()"
            [disabled]="!nextPageAvail()"
            md-icon-button class="mdl-button--icon mdl-paging__next">
        <md-icon>keyboard_arrow_right</md-icon>
    </button>
</div>
