<div class="task-list-demo-inputs">

     <form>
        <mat-form-field>
            <input 
            matInput 
            placeholder="Task Name" 
            [formControl]="taskName" 
            (keyup)="filterTasks()">
        </mat-form-field>

        <mat-form-field>
            <input 
            matInput 
            placeholder="ProcessDefinitionId" 
            matTooltip="E.g. SimpleProcess:1:2"
            [formControl]="taskProcessDefinitionId" 
            (keyup)="filterTasks()">
        </mat-form-field>

        <mat-form-field>
                <mat-select 
                placeholder="Assignment" 
                [formControl]="taskAssignment" 
                (change)="filterTasks()">
                    <mat-option value="assignee">Assignee</mat-option>
                    <mat-option value="candidate">Candidate</mat-option>
                    <mat-option value="">No value</mat-option>
                </mat-select>
        </mat-form-field>

        <mat-form-field>
                <mat-select 
                placeholder="State" 
                [formControl]="taskState" 
                (change)="filterTasks()">
                    <mat-option value="all">All</mat-option>
                    <mat-option value="active">Active</mat-option>
                    <mat-option value="completed">Completed</mat-option>
                </mat-select>
        </mat-form-field>

        <mat-form-field>
                <mat-select 
                placeholder="Sort" 
                [formControl]="taskSort" 
                (change)="filterTasks()">
                    <mat-option value="created-asc">Created (asc)</mat-option>
                    <mat-option value="created-desc">Created (desc)</mat-option>
                    <mat-option value="due-asc">Due (asc)</mat-option>
                    <mat-option value="due-desc">Due (desc)</mat-option>
                </mat-select>
        </mat-form-field>
        <div class="adf-reset-button">
            <button mat-raised-button (click)="resetTaskFilters()">Reset</button>
        </div>
    </form>
</div>

<adf-tasklist
    [appId]="appId" 
    [name]="name" 
    [processDefinitionId]="processDefinitionId" 
    [assignment]="assignment" 
    [state]="state" 
    [sort]="sort"
    #taskList>
</adf-tasklist>

<adf-pagination 
    [target]="taskList">
</adf-pagination>