<div class="task-list-demo-inputs">

     <form [formGroup]="taskListForm">
        <mat-form-field>
            <mat-label>AppId</mat-label>
                <input 
                matInput  
                class="form-control" 
                formControlName="appIdCustom">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Task Name</mat-label>
            <input 
            matInput 
            class="form-control" 
            formControlName="taskName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>ProcessDefinitionId</mat-label>
            <input 
            matInput 
            class="form-control" 
            formControlName="taskProcessDefinitionId">
            <mat-hint>SimpleProcess:1:2</mat-hint>
        </mat-form-field>

        <mat-form-field>
                <mat-label>Assignment</mat-label>
                <mat-select 
                class="form-control" 
                formControlName="taskAssignment">
                    <mat-option value="assignee">Assignee</mat-option>
                    <mat-option value="candidate">Candidate</mat-option>
                </mat-select>
        </mat-form-field>

        <mat-form-field>
                <mat-label>State</mat-label>
                <mat-select 

                class="form-control" 
                formControlName="taskState">
                    <mat-option value="all">All</mat-option>
                    <mat-option value="active">Active</mat-option>
                    <mat-option value="completed">Completed</mat-option>
                </mat-select>
        </mat-form-field>

        <mat-form-field>
                <mat-label>Sort</mat-label>
                <mat-select 
                class="form-control" 
                formControlName="taskSort">
                    <mat-option value="created-asc">Created (asc)</mat-option>
                    <mat-option value="created-desc">Created (desc)</mat-option>
                    <mat-option value="due-asc">Due (asc)</mat-option>
                    <mat-option value="due-desc">Due (desc)</mat-option>
                </mat-select>
        </mat-form-field>
        <div class="adf-reset-button">
            <button mat-raised-button (click)="resetTaskForm()">Reset</button>
        </div>
    </form>
</div>

<adf-tasklist
    [appId]="appIdDefault" 
    [name]="name" 
    [processDefinitionId]="processDefinitionId" 
    [assignment]="assignment" 
    [state]="state" 
    [sort]="sort"
    #taskList>
</adf-tasklist>

<adf-pagination 
    [target]="taskList">
</adf-pagination>