.breadcrumb-container-restricted {
    width: 800px;
    max-width: 800px;
    border: 1px solid lightgray;
}

.content {
    margin: 10px 0;
}

.full-content-toolbar {
    .adf-toolbar-title {
        display: flex;
        width: 100%;

        .adf-breadcrumb {
            width: 0;
        }
    }
}
