<div class="app-main-content">
    <h1>Notification Service</h1>

    <ul>
        <li>Try setting custom message with unicode characters, for example: <strong>I ♥️ ADF</strong></li>
        <li>Try setting custom i18n resource key, for example: <strong>APP_LAYOUT.NOTIFICATIONS</strong></li>
        <li>Try setting a decorative icon, for example <strong>info</strong>  or <strong>folder</strong></li>
        <li>Try toggling the action button. Clicking the action within SnackBar should update the label under the toggle button.</li>
        <li>All elements support <em>data-automation-id</em> attributes and can be automated.</li>
    </ul>

    <div>
        <mat-label class="adf-label">Message:</mat-label>
        <mat-form-field>
            <input
                matInput
                placeholder="Message"
                [(ngModel)]="message"
                data-automation-id="notification-message">
        </mat-form-field>
    </div>

    <div>
        <mat-label class="adf-label">Decorative icon:</mat-label>
        <mat-form-field>
            <input
                matInput
                placeholder="Decorative Icon"
                [(ngModel)]="decorativeIcon"
                data-automation-id="notification-icon">
        </mat-form-field>
    </div>

    <div>
        <mat-slide-toggle
            [(ngModel)]="withAction"
            data-automation-id="notification-action-toggle">
            With action
        </mat-slide-toggle>
    </div>

    <div data-automation-id="notification-action-output" *ngIf="actionOutput">
        {{ actionOutput }}
    </div>

    <h2>Custom Configuration</h2>

    <form [formGroup]="configForm">
        <mat-form-field>
            <mat-select formControlName="direction" placeholder="Direction" data-automation-id="notification-direction">
                    <mat-option *ngFor="let direction of directions" [value]="direction.value">
                        {{ direction.title }}
                    </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" formControlName="duration"  [value]="defaultDuration" placeholder="Duration" data-automation-id="notification-duration">
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="horizontalPosition" placeholder="Horizontal Position" data-automation-id="notification-horizontal-position">
                <mat-option *ngFor="let horizontalPosition of horizontalPositions" [value]="horizontalPosition.value">
                    {{ horizontalPosition.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="verticalPosition" placeholder="Vertical Position" data-automation-id="notification-vertical-position">
                <mat-option *ngFor="let verticalPosition of verticalPositions" [value]="verticalPosition.value">{{ verticalPosition.title }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="sendCustomConfig()" data-automation-id="notification-custom-config-button">
            <mat-icon>send</mat-icon>
        </button>
        <button mat-raised-button (click)="dismissSnackBar()" data-automation-id="notification-custom-dismiss-button" color="primary">
        </button>
    </form>
    <div>
        <h3>SnackBar Config</h3>
        <p *ngIf="snackBarConfigObject" data-automation-id="notification-custom-object">
            {{snackBarConfigObject}}
        </p>
    </div>
    <div>
        <h3>Quick Messages</h3>
        <button mat-button color="primary" (click)="quickInfo()">Info</button>
        <button mat-button color="warn" (click)="quickError()">Error</button>
        <button mat-button color="accent" (click)="quickWarning()">Warning</button>
    </div>
</div>
