<div>TREE VIEW TEST</div>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Node Id"
                [(ngModel)]="nodeIdSample"
                (ngModelChange)="reset()">
</mat-form-field>
<span>
    CLICKED NODE: {{clickedNodeName}}
</span>

<adf-tree-view-list *ngIf="!errorMessage; else errorOccurred"
        [nodeId]="nodeIdSample"
        (nodeClicked)="onClick($event)"
        (error)="onErrorOccurred($event)">
</adf-tree-view-list>
<ng-template #errorOccurred>
    <span>An Error Occurred </span>
    <span>{{errorMessage}}</span>
</ng-template>
