npm-debug.log
.idea
.npmrc

demo/localTestFile.pdf

coverage/
demo/
dist/
node_modules
typings/
fonts/

/.editorconfig
/.travis.yml
/*.json
/karma-test-shim.js
/karma.conf.js
/gulpfile.ts
/.npmignore
/.happypack

*.tgz
