npm-debug.log
.idea

coverage/
demo/
node_modules
typings/
fonts/


/.editorconfig
/.travis.yml
*.ts
!*.d.ts
!*.js
!*.js.map
/*.json
*.spec.js
*.tgz
/.npmignore
/karma-test-shim.js
/karma.conf.js
/make.js
/package/
