npm-debug.log
node_modules
jspm_packages
.idea
typings
coverage
dist
src/**/*.js
src/**/*.js.map

material.js
material.js.map
material/**/*.js
material/**/*.js.map

services.js
services.js.map
services/**/*.js
services/**/*.js.map
