<div>
    <div id="container-for-custom-input" class="app-search-extended-input-containers">
        <mat-form-field>
            <label>{{'APP_LAYOUT.WORD_TO_SEARCH' | translate}}</label>
            <input type="text" matInput
                    id="custom-input" [(ngModel)]="searchedWord" [searchAutocomplete]="auto">
        </mat-form-field>
    </div>
    <div>
      <adf-search #auto="searchAutocomplete"
                  class="app-example-card-search-container">
          <ng-template let-data>
            <mat-card class="app-example-card"
                 *ngFor="let item of data?.list?.entries; let idx = index">
                <mat-card-header>
                    <div mat-card-avatar class="app-example-header-image"></div>
                    <mat-card-title>{{ item?.entry.name }}</mat-card-title>
                    <mat-card-subtitle>{{ item?.entry.createdAt }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="getMimeTypeIcon(item)">
                <mat-card-content>
                    <p>
                        {{'APP_LAYOUT.SEARCH_CREATED_BY' | translate}}: {{item?.entry.createdByUser?.displayName}}
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="app-example-card" id="search_no_result" *ngIf="data?.list?.entries.length === 0">
                <p mat-line class="app-search-fixed-text">{{ 'SEARCH.RESULTS.NONE' | translate:{searchTerm: searchedWord} }}</p>
            </mat-card>
        </ng-template>
      </adf-search>
    </div>
</div>
