<div class="app-search-results">
    <div class="app-search-results__content">
        <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
        <div class="app-search-results__sorting">
            <div style="padding: 0 12px">
                <adf-search-form></adf-search-form>
            </div>

            <mat-divider [vertical]="true"></mat-divider>

            <div style="padding: 0 12px; flex: 65%">
                <adf-search-filter-chips></adf-search-filter-chips>
            </div>

            <mat-icon adf-reset-search matTooltip="reset" style="padding-right: 5px;">refresh</mat-icon>

            <adf-search-sorting-picker style="width: 240px"></adf-search-sorting-picker>
        </div>
        <app-files-component
            [showHeader]="showHeader"
            [sorting]="sorting"
            [sortingMode]="'server'"
            [showRecentFiles]="false"
            [showSitePicker]="false"
            [showSettingsPanel]="false"
            [currentFolderId]="null"
            [nodeResult]="$any(data)"
            [disableDragArea]="true"
            [pagination]="pagination"
            [searchTerm]="searchedWord"
            (changedPageSize)="onRefreshPagination($event)"
            (changedPageNumber)="onRefreshPagination($event)"
            (turnedNextPage)="onRefreshPagination($event)"
            (loadNext)="onRefreshPagination($event)"
            (turnedPreviousPage)="onRefreshPagination($event)"
            (deleteElementSuccess)="onDeleteElementSuccess()">
        </app-files-component>
    </div>
</div>
