div.app-search-results-container {
    padding: 0 20px 20px;
}

.app-search-title {
    font-size: 22px;
    padding: 15px 0;
}

@media screen and (max-width: 600px) {
    :host .app-col-display-name {
        min-width: 100px;
    }

    :host .app-col-modified-at,
    :host .app-col-modified-by {
        display: none;
    }

    :host div.app-search-results-container table {
        width: 100%;
    }
}

.app-search-results-content {
    display: flex;
}

.app-search-extended-input-containers {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.app-search-extended-input-textarea {
    width: 300px;
}

.app-search-extended-label-error {
    display: flex;
    flex-direction: column;
}

.app-example-card {
    width: 200px;
    flex: 0 20%;
    margin: 15px;
}

.app-example-card-search-container {
    display: flex;
    flex-wrap: wrap;
}

.example-header-image {
    background-size: cover;
    margin-bottom: 15px;
}

.example-search-input {
    width: 100px;
    border: 1px solid black;
}
