.app-search-results {
    display: flex;
    margin-left: 5px;

    .app-search-settings {
        width: 260px;
        border: 1px solid #eee;
    }

    &__facets {
        margin: 5px;
    }

    &__content {
        flex: 1;
    }

    &__sorting {
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
    }
}

div.app-search-results-container {
    padding: 0 20px 20px;
}

.app-search-title {
    font-size: 22px;
    padding: 15px 0;
}

@media screen and (max-width: 600px) {
    :host .app-col-display-name {
        min-width: 100px;
    }

    :host .app-col-modified-at,
    :host .app-col-modified-by {
        display: none;
    }

    :host div.app-search-results-container table {
        width: 100%;
    }
}
