.adf-search-results {
    display: flex;
    margin-left: 5px;

    .adf-search-settings {
        width: 260px;
        border: 1px solid #eee;
    }

    &__facets {
        margin: 5px;
    }

    &__content {
        flex: 1;
    }

    &__sorting {
        text-align: right;
    }
}

div.search-results-container {
    padding: 0 20px 20px 20px;
}

.adf-search-title {
    font-size: 22px;
    padding: 15px 0 15px 0;
}

@media screen and (max-width: 600px) {
    :host .col-display-name {
        min-width: 100px;
    }
    :host .col-modified-at, :host .col-modified-by {
        display: none;
    }
    :host div.search-results-container table {
        width: 100%;
    }
}
