
<button data-automation-id="go-back" mat-icon-button (click)="onGoBack()">
    <mat-icon>arrow_back</mat-icon> Go Back
</button>

<h4 data-automation-id="process-details-header">Simple page to show the process instance: {{ processInstanceId }}</h4>

<div class="app-process-cloud-container">

    <adf-cloud-task-list
        class="app-cloud-layout-overflow"
        [processInstanceId]="processInstanceId"
        (rowClick)="onRowClick($event)">
    </adf-cloud-task-list>

    <adf-cloud-process-header
        class="app-process-cloud-header"
        [processInstanceId]="processInstanceId">
    </adf-cloud-process-header>
</div>

