<mat-accordion>
    <mat-expansion-panel [expanded]="expandTaskFilter" (opened)="onTaskFilterOpen()" (closed)="onTaskFilterClose()" data-automation-id='Task Filters'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Task Filters
        </mat-panel-title>
      </mat-expansion-panel-header>
      <adf-cloud-task-filters
          *ngIf="expandTaskFilter"
          [showIcons]="true"
          [filterParam]="currentTaskFilter$ | async"
          (filterClick)="onTaskFilterSelected($event)">
        </adf-cloud-task-filters>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="expandProcessFilter" (opened)="onProcessFilterOpen()" (closed)="onProcessFilterClose()" data-automation-id='Process Filters'>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Process Filters
        </mat-panel-title>
      </mat-expansion-panel-header>
      <adf-cloud-process-filters
          *ngIf="expandProcessFilter"
          [showIcons]="true"
          [filterParam]="currentProcessFilter$ | async"
          (filterClick)="onProcessFilterSelected($event)">
        </adf-cloud-process-filters>
    </mat-expansion-panel>
  </mat-accordion>
