<h4 data-automation-id="task-details-header">Simple page to show the taskId: {{ taskId }}</h4>

<div class="app-community-task-details-cloud-column">
    <div class="app-community-task-details-cloud-row">
        <adf-cloud-task-form
            [taskId]="taskId"
            (cancelClick)="goBack()"
            (taskClaimed)="onClaimTask()"
            (taskCompleted)="onTaskCompleted()"
            (taskUnclaimed)="onUnclaimTask()"
            (formSaved)="onFormSaved()"
            (error)="onError($event)">
        </adf-cloud-task-form>
        <adf-cloud-task-header [taskId]="taskId"></adf-cloud-task-header>
    </div>
</div>
