@import '../src/components/search-autocomplete.component';
@import '../src/components/search-control.component';

@mixin alfresco-search-theme($theme) {
    @include adf-search-control-theme($theme);
    @include adf-search-autocomplete-theme($theme);
}
