<div id="attachment-process-list" *ngIf="processId">
    <h5>Attachments</h5>
    <div class="adf-no-form-container">
        <adf-upload-drag-area
            [parentId]="processId"
            [disabled]="isCompletedProcess()"
            [showNotificationBar]="false">
            <adf-process-attachment-list #processAttachList
                *ngIf="processId"
                [disabled]="isCompletedProcess()"
                [processInstanceId]="processId"
                (attachmentClick)="onAttachmentClick($event)">
            </adf-process-attachment-list>
        </adf-upload-drag-area>

        <adf-create-process-attachment
            *ngIf="!isCompletedProcess()"
            [processInstanceId]="processId"
            (success)="onFileUploadComplete($event)">
        </adf-create-process-attachment>

    </div>
</div>

<div *ngIf="fileShowed">
    <adf-viewer
        [(showViewer)]="fileShowed"
        [blobFile]="content"
        [displayName]="contentName"
        [overlayMode]="true">
    </adf-viewer>
</div>
