<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">

        <!-- TABS -->

        <div class="mdl-layout__tab-bar mdl-js-ripple-effect" #tabheader>
            <a id="apps-header" href="#apps" class="mdl-layout__tab is-active">APPS</a>
            <a id="tasks-header" href="#tasks" class="mdl-layout__tab">TASK LIST</a>
            <a id="processes-header" href="#processes" class="mdl-layout__tab">PROCESS LIST</a>
            <a id="start-process-header" href="#start-process" class="mdl-layout__tab">START PROCESS</a>
            <a id="report-header" href="#report" class="mdl-layout__tab">ANALYTICS</a>
        </div>
    </header>

    <main class="mdl-layout__content activiti" #tabmain>

        <!--  APPPS COMPONENT -->

        <section class="mdl-layout__tab-panel is-active" id="apps">
            <div class="page-content">
                <activiti-apps [layoutType]="layoutType" (appClick)="onAppClick($event)" #activitiapps></activiti-apps>
            </div>
        </section>


        <!--  TASKS COMPONENT -->

        <section class="mdl-layout__tab-panel" id="tasks">
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col task-column mdl-shadow--2dp">
                        <span>Task Filters</span>
                        <activiti-start-task [appId]="appId" (onSuccess)="onStartTaskSuccess($event)"></activiti-start-task>
                        <activiti-filters [appId]="appId" (filterClick)="onTaskFilterClick($event)" (onSuccess)="onSuccessTaskFilterList($event)"
                                          #activitifilter></activiti-filters>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col task-column mdl-shadow--2dp">
                        <span>Task List</span>
                        <activiti-tasklist *ngIf="taskFilter?.hasFilter()" [appId]="taskFilter.appId"
                                           [processDefinitionKey]="taskFilter.filter.processDefinitionKey"
                                           [name]="taskFilter.filter.name"
                                           [assignment]="taskFilter.filter.assignment"
                                           [state]="taskFilter.filter.state"
                                           [sort]="taskFilter.filter.sort"
                                           [data]="dataTasks"
                                           (rowClick)="onTaskRowClick($event)" (onSuccess)="onSuccessTaskList($event)"
                                           #activititasklist></activiti-tasklist>
                    </div>
                    <div class="mdl-cell mdl-cell--7-col task-column mdl-shadow--2dp">
                        <span>Task Details</span>
                        <activiti-task-details [taskId]="currentTaskId" (formCompleted)="onFormCompleted($event)"
                                               #activitidetails></activiti-task-details>
                    </div>
                </div>
            </div>
        </section>


        <!--  PROCESS COMPONENT -->

        <section class="mdl-layout__tab-panel" id="processes">
            <div class="page-content">
                <div class="page-content">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col task-column">
                            <span>Process Filters</span>
                            <button type="button" (click)="navigateStartProcess()" class="mdl-button" data-automation-id="btn-start-process">Start Process</button>
                            <activiti-process-instance-filters [appId]="appId"
                                    (filterClick)="onProcessFilterClick($event)" (onSuccess)="onSuccessProcessFilterList($event)"
                                    #activitiprocessfilter></activiti-process-instance-filters>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col task-column">
                            <span>Process List</span>
                            <activiti-process-instance-list *ngIf="processFilter?.hasFilter()" [appId]="processFilter.appId"
                                    [processDefinitionKey]="processFilter.filter.processDefinitionKey"
                                    [name]="processFilter.filter.name"
                                    [state]="processFilter.filter.state"
                                    [sort]="processFilter.filter.sort"
                                    [data]="dataProcesses"
                                               (rowClick)="onProcessRowClick($event)" (onSuccess)="onSuccessProcessList($event)"
                                                            #activitiprocesslist></activiti-process-instance-list>
                        </div>
                        <div class="mdl-cell mdl-cell--7-col task-column">
                            <span>Process Details</span>
                            <activiti-process-instance-details [processInstanceId]="currentProcessInstanceId" (activitiprocesslist)="taskFormCompleted()" (processCancelled)="processCancelled()" #activitiprocessdetails></activiti-process-instance-details>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- START PROCESS COMPONENT -->
        <section class="mdl-layout__tab-panel" id="start-process">
            <div class="page-content">
                <div class="page-content">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col task-column">
                            <span>Start Process</span>
                            <activiti-start-process [appId]="appId" (start)="onStartProcessInstance($event)"></activiti-start-process>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--  ANALYTICS COMPONENT -->

        <section class="mdl-layout__tab-panel" id="report">
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col task-column mdl-shadow--2dp">
                        <analytics-report-list (reportClick)="onReportClick($event)"></analytics-report-list>
                    </div>
                    <div class="mdl-cell mdl-cell--8-col task-column mdl-shadow--2dp">
                        <activiti-analytics [appId]="appId" *ngIf="report" [reportId]="report.id"></activiti-analytics>
                    </div>
                </div>
            </div>
        </section>

    </main>
</div>
