.activiti-task-list__item:hover {
    cursor: pointer;
    font-weight: bold;
}

.activiti {
    background-color: #f5f5f5;
}

.task-column {
    background-color: #f5f5f5;
    padding: 10px 10px 10px 10px;
    margin-left: 0px;
}

.list-column {
    width: 320px;
}

.mdl-layout__header {
    z-index: 1;
}

.list-buttons {
    text-align: left;
    margin-bottom: 5px;
}
