.activiti-task-list__item:hover {
    cursor: pointer;
    font-weight: bold;
}

.task-column {
    padding: 10px 10px 10px 10px;
}

.mdl-layout__header {
    z-index: 1;
}

.list-buttons {
    text-align: left;
    margin-bottom: 5px;
}

.adf-no-form-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    font-family: Muli;
    padding: 16px;
}

.action-header {
    border: 1px solid ;
    text-align: left;
}

.activiti-demo-grid {
    display: flex;
}

.activiti-demo-grid-item {
    margin: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 10px 10px 10px 10px;
}

.activiti-demo-list-buttons {
    margin-bottom: 24px;
}

.activiti-demo-list-buttons-start {
    width: 100%;
}

.activiti-demo-tasks-menu {
    min-width: 170px;
}

.activiti-demo-tasks-list {
    min-width: 510px;
    padding: 0;
}

.activiti-demo-tasks-details,
.activiti-demo-tasks-start {
    flex-grow: 1;
    min-width: 680px;
}

.activiti-demo-tasks-list >>> .adf-data-table {
    border: none;
}

.activiti-demo-tasks-list >>> .adf-data-table tr,
.activiti-demo-tasks-list >>> .adf-data-table td {
    height: 36px;
    font-size: 14px;
}

.activiti-demo-tasks-list >>> .adf-data-table td {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.activiti-demo-tasks-list >>> .adf-data-table th {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    vertical-align: middle;
    font-size: 14px;
}

