.activiti-task-list__item:hover {
    cursor: pointer;
    font-weight: bold;
}

.activiti {
    background-color: #f5f5f5;
}

.task-column {
    background-color: #f5f5f5;
    padding: 10px 10px 10px 10px;
}

.list-column {
    width: 320px;
}

.mdl-layout__header {
    z-index: 1;
}

.list-buttons {
    text-align: left;
    margin-bottom: 5px;
}

.adf-no-form-container {    
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    font-family: Muli;
    padding: 16px;
}

.action-header {
    border: 1px solid rgb(224, 224, 224);
    background: #fff;
    text-align: left;
}
