<div class="activiti-form-viewer" *ngIf="taskId">
    <adf-form [taskId]="taskId"></adf-form>
    <!--<adf-form [formName]="'activitiForms:patientFolder'"-->
                       <!--[saveMetadata]="true"-->
                       <!--[path]="'/Sites/swsdp/documentLibrary'"-->
                       <!--[nameNode]="'test'"></adf-form>-->
    <!--<adf-form [nodeId]="'e280be3a-6584-45a1-8bb5-89bfe070262e'"-->
                   <!--[saveMetadata]="true"-->
                   <!--[path]="'/Sites/swsdp/documentLibrary'">-->
    <!--</adf-form>-->
</div>
