<div class="activiti-form-viewer" *ngIf="taskId">
    <activiti-form [taskId]="taskId"></activiti-form>
    <!--<activiti-form [formName]="'activitiForms:patientFolder'"-->
                       <!--[saveMetadata]="true"-->
                       <!--[path]="'/Sites/swsdp/documentLibrary'"-->
                       <!--[nameNode]="'test'"></activiti-form>-->
    <!--<activiti-form [nodeId]="'e280be3a-6584-45a1-8bb5-89bfe070262e'"-->
                   <!--[saveMetadata]="true"-->
                   <!--[path]="'/Sites/swsdp/documentLibrary'">-->
    <!--</activiti-form>-->
</div>
