<div class="p-10">
    <alfresco-datatable>
        <data-columns>
            <data-column source="$thumbnail"></data-column>
            <data-column
                    title="{{'DATATABLE.COLUMNS.DISPLAY_NAME' | translate}}"
                    source="name"
                    class="full-width name-column">
            </data-column>
            <data-column
                    title="{{'DATATABLE.COLUMNS.CREATED_BY' | translate}}"
                    source="createdByUser.displayName">
            </data-column>
            <data-column
                    title="{{'DATATABLE.COLUMNS.CREATED_ON' | translate}}"
                    source="createdAt">
            </data-column>
        </data-columns>
        <data-actions>
            <data-action
                    target="folder"
                    type="button"
                    icon="delete"
                    handler="system1">
            </data-action>
            <data-action
                    target="folder"
                    type="menu"
                    title="{{'DOCUMENT_LIST.ACTIONS.FOLDER.SYSTEM_1' | translate}}"
                    handler="system1">
            </data-action>
            <data-action
                    target="folder"
                    type="menu"
                    title="{{'DOCUMENT_LIST.ACTIONS.FOLDER.CUSTOM' | translate}}"
                    (execute)="myFolderAction1($event)">
            </data-action>

            <!-- document actions -->
            <data-action
                    target="document"
                    type="button"
                    icon="account_circle"
                    handler="my-handler">
            </data-action>
            <data-action
                    target="document"
                    type="button"
                    icon="cloud_download"
                    handler="download">
            </data-action>
            <data-action
                    target="document"
                    type="menu"
                    title="{{'DOCUMENT_LIST.ACTIONS.DOCUMENT.DOWNLOAD' | translate}}"
                    handler="download">
            </data-action>
            <data-action
                    target="document"
                    type="menu"
                    title="{{'DOCUMENT_LIST.ACTIONS.DOCUMENT.SYSTEM_2' | translate}}"
                    handler="system2">
            </data-action>
            <data-action
                    target="document"
                    type="menu"
                    title="{{'DOCUMENT_LIST.ACTIONS.DOCUMENT.CUSTOM' | translate}}"
                    (execute)="myCustomAction1($event)">
            </data-action>
        </data-actions>
    </alfresco-datatable>
</div>
