alfresco-datatable >>> .custom-row-style.alfresco-datatable__row:focus {
    outline-offset: -1px;
    outline-width: 1px;
    outline-color: green;
    outline-style: solid;
}

alfresco-datatable >>> .custom-row-style.alfresco-datatable__row--selected {
    color: green;
}
