<div class="p-10">
    <alfresco-datatable [data]="data" [multiselect]="multiselect"></alfresco-datatable>
</div>
<div class="p-10">
    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" [(ngModel)]="multiselect">
        <span class="mdl-checkbox__label">Multiselect</span>
    </label>
</div>
<div class="p-10">
    <button
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            (click)="reset()">
        Reset to default
    </button>
    <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
        (click)="addRow()">
        Add row
    </button>
    <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
        (click)="replaceRows()">
        Replace rows
    </button>
    <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
        (click)="replaceColumns()">
        Replace columns
    </button>
</div>
