.row-editor {
    padding: 8px;
}

.row-editor__validation-summary {
    visibility: hidden;
}

.row-editor__invalid .row-editor__validation-summary {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #d50000;
    visibility: visible;
}
