@import 'theming';

$adf-toolbar-height: 48px;
$adf-toolbar-font-size: 14px;

.adf-toolbar {
    .mat-toolbar {
        min-height: $adf-toolbar-height;
        border: 1px solid $alfresco-divider-color;
    }

    .mat-toolbar-row {
        height: $adf-toolbar-height;
        font-size: $adf-toolbar-font-size;
    }

    .mat-icon-button {
        color: $alfresco-secondary-text-color;
    }

    &--spacer {
        flex: 1 1 auto;
    }
}
