<ng-container *ngIf="nodeId">
    <adf-viewer [fileNodeId]="nodeId">

        <adf-viewer-open-with>
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Option 1</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Option 2</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Option 3</span>
            </button>
        </adf-viewer-open-with>

        <adf-viewer-more-actions>
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Action One</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Action Two</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Action Three</span>
            </button>
        </adf-viewer-more-actions>

        <extension-viewer [supportedExtensions]="['obj','3DS']" #extension>
            <ng-template let-urlFileContent="urlFileContent" let-extension="extension" >
                <threed-viewer [urlFile]="urlFileContent" [extension]="extension" ></threed-viewer>
            </ng-template>
        </extension-viewer>
    </adf-viewer>
</ng-container>
