<div fxFlex fxLayout="column" class="adf-settings-container">
    <mat-slide-toggle [color]="'primary'" [checked]="multiselect" (change)="toggleMultiselect()" data-automation-id="multiSelection">
        {{ 'SETTINGS_CLOUD.MULTISELECTION' | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle [color]="'primary'" [checked]="testingMode" (change)="toggleTestingMode()" data-automation-id="testingMode">
        {{ 'SETTINGS_CLOUD.TESTING_MODE' | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle [color]="'primary'" [checked]="taskDetailsRedirection" (change)="toggleTaskDetailsRedirection()" data-automation-id="taskDetailsRedirection">
        {{ 'SETTINGS_CLOUD.TASK_DETAILS_REDIRECTION' | translate }}
    </mat-slide-toggle>
    <mat-form-field data-automation-id="selectionMode">
        <mat-label>
            {{ 'SETTINGS_CLOUD.SELECTION_MODE' | translate }}
        </mat-label>
        <mat-select [(ngModel)]="selectionMode" (selectionChange)="onSelectionModeChange()">
            <mat-option *ngFor="let option of selectionModeOptions" [value]="option.value">
                {{ option.title }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
