<mat-tab-group class="app-cloud-layout-tab-body">
  <mat-tab label="{{'PS_CLOUD_TAB.APPS_TAB' | translate}}">
    <adf-sidenav-layout [sidenavMin]="70" [sidenavMax]="270" [stepOver]="780">
      <adf-sidenav-layout-header>
        <ng-template>
          <app-cloud-breadcrumbs></app-cloud-breadcrumbs>
        </ng-template>
      </adf-sidenav-layout-header>
      <adf-sidenav-layout-navigation>
        <ng-template>
          <adf-sidebar-action-menu [expanded]="true" [width]="205" title="{{'ADF_SIDEBAR_ACTION_MENU.BUTTON.CREATE' | translate}}">
            <mat-icon adf-sidebar-menu-title-icon>arrow_drop_down</mat-icon>
            <div adf-sidebar-menu-options>
              <button mat-menu-item data-automation-id="btn-start-task" (click)="onStartTask()">
                <mat-icon>assessment</mat-icon>
                <span>{{'ADF_SIDEBAR_ACTION_MENU.BUTTON.NEW_TASK' | translate}}</span>
              </button>
            </div>
            <div adf-sidebar-menu-options>
              <button mat-menu-item data-automation-id="btn-start-process" (click)="onStartProcess()">
                <mat-icon>assessment</mat-icon>
                <span>{{'ADF_SIDEBAR_ACTION_MENU.BUTTON.NEW_PROCESS' | translate}}</span>
              </button>
            </div>
          </adf-sidebar-action-menu>
          <app-cloud-filters-demo [appName]="appName"></app-cloud-filters-demo>
        </ng-template>
      </adf-sidenav-layout-navigation>
      <adf-sidenav-layout-content>
        <ng-template>
          <router-outlet></router-outlet>
        </ng-template>
      </adf-sidenav-layout-content>
    </adf-sidenav-layout>
  </mat-tab>
  <mat-tab label="{{'PS_CLOUD_TAB.SETTINGS_TAB' | translate}}">
      <app-cloud-settings></app-cloud-settings>
  </mat-tab>
</mat-tab-group>
