.app {
    &-section {
        mat-card-title {
            font-size: 18px;
            font-weight: bold;
        }

        mat-radio-group {
            margin: 7px 10px;

            mat-radio-button {
                margin: 0 3px;
            }
        }

        mat-card-content {
            .app-preselect-value {
                margin-right: 15px;
                min-width: 25%;

                &-big {
                    width: 60%;
                }

                &-full {
                    width: 100%;
                }
            }
        }
    }
}
