<h3>{{'PROCESS_LIST_CLOUD_DEMO.TITLE' | translate}}</h3>
<adf-cloud-process-filters
    [appName]="currentAppName"
    [showIcons]="true"
    (filterClick)="onFilterSelected($event)"
    *ngIf="currentAppName">
</adf-cloud-process-filters>

<adf-cloud-app-list *ngIf="!currentAppName"
                    (appClick)="onAppClick($event)"></adf-cloud-app-list>
<div *ngIf="currentAppName">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{filterName | translate}}
                </mat-panel-title>
                <mat-panel-description>
                    Customise your filter
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <mat-form-field>
                    <mat-select placeholder="Status" [(ngModel)]="status">
                        <mat-option value="">
                            ALL
                        </mat-option>
                        <mat-option value="RUNNING">
                            RUNNING
                        </mat-option>
                    <mat-option value="COMPLETED">
                            COMPLETED
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select [formControl]="sortFormControl">
                        <mat-option [value]="''">Select a column</mat-option>
                        <mat-option *ngFor="let column of columns" [value]="column.key">
                        {{column.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select [formControl]="sortDirectionFormControl">
                        <mat-option [value]="''">Select a direction</mat-option>
                        <mat-option value="ASC">
                            ASC
                        </mat-option>
                        <mat-option value="DESC">
                            DESC
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <adf-cloud-process-list
                            [applicationName]="currentAppName"
                            [status]="status"
                            [sorting]="sortArray"
                            [id]="filterId"
                            #processCloud>
        <data-columns>
            <data-column key="entry.id" title="Id"></data-column>
            <data-column key="entry.appName" title="Name"></data-column>
            <data-column key="entry.status" title="Status"></data-column>
        </data-columns>
    </adf-cloud-process-list>
    <adf-pagination [target]="processCloud" (changePageSize)="onChangePageSize($event)">
    </adf-pagination>
    <button mat-fab class="adf-process-list-cloud-button" color="primary" (click)="onClick()">Back</button>
</div>
