<adf-cloud-edit-process-filter
    [appName]="appName"
    [id]="filterId"
    [filterProperties]="filterProperties"
    [sortProperties]="filterSortProperties"
    [actions]="filterActions"
    [processFilter]="editedFilter"
    (filterChange)="onFilterChange($event)"
    (action)="onProcessFilterAction($event)">
</adf-cloud-edit-process-filter>
<div
    *ngIf="editedFilter"
    class="app-processes-list-container">
    <adf-cloud-process-list
        #processCloud
        class="app-cloud-layout-overflow"
        [appName]="editedFilter.appName"
        [appVersion]="editedFilter.appVersion"
        [initiator]="editedFilter.initiator"
        [processDefinitionId]="editedFilter.processDefinitionId"
        [processDefinitionName]="editedFilter.processDefinitionName"
        [processDefinitionKey]="editedFilter.processDefinitionKey"
        [id]="editedFilter.processInstanceId"
        [status]="editedFilter.status"
        [name]="editedFilter.processName"
        [businessKey]="editedFilter['businessKey']"
        [lastModifiedFrom]="editedFilter.lastModifiedFrom"
        [lastModifiedTo]="editedFilter.lastModifiedTo"
        [sorting]="[{orderBy: editedFilter.sort,  direction: editedFilter.order}]"
        [selectionMode]="selectionMode"
        [stickyHeader]="true"
        [showActions]="actionMenu"
        [showContextMenu]="contextMenu"
        [multiselect]="multiselect"
        (showRowActionsMenu)="onShowRowActionsMenu($event)"
        (showRowContextMenu)="onShowRowContextMenu($event)"
        (executeRowAction)="onExecuteRowAction($event)"
        (rowClick)="onRowClick($event)"
        (rowsSelected)="onRowsSelected($event)">
    </adf-cloud-process-list>
    <adf-pagination
        [target]="processCloud"
        (changePageSize)="onChangePageSize($event)"
        (nextPage)="resetSelectedRows()"
        (prevPage)="resetSelectedRows()">
    </adf-pagination>
    <div *ngIf="testingMode">
        <div *ngIf="multiselect">
            {{ 'SETTINGS_CLOUD.SELECTED_ROWS' | translate }}:
            <ul>
                <li *ngFor="let row of selectedRows">{{ row.id }}</li>
            </ul>
        </div>
        <div *ngIf="actionMenu">
            <span>{{ 'SETTINGS_CLOUD.ACTION.ACTION_MENU' | translate }}:</span>
            <br>
            <div *ngIf="selectedAction">
                <span>{{ 'SETTINGS_CLOUD.ACTION.PROCESS_ID' | translate }}: {{ selectedAction.id }}</span><br>
                <span>{{ 'SETTINGS_CLOUD.ACTION.ACTION_TYPE' | translate }}: {{ selectedAction.actionType }}</span>
            </div>
        </div>
        <div *ngIf="contextMenu">
            <span>{{ 'SETTINGS_CLOUD.ACTION.CONTEX_MENU' | translate }}:</span>
            <br>
            <div *ngIf="selectedContextAction">
                <span>{{ 'SETTINGS_CLOUD.ACTION.PROCESS_ID' | translate }}: {{ selectedContextAction.id }}</span><br>
                <span>{{ 'SETTINGS_CLOUD.ACTION.ACTION_TYPE' | translate }}: {{ selectedContextAction.actionType }}</span>
            </div>
        </div>
    </div>
</div>
