<div fxLayout="column" fxFill fxLayoutGap="2px">
    <adf-cloud-edit-process-filter
        [appName]="appName"
        [id]="filterId"
        [filterProperties]="processFilterProperties.filterProperties"
        [sortProperties]="processFilterProperties.sortProperties"
        [actions]="processFilterProperties.actions"
        (filterChange)="onFilterChange($event)"
        (action)="onProcessFilterAction($event)">
    </adf-cloud-edit-process-filter>
    <div fxLayout="column" fxFlex fxLayoutAlign="space-between" *ngIf="editedFilter">
        <adf-cloud-process-list #processCloud
            fxFlex
            class="app-cloud-layout-overflow"
            [appName]="editedFilter.appName"
            [appVersion]="editedFilter.appVersion"
            [initiator]="getInitiatorValue()"
            [processDefinitionId]="editedFilter.processDefinitionId"
            [processDefinitionName]="editedFilter.processDefinitionName"
            [processDefinitionKey]="editedFilter.processDefinitionKey"
            [id]="editedFilter.processInstanceId"
            [status]="editedFilter.status"
            [name]="editedFilter.processName"
            [businessKey]="editedFilter['businessKey']"
            [lastModifiedFrom]="editedFilter.lastModifiedFrom"
            [lastModifiedTo]="editedFilter.lastModifiedTo"
            [sorting]="sortArray"
            [selectionMode]="selectionMode"
            [stickyHeader]="true"
            [showActions]="actionMenu"
            [showContextMenu]="contextMenu"
            [multiselect]="multiselect"
            (showRowActionsMenu)="onShowRowActionsMenu($event)"
            (showRowContextMenu)="onShowRowContextMenu($event)"
            (executeRowAction)="onExecuteRowAction($event)"
            (rowClick)="onRowClick($event)"
            (rowsSelected)="onRowsSelected($event)">
        </adf-cloud-process-list>
        <adf-pagination
            [target]="processCloud"
            (changePageSize)="onChangePageSize($event)"
            (nextPage)="resetSelectedRows()"
            (prevPage)="resetSelectedRows()">
        </adf-pagination>
        <div *ngIf="testingMode">
            <div *ngIf="multiselect">
                {{ 'SETTINGS_CLOUD.SELECTED_ROWS' | translate }}:
                <ul>
                    <li *ngFor="let row of selectedRows">{{ row.id }}</li>
                </ul>
            </div>
            <div *ngIf="actionMenu">
                <span>{{ 'SETTINGS_CLOUD.ACTION.ACTION_MENU' | translate }}:</span>
                <br>
                <div *ngIf="selectedAction">
                    <span>{{ 'SETTINGS_CLOUD.ACTION.PROCESS_ID' | translate }}: {{ selectedAction.id }}</span><br>
                    <span>{{ 'SETTINGS_CLOUD.ACTION.ACTION_TYPE' | translate }}: {{ selectedAction.actionType }}</span>
                </div>
            </div>
            <div *ngIf="contextMenu">
                <span>{{ 'SETTINGS_CLOUD.ACTION.CONTEX_MENU' | translate }}:</span>
                <br>
                <div *ngIf="selectedContextAction">
                    <span>{{ 'SETTINGS_CLOUD.ACTION.PROCESS_ID' | translate }}: {{ selectedContextAction.id }}</span><br>
                    <span>{{ 'SETTINGS_CLOUD.ACTION.ACTION_TYPE' | translate }}: {{ selectedContextAction.actionType }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
