app-service-task-list-cloud-demo {
    min-height: 100%;
    min-width: 100%;
    display: flex;

    .app-task-list-with-filter, .app-task-list-container {
        flex-direction: column;
        display: flex;
        flex: 1;
    }

    &, .app-task-list-container {
        height: 100%;
        width: 100%;
    }

    .app-task-list-container {
        place-content: stretch space-between;
        align-items: stretch;

        .app-cloud-layout-overflow {
            flex: 1;
        }
    }
}
