<h4 data-automation-id="task-details-header">Simple page to show the taskId: {{ taskId }} of the app: {{ appName }}</h4>

<div class="app-task-details-cloud-column">
    <div class="app-task-details-cloud-row">
        <adf-cloud-task-form
            [appName]="appName"
            [taskId]="taskId"
            (cancelClick)="goBack()"
            (taskCompleted)="onTaskCompleted()"
            (formContentClicked)="onFormContentClicked($event)"
            (formSaved)="onFormSaved()"
            (error)="onError($event)">
        </adf-cloud-task-form>
        <adf-cloud-task-header
            #taskHeader
            [appName]="appName"
            [taskId]="taskId">
        </adf-cloud-task-header>
    </div>
</div>
