app-task-details-cloud-demo {
    .app {
        &-task-detail-container {
            display: flex;
        }

        &-task-title {
            margin-left: 15px;
        }

        &-task-control {
            width: 70%;
        }

        &-demop-card-container {
            width: 30%;
            font-family: inherit;
        }

        &-task-details-cloud-column {
            margin: 0;
            flex-direction: column;

            .app-task-details-cloud-row {
                flex-direction: row;

                adf-cloud-task-form {
                    flex: 1 1 100%;
                    flex-direction: column;
                    display: flex;
                    max-width: 80%;
                }

                adf-cloud-task-header {
                    flex: 1;
                }
            }
        }

        &-task-details-cloud-column, &-task-details-cloud-row {
            height: 100%;
            min-height: 100%;
            min-width: 100%;
            width: 100%;
            display: flex;
        }
    }
}
