<h2>Task Header Cloud</h2>

<mat-form-field class="app-appName-input">
    App name
    <input matInput
           [type]="'text'"
           [formControl]="appNameFormControl"
           (change)="updateTaskHeader()">
</mat-form-field>

<mat-form-field class="app-taskId-input">
    Task id
    <input matInput
           [type]="'text'"
           [formControl]="taskIdFormControl"
           (change)="updateTaskHeader()">
</mat-form-field>

<mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>

<div>
    <adf-cloud-task-header #taskHeader
                           [appName]="appName"
                           [taskId]="taskId"
                           (error)="onError($event)">
    </adf-cloud-task-header>
</div>
