<h4 data-automation-id="task-details-header">Simple page to show the taskId: {{ taskId }} of the app: {{ appName }}</h4>

<div fxLayout="column" fxFill fxLayoutGap="2px">
    <div fxLayout="row" fxFill>
        <div fxLayout="column" fxFlex="80%">
            <adf-cloud-task-form
                [appName]="appName"
                [taskId]="taskId"
                (cancelClick)="goBack()"
                (taskCompleted)="onTaskCompleted()"
                (taskClaimed)="onTaskClaimed()"
                (taskUnclaimed)="onTaskUnclaimed()"
                (formContentClicked)="onFormContentClicked($event)"
                (formSaved)="onFormSaved()">
            </adf-cloud-task-form>
        </div>
        <adf-cloud-task-header #taskHeader fxFlex
            [appName]="appName"
            [taskId]="taskId">
        </adf-cloud-task-header>
    </div>
</div>
