<h2>{{ 'APP_LAYOUT.TASK_HEADER_CLOUD.COMPONENT_NAME' | translate }}</h2>

<mat-form-field class="app-appName-input">
    {{ 'APP_LAYOUT.TASK_HEADER_CLOUD.APP_NAME_INPUT' | translate }}
    <input matInput
           [type]="'text'"
           [formControl]="appNameFormControl"
           (change)="updateTaskHeader()">
</mat-form-field>

<mat-form-field class="app-taskId-input">
    {{ 'APP_LAYOUT.TASK_HEADER_CLOUD.TASK_ID_INPUT' | translate }}
    <input matInput
           [type]="'text'"
           [formControl]="taskIdFormControl"
           (change)="updateTaskHeader()">
</mat-form-field>

<mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>

<div>
    <adf-cloud-task-header #taskHeader
                           [appName]="appName"
                           [taskId]="taskId"
                           (error)="onError($event)">
    </adf-cloud-task-header>
</div>
