<adf-cloud-edit-task-filter
    [appName]="appName"
    [id]="filterId"
    [filterProperties]="taskFilterProperties.filterProperties"
    [sortProperties]="taskFilterProperties.sortProperties"
    [actions]="taskFilterProperties.actions"
    (action)="onTaskFilterAction($event)"
    (filterChange)="onFilterChange($event)">
</adf-cloud-edit-task-filter>
<div class="adf-cloud-task-list-container" *ngIf="editedFilter">
    <adf-cloud-task-list
        #taskCloud
        class="app-cloud-layout-overflow"
        [appName]="editedFilter.appName"
        [processDefinitionId]="editedFilter.processDefinitionId"
        [processInstanceId]="editedFilter.processInstanceId"
        [name]="editedFilter.taskName"
        [id]="editedFilter.taskId"
        [parentTaskId]="editedFilter.parentTaskId"
        [priority]="editedFilter.priority"
        [owner]="editedFilter.owner"
        [lastModifiedFrom]="editedFilter.lastModifiedFrom"
        [lastModifiedTo]="editedFilter.lastModifiedTo"
        [status]="editedFilter.status"
        [assignee]="editedFilter.assignee"
        [createdDate]="editedFilter.createdDate"
        [dueDate]="editedFilter.dueDate"
        [sorting]="sortArray"
        [standalone]="editedFilter.standalone"
        [multiselect]="multiselect"
        [selectionMode]="selectionMode"
        [stickyHeader]="true"
        [showActions]="actionMenu"
        [showContextMenu]="contextMenu"
        (showRowActionsMenu)="onShowRowActionsMenu($event)"
        (showRowContextMenu)="onShowRowContextMenu($event)"
        (executeRowAction)="onExecuteRowAction($event)"
        (rowClick)="onRowClick($event)"
        (rowsSelected)="onRowsSelected($event)">
    </adf-cloud-task-list>
    <adf-pagination
        [target]="taskCloud"
        (changePageSize)="onChangePageSize($event)"
        (nextPage)="resetSelectedRows()"
        (prevPage)="resetSelectedRows()">
    </adf-pagination>
    <div *ngIf="testingMode">
        <div *ngIf="multiselect">
            {{ 'SETTINGS_CLOUD.SELECTED_ROWS' | translate }}:
            <ul>
                <li *ngFor="let row of selectedRows" [attr.data-automation-id]="row.id">{{ row.name }}</li>
            </ul>
        </div>
        <div *ngIf="actionMenu">
            <span>{{ 'SETTINGS_CLOUD.ACTION.ACTION_MENU' | translate }}:</span>
            <br>
            <div *ngIf="selectedAction">
                <span [attr.data-automation-id]="selectedAction.id">{{ 'SETTINGS_CLOUD.ACTION.TASK_ID' | translate }}: {{ selectedAction.id }}</span><br>
                <span [attr.data-automation-id]="selectedAction.actionType">{{ 'SETTINGS_CLOUD.ACTION.ACTION_TYPE' | translate }}: {{ selectedAction.actionType }}</span>
            </div>
        </div>
        <div *ngIf="contextMenu">
            <span>{{ 'SETTINGS_CLOUD.ACTION.CONTEX_MENU' | translate }}:</span>
            <br>
            <div *ngIf="selectedContextAction">
                <span [attr.data-automation-id]="selectedContextAction.id">{{ 'SETTINGS_CLOUD.ACTION.TASK_ID' | translate }}: {{ selectedContextAction.id }}</span><br>
                <span [attr.data-automation-id]="selectedContextAction.actionType">{{ 'SETTINGS_CLOUD.ACTION.ACTION_TYPE' | translate }}: {{ selectedContextAction.actionType }}</span>
            </div>
        </div>
    </div>
</div>
