.app {
    &-appName-input {
        width: 500px;
        margin-right: 50px;
    }

    &-taskId-input {
        width: 500px;
    }

    &-find-task-button {
        background-color: #ff9800;
        margin-left: 30px;
    }
}
