<button type="button" (click)="showDialog()" class="mdl-button" data-automation-id="btn-show" *ngIf="showButton">{{'START_PROCESS.BUTTON'|translate}}</button>

<dialog class="mdl-dialog" #dialog>
    <h4 class="mdl-dialog__title">{{'START_PROCESS.DIALOG.TITLE'|translate}}</h4>
    <div class="mdl-dialog__content">
        <activiti-start-process [appId]="appId" [showStartButton]="false" (start)="onStartProcessInstance($event)"></activiti-start-process>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" [disabled]="!validateForm()" (click)="startProcess()" class="mdl-button" data-automation-id="btn-start">{{'START_PROCESS.DIALOG.ACTION.START'|translate}}</button>
        <button type="button" (click)="closeDialog()" class="mdl-button close" data-automation-id="btn-close">{{'START_PROCESS.DIALOG.ACTION.CANCEL'|translate}}</button>
    </div>
</dialog>
