.adf-upload-attachment-container {
    border: 1px solid rgb(224, 224, 224);
    background: #fff;
    text-align: left;
    border-top: none;
    padding: 10px;
    text-align: center;
}

.adf-drag-area {
    border: 1px solid #eee;
    padding: 100px 10px;
    margin-bottom: 10px;
}

.adf-upload-attachment-container button {
    color: rgb(253, 145, 0);
    opacity: 0.64;
}
