<button type="button" (click)="showDialog()" class="mdl-button">Start Process</button>

<dialog class="mdl-dialog" #dialog>
    <h4 class="mdl-dialog__title">Start Process</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select name="processDefinition" [(ngModel)]="processDefinition" id="processDefinition">
                <option *ngFor="let processDef of processDefinitions" [value]="processDef.id">
                    {{processDef.name}}
                </option>
            </select>
            <label class="mdl-textfield__label" for="processDefinition">Type</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="name" rows="1" id="processName" />
            <label class="mdl-textfield__label" for="processName">Name</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" (click)="startProcess()" class="mdl-button">Start</button>
        <button type="button" (click)="cancel()" class="mdl-button close">Cancel</button>
    </div>
</dialog>
