:host {
    width: 100%;
}

.activiti-process-container {
    width: 100%;
    min-height: 100px;
    overflow: visible;
    padding: 10px;
}

.adf-comments-dialog {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    width: 40%;
}

.mdl-card__title-text {
    align-self: flex-end;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    margin: 0 0 8px 0;
}
