adf-datatable /deep/ th span {
    color: #232323;
}

adf-datatable /deep/ .data-cell {
    cursor: pointer !important;
}

.adf-attachment-list-loading-margin {
    margin-left: calc((100% - 100px) / 2);
    margin-right: calc((100% - 100px) / 2);
}

.adf-empty-list-header {
    height: 32px;
    opacity: 0.26 !important;
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -1px;
    color: #000000;
}

.adf-empty-list-drag_drop {
    height: 56px;
    opacity: 0.54;
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-size: 56px;
    line-height: 1;
    letter-spacing: -2px;
    color: #000000;
    margin-top: 40px !important;
}

.adf-empty-list__any-files-here-to-add {
    height: 24px;
    opacity: 0.54;
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    color: #000000;
    margin-top: 17px;
}

.adf-empty-list__empty_doc_lib {
    width: 565px;
    height: 161px;
    object-fit: contain;
    margin-top: 17px;
}