<div *ngIf="!processInstanceDetails">{{ 'DETAILS.MESSAGES.NONE'|translate }}</div>
<md-card *ngIf="processInstanceDetails">
    <md-card-header>
        <md-card-title>{{ getProcessNameOrDescription('medium') }}</md-card-title>
    </md-card-header>
    <md-card-content>
        <adf-process-instance-header
            [processInstance]="processInstanceDetails"
            (showProcessDiagram)="onShowProcessDiagram($event)">
        </adf-process-instance-header>

        <button class="adf-in-medias-res-button" md-button id="show-diagram-button" type="button" md-button md-raised-button [disabled]="isDiagramDisabled()" (click)="onShowProcessDiagram(processInstanceId)">{{ 'DETAILS.BUTTON.SHOW_DIAGRAM' | translate }}</button>

        <md-card>
            <md-card-content>
                <adf-process-instance-tasks
                    [processInstanceDetails]="processInstanceDetails"
                    (taskClick)="onTaskClicked($event)">
                </adf-process-instance-tasks>
            </md-card-content>
        </md-card>

        <div data-automation-id="header-status" *ngIf="isRunning()" class="adf-in-medias-res-button">
            <button md-button type="button" (click)="cancelProcess()">{{ 'DETAILS.BUTTON.CANCEL' | translate }}</button>
        </div>

        <md-card>
            <md-card-content>
                <adf-process-instance-comments #activiticomments
                    [readOnly]="!isRunning()"
                    [processInstanceId]="processInstanceDetails.id">
                </adf-process-instance-comments>
            </md-card-content>
        </md-card>

    </md-card-content>
</md-card>
