:host {
    width: 100%;
}

.activiti-label {
    font-weight: bolder;
}

.material-icons:hover {
    color: rgb(255, 152, 0);
}

.mdl-textfield.alf-mdl-selectfield label {
    color: rgba(0,0,0,.54);
    font-size: 12px;
    top: 4px;
}

.mdl-card {
    width: 100%;
    min-height: initial;
    margin-bottom: 20px;
}

.mdl-card .mdl-card__supporting-text {
    width: 100%;
    padding: 20px;
    box-sizing: inherit;
}

.mdl-dialog {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content;
}
