@import 'theming';
@import '../form';

.adf {

    &-group-widget {
        width: 100%;
    }

    &-group-autocomplete {
        background-color: #fff;
        position: inherit;
        max-height: 200px;
        overflow-y: auto;
        z-index: 5;
        width: 100%;
        color: #555;
        margin: -15px 0 0 0;
        > md-option {
            list-style-type: none;
            position: static;
            height: auto;
            width: auto;
            min-width: 124px;
            padding: 8px 0;
            margin: 0;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            border-radius: 2px;
            > span {
                opacity: 1;
            }
        }
    }
}
