<div class="adf-group-widget {{field.className}}"
     [class.is-dirty]="value"
     [class.adf-invalid]="!field.isValid" [class.adf-readonly]="field.readOnly" id="functional-group-div" *ngIf="field.isVisible">
    <md-input-container>
        <label class="adf-label" [attr.for]="field.id">{{field.name}}<span *ngIf="isRequired()">*</span></label>
        <input mdInput
               class="adf-input"
               type="text"
               [id]="field.id"
               [(ngModel)]="value"
               (ngModelChange)="checkVisibility(field)"
               (keyup)="onKeyUp($event)"
               (blur)="onBlur()"
               [disabled]="field.readOnly"
               placeholder="{{field.placeholder}}">
    </md-input-container>
    <error-widget [error]="field.validationSummary"></error-widget>
    <error-widget class="adf-dropdown-required-message" *ngIf="isInvalidFieldRequired()" required="{{ 'FORM.FIELD.REQUIRED' | translate }}"></error-widget>
</div>
<div class="adf-group-autocomplete mat-elevation-z2" *ngIf="popupVisible">
    <md-option *ngFor="let item of groups"
               [id]="field.id +'-'+item.id"
               (click)="onItemClick(item, $event)">
        <span>{{item.name}}</span>
    </md-option>
</div>
