.functional-group-widget {
    width: 100%;
}

.functional-group-widget--autocomplete {
    background-color: #fff;
    position: absolute;
    z-index: 5;
    color: #555;
    margin: -15px 0 0 0;
}

.functional-group-widget--autocomplete > ul {
    list-style-type: none;
    position: static;

    height: auto;
    width: auto;
    min-width: 124px;
    padding: 8px 0;
    margin: 0;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
}

.functional-group-widget--autocomplete > ul > li {
    opacity: 1;
}

.people-widget--autocomplete > ul > li {
    opacity: 1;
}

.functional-group-widget__invalid .mdl-textfield__input {
    border-color: #d50000;
}

.functional-group-widget__invalid .mdl-textfield__label {
    color: #d50000;
}

.functional-group-widget__invalid .mdl-textfield__label:after {
    background-color: #d50000;
}

.functional-group-widget__invalid .mdl-textfield__error {
    visibility: visible !important;
}
