<header class="adf-logout-background">
    <div class="adf-logout-section">
        <div class="adf-logout-headline">
            <h1>{{ 'APP.LOGOUT.TITLE' | translate}}</h1>
            <h2>{{ 'APP.LOGOUT.SUB_TITLE' | translate}}</h2>
        </div>

        <div class="adf-logout-login">
            <a mat-raised-button class="adf-logout-docs-button adf-primary-color"
               href="/login">{{ 'APP.LOGOUT.LOGIN' | translate}}</a>
        </div>
        <div class="adf-logout-home">
            <a mat-raised-button class="adf-logout-docs-button adf-primary-color"
               href="/">{{ 'APP.LOGOUT.HOME' | translate}}</a>
        </div>
    </div>
</header>
