<header class="app-logout-background">
    <div class="app-logout-section" data-automation-id="adf-logout-section">
        <div class="app-logout-headline">
            <h1 class="mat-h1">{{ 'APP.LOGOUT.TITLE' | translate}}</h1>
            <h2 class="mat-h2">{{ 'APP.LOGOUT.SUB_TITLE' | translate}}</h2>
        </div>

        <div class="app-logout-login">
            <a mat-raised-button color="primary" class="app-logout-docs-button"
               href="#/login">{{ 'APP.LOGOUT.LOGIN' | translate}}</a>
        </div>
        <div class="app-logout-home">
            <a mat-raised-button color="primary" class="app-logout-docs-button"
               href="/">{{ 'APP.LOGOUT.HOME' | translate}}</a>
        </div>
    </div>
</header>
