.adf-file-editor {
    height: 500px;
    width: 65%;
    float: left;
}

.adf-list-confgurations {
    float: left;
    width: 30%;
}

.adf-list-confgurations-buttons {
    width: 200px;
    margin-left:  30%;
    float: left;
}
