.app-file-editor {
    height: 500px;
    width: 65%;
    float: left;
}

.app-list-configurations {
    float: left;
    width: 30%;
}

.app-list-configurations-buttons {
    width: 200px;
    margin-left: 30%;
    float: left;
}
