<ngx-monaco-editor id="adf-code-configuration-editor"
                   class="app-file-editor"
                   [options]="editorOptions"
                   [(ngModel)]="code"
                   (onInit)="onInit($event)">
</ngx-monaco-editor>
<div>
    <button mat-raised-button id="adf-configuration-save" (click)="onSave()" color="primary">
        Save
    </button>
    <button mat-raised-button id="adf-configuration-clear" (click)="onClear()" color="primary">
        Clear
    </button>
</div>
