@import 'colors';

@mixin mat-upload-dialog-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .upload-dialog {
        background: mat-color($background, dialog);
        color: mat-color($foreground, text, 0.54);
        position: fixed;
        bottom: 20px;
        width: 40%;
        box-shadow: 1px 5px 15px #888888;

        &--position-left {
            left: 25px;
        }

        &--position-right {
            right: 25px;
        }

        &--minimized {
            width: 20%;

            .upload-dialog__content {
                display: none;
            }
        }

        &__header {
            padding: 1em;
            display: flex;
            align-items: center;
        }

        &__title {
            margin-left: 0.5em;
            flex: 1 1 auto;
        }

        &__info {
            padding: 0 1em 1em 1em;
        }

        &__content {
            overflow: auto;
            max-height: 195px;
            border-top: 1px solid mat-color($foreground, text, 0.14);
            border-bottom: 1px solid mat-color($foreground, text, 0.14);
        }

        &__actions {
            display: flex;
            justify-content: flex-end;
            padding: 1em;

            & > button {
                text-transform: uppercase;
            }
        }

        & md-icon {
            cursor: pointer;
        }
    }
}
