@import 'theming';

:host {
    display: flex;
    align-items: center;
    padding: 0.5em 1em 0.5em 1em;

    &:not(:first-child) {
         border-top: 1px solid $alfresco-dark-color--hue-1;
    }

    .list-row {
        cursor: default;

        &__name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1 1 auto;
            padding: 0 1em 0 0.5em;
        }

        &__group, &__block {
            min-width: 200px;
            display: flex;
            justify-content: flex-end;
        }

        &__group--toggle {
            cursor: pointer;

            .list-row__status {
                display: flex;
            }

            .list-row__action {
                display: none;
            }

            &:hover {
                .list-row__status {
                    display: none;
                }

                .list-row__action {
                    display: flex;
                }
            }
        }

        &__status--done {
            color: $alfresco-secondary-accent--default;
        }

        &__status--error {
            color: $alfresco-warn-color--default;
        }

        &__action--cancel {
            color: $alfresco-warn-color--default;
        }

        &__action--remove {
            color: $alfresco-secondary-accent--default;
        }
    }
}
