
@mixin mat-file-uploading-row-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    $file-uploading-row-hover-color: #eeeeee !default;

    adf-file-uploading-list-row:not(:first-child) {
        display: block;
        border-top: 1px solid mat-color($foreground, text, 0.14);
    }

    .adf-file-uploading-row {
        display: flex;
        align-items: center;
        padding: 0.5em 1em 0.5em 1em;
        cursor: default;

        &:hover {
            background: $file-uploading-row-hover-color;
        }

        &__name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1 1 auto;
            padding: 0 1em 0 0.5em;
        }

        &__group, &__block {
            min-width: 200px;
            display: flex;
            justify-content: flex-end;
        }

        &__group--toggle {
            cursor: pointer;

            .adf-file-uploading-row__status {
                display: flex;
            }

            .adf-file-uploading-row__action {
                display: none;
            }

            &:hover {
                .adf-file-uploading-row__status {
                    display: none;
                }

                .adf-file-uploading-row__action {
                    display: flex;
                }
            }
        }

        &__status--done {
            color: mat-color($accent);
        }

        &__status--error {
            color: mat-color($warn);
        }

        &__action--cancel {
            color: mat-color($warn);
        }

        &__action--remove {
            color: mat-color($accent);
        }
    }
}
