<div class="adf-file-uploading-row">
    <md-icon
        md-list-icon
        class="adf-file-uploading-row__type">
        insert_drive_file
    </md-icon>

    <span
        class="adf-file-uploading-row__name"
        title="{{ file.name }}">
        {{ file.name }}
    </span>

    <div
        *ngIf="file.status === FileUploadStatus.Progress || file.status === FileUploadStatus.Starting"
        (click)="onCancel(file)"
        class="adf-file-uploading-row__group adf-file-uploading-row__group--toggle"
        title="{{ 'ADF_FILE_UPLOAD.BUTTON.CANCEL_FILE' | translate }}">
        <span class="adf-file-uploading-row__status">
            {{ file.progress.loaded | adfFileSize }} / {{ file.progress.total | adfFileSize }}
        </span>

        <md-icon
            md-list-icon
            class="adf-file-uploading-row__action adf-file-uploading-row__action--cancel">
            clear
        </md-icon>
    </div>

    <div
        *ngIf="file.status === FileUploadStatus.Complete"
        (click)="onRemove(file)"
        class="adf-file-uploading-row__group adf-file-uploading-row__group--toggle"
        title="{{ 'ADF_FILE_UPLOAD.BUTTON.REMOVE_FILE' | translate }}">
        <md-icon
            md-list-icon
            class="adf-file-uploading-row__status adf-file-uploading-row__status--done">
            check_circle
        </md-icon>

        <md-icon
            md-list-icon
            class="adf-file-uploading-row__action adf-file-uploading-row__action--remove">
            remove_circle
        </md-icon>
    </div>

    <div
        *ngIf="file.status === FileUploadStatus.Pending"
        (click)="onCancel(file)"
        class="adf-file-uploading-row__group adf-file-uploading-row__group--toggle">
        <md-icon
            md-list-icon
            class="adf-file-uploading-row__status adf-file-uploading-row__status--pending">
            schedule
        </md-icon>

        <md-icon
            md-list-icon
            class="adf-file-uploading-row__action adf-file-uploading-row__action--remove">
            remove_circle
        </md-icon>
    </div>

    <div
        *ngIf="file.status === FileUploadStatus.Error"
        class="adf-file-uploading-row__block adf-file-uploading-row__status--error"
        title="{{ file.response }}">
        <md-icon md-list-icon>
            report_problem
        </md-icon>
    </div>

    <div
        *ngIf="file.status === FileUploadStatus.Cancelled  ||
            file.status === FileUploadStatus.Aborted ||
            file.status === FileUploadStatus.Deleted"
        class="adf-file-uploading-row__block adf-file-uploading-row__status--cancelled">
        {{ 'ADF_FILE_UPLOAD.STATUS.FILE_CANCELED_STATUS' | translate }}
    </div>
<div>