<div *ngIf="filesUploadingList" class="file-dialog" [ngClass]="{show: isDialogActive}">
    <div class="header">
        <div class="title">
            <span id="total-upload-completed">{{totalCompleted}}</span> {{'FILE_UPLOAD.MESSAGES.COMPLETED' | translate}}
        </div>
        <div class="buttons">
            <div class="minimize-button" [ngClass]="{active: _isDialogMinimized}"  (click)="toggleDialogMinimize()">
                <i class="material-icons down">keyboard_arrow_down</i>
                <i class="material-icons up">keyboard_arrow_up</i>
            </div>

            <div class="close-button" (click)="toggleShowDialog()">
                <i class="material-icons">clear</i>
            </div>
        </div>
    </div>
    <div class="body-dialog" [ngClass]="{hide: _isDialogMinimized}">
        <alfresco-file-uploading-list [filesUploadingList]="filesUploadingList"></alfresco-file-uploading-list>
    </div>
</div>