<form>
    <!--Files Upload-->
    <div *ngIf="!uploadFolders" class="mdl-button mdl-js-button mdl-button--raised mdl-button--file">
        <i class="material-icons">file_upload</i> Upload File

        <!--Multiple Files Upload-->
        <span *ngIf="multipleFiles">
            <input id="upload-multiple-files" type="file" name="uploadFiles"
                   (change)="onFilesAdded($event)"
                   multiple="multiple"
                   accept="{{acceptedFilesType}}"
                   #uploadFiles>
        </span>

        <!--Single Files Upload-->
        <span *ngIf="!multipleFiles">
            <input id="upload-single-file" type="file" name="uploadFiles"
                   (change)="onFilesAdded($event)"
                   accept="{{acceptedFilesType}}"
                   #uploadFiles>
        </span>
    </div>

    <!--Folders Upload-->
    <div *ngIf="uploadFolders" class="mdl-button mdl-js-button mdl-button--raised mdl-button--file">
        <i class="material-icons">file_upload</i> Upload Folder
        <input id="uploadFolder" type="file" name="uploadFiles"
               (change)="onFilesAdded($event)"
               multiple="multiple"
               accept="{{acceptedFilesType}}"
               webkitdirectory directory
               multiple #uploadFolders>
    </div>
</form>

<!--Upload Dialog-->
<file-uploading-dialog [hidden]="showDialogUpload" [filesUploadingList]="filesUploadingList"
                       #fileUploadingDialog></file-uploading-dialog>

<!--Notification bar-->
<div id="undo-notification-bar" [hidden]="showUdoNotificationBar" class="mdl-js-snackbar mdl-snackbar"
     #undoNotificationBar>
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>