.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}


.mdl-button--file--disabled {
    background: rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
}

.mdl-button--file--disabled:hover {
    background: rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
}

.mdl-button--file--disabled:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
    background-color: rgba(158,158,158,.4);
}

.mdl-button--file--disabled input[type="file"]:disabled {
    cursor: default;
    background-color: transparent;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
    right: 0;
}
