.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
    right: 0;
}

.upload-border {
    vertical-align: middle;
    color: #555;
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
    display: inline-block;
    border: 3px dashed #555;
    text-align: center;
}

.input-focus {
    color: #2196F3;
    border: 3px dashed #2196F3;
}