.upload-border {
    vertical-align: middle;
    color: #555;
    padding: 20px;
    text-align: center;
    overflow-y: hidden;
}

.input-focus {
    color: #2196F3;
    border: 3px dashed #2196F3;
}
