<div file-draggable id='UploadBorder' class="upload-border"
     (onFilesDropped)="onFilesDropped($event)"
     (onFilesEntityDropped)="onFilesEntityDropped($event)"
     (onFolderEntityDropped)="onFolderEntityDropped($event)"
     dropzone="" webkitdropzone="*" #droparea>
    <ng-content></ng-content>
</div>

<!--Notification bar-->
<div id="undo-notification-bar"  class="mdl-js-snackbar mdl-snackbar"
     #undoNotificationBar>
    <div class="mdl-snackbar__text"></div>
    <button data-automation-id="undo_upload_button" class="mdl-snackbar__action" type="button">{{'FILE_UPLOAD.ACTION.UNDO' | translate}}</button>
</div>