<div class="adf-people-widget {{field.className}}"
     [class.is-dirty]="value"
     [class.adf-invalid]="!field.isValid" id="typehead-div" *ngIf="field.isVisible">
    <md-input-container>
        <label class="adf-label" [attr.for]="field.id">{{field.name}}</label>
        <input mdInput
               class="adf-input"
               type="text"
               [id]="field.id"
               [(ngModel)]="value"
               (ngModelChange)="checkVisibility(field)"
               (keyup)="onKeyUp($event)"
               (blur)="onBlur()"
               [disabled]="field.readOnly"
               placeholder="{{field.placeholder}}">
        <span *ngIf="field.validationSummary" class="adf-error">{{field.validationSummary}}</span>
    </md-input-container>
</div>
<div class="adf-typeahead-autocomplete mat-elevation-z2" *ngIf="popupVisible && users.length > 0">
    <md-option   *ngFor="let item of users"
                 [id]="field.id +'-'+item.id"
               (click)="onItemClick(item, $event)">
        <span>{{getDisplayName(item)}}</span>
    </md-option>
</div>
