<div class="mdl-textfield mdl-js-textfield people-widget {{field.className}}"
     [class.people-widget__invalid]="!field.isValid">
    <label [attr.for]="field.id">{{field.name}}</label>
    <input class="mdl-textfield__input"
           type="text"
           [attr.id]="field.id"
           [(ngModel)]="value"
           (ngModelChange)="checkVisibility(field)"
           (keyup)="onKeyUp($event)"
           (blur)="onBlur()"
           [disabled]="field.readOnly"
           placeholder="{{field.placeholder}}">
    <span *ngIf="field.validationSummary" class="mdl-textfield__error">{{field.validationSummary}}</span>
</div>
<div class="people-widget--autocomplete mdl-shadow--2dp" *ngIf="popupVisible && users.length > 0">
    <ul>
        <li *ngFor="let item of users"
            class="mdl-menu__item"
            (click)="onItemClick(item, $event)">
            {{getDisplayName(item)}}
        </li>
    </ul>
</div>
