<adf-toolbar>
    <adf-toolbar-title>
        <mat-form-field>
            <mat-select [(ngModel)]="selectedSource" data-automation-id="custom-sources-select">
                <mat-option *ngFor="let source of sources" [value]="source.value">
                    {{ source.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </adf-toolbar-title>
    <adf-toolbar-divider></adf-toolbar-divider>
    <button mat-icon-button
            [disabled]="!hasSelection(customSourcesDocumentList.selection)"
            title="{{ 'DOCUMENT_LIST.TOOLBAR.DOWNLOAD' | translate }}"
            [adfNodeDownload]="customSourcesDocumentList.selection">
        <mat-icon>get_app</mat-icon>
    </button>
</adf-toolbar>
<adf-document-list
    #customSourcesDocumentList
    [currentFolderId]="selectedSource"
    locationFormat="/files"
    selectionMode="multiple">
</adf-document-list>
