@mixin adf-file-component-theme($theme) {
    .adf-container {
        margin: 10px !important;
    }

    @media screen and ($mat-xsmall) {
        .adf-container {
            margin: 0;
        }

        .adf-show-versions-button.mat-icon-button {
            display: none;
        }
    }

    .adf-error-message {
        text-align: left;
    }

    .adf-error-message--text {
        color: #d50000;
    }

    .adf-document-list-container {
        min-height: 400px;

        .adf-datatable-list {
            min-height: 400px;
        }
    }

    .adf-datatable-card .adf-lock-button {
        top: -10px;
    }

    .adf-site-container-style {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        min-width: 200px;
    }

    .adf-content-service-settings {
        padding: 16px;
    }

    .adf-files-toolbar {
        .adf-toolbar-title {
            display: flex;
            width: 100%;
        }
    }

    .adf-manage-versions-sidebar {
        width: 360px !important;

        & .adf-info-drawer-layout-header {
            display: none !important;
        }
    }

    .adf-no-result__empty_doc_lib {
        width: 565px;
        height: 161px;
        object-fit: contain;
        margin-top: 17px;
    }

    .adf-empty_template {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .adf-no-result-message {
        height: 32px;
        opacity: 0.26;
        font-size: 24px;
        line-height: 1.33;
        letter-spacing: -1px;
    }

    .adf-container-recent {
        mat-icon {
            margin-left: 20px;
        }

        .adf-empty-list__block {
            height: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media all {
        .adf-isLocked-column {
            max-width: 30px !important;
            margin-right: 5px;
        }

        .adf-folder-image-column {
            max-width: 28px!important;
        }
    }

    @media (max-width: 768px) {
            .adf-createdOn-column {
                display: none !important;
            }
    }

    @media (max-width: 500px) {
        .adf-datatable-list {
            .adf {

                &-display-name-column {
                    max-width: 50% !important;
                }
                &-size-column {
                    display: none !important;
                }
                &-createdBy-column {
                    max-width: 45% !important;
                }
                &-nodeId-column {
                    display: none !important;
                }
            }
        }
    }

    @media (max-width: 600px) {
        .adf-datatable-list {
            .adf {
                &-display-name-column {
                    max-width: 35%;
                }
                &-size-column {
                    max-width: 8%;
                }
                &-createdBy-column {
                    max-width: 35%;
                }
                &-createdOn-column {
                    max-width: 15%;
                }
                &-nodeId-column {
                    max-width: 10%;
                }
                &-isLocked-column {
                    display: none!important;
                }
                &-standard-breadcrumb {
                    display: none !important;
                }
            }
        }
    }

    @media (min-width: 601px) {
        .adf-datatable-list {
            .adf {

                &-display-name-column {
                    max-width: 30%;
                }
                &-size-column {
                    max-width: 10%;
                }
                &-createdBy-column {
                    max-width: 30%;
                }
                &-createdOn-column {
                    max-width: 15%;
                }
                &-nodeId-column {
                    max-width: 12%;
                }
                &-alternate-breadcrumb {
                    display: none !important;
                }
            }
        }
    }

    @media (min-width: 1400px) {
        .adf-datatable-list {
            .adf {
                &-display-name-column {
                    max-width: 40%;
                }
                &-size-column {
                    max-width: 15%;
                }
                &-createdBy-column {
                    max-width: 20%;
                }
                &-createdOn-column {
                    max-width: 20%;
                }
                &-nodeId-column {
                    max-width: 20%;
                }
            }
        }
    }
}
