<div class="app-container">
    <div
        class="app-document-list-container"
        id="document-list-container">
        <adf-upload-drag-area
            (updateFileVersion)="onUploadNewVersion($event)"
            [acceptedFilesType]="getFileFiltering()"
            [adf-check-allowable-operation]="'create'"
            [adf-nodes]="disableDragArea ? getCurrentDocumentListNode() : []"
            [disabled]="disableDragArea"
            [rootFolderId]="currentFolderId"
            [versioning]="versioning">
            <div *ngIf="errorMessage" class="app-error-message">
                <button (click)="resetError()" mat-icon-button>
                    <mat-icon>highlight_off</mat-icon>
                </button>
                <span class="app-error-message--text">{{ errorMessage }}</span>
            </div>
            <adf-toolbar *ngIf="!disableDragArea" class="app-files-toolbar">
                <adf-toolbar-title>
                    <adf-breadcrumb [target]="documentList" root="Personal Files">
                    </adf-breadcrumb>
                    <adf-dropdown-breadcrumb [target]="documentList">
                    </adf-dropdown-breadcrumb>
                </adf-toolbar-title>

                <div class="app-document-action-buttons">
                    <button
                        (error)="openSnackMessageError($event)"
                        (success)="documentList.reload()"
                        [adf-create-folder]="currentFolderId"
                        [disabled]="!canCreateContent(documentList.folderNode)"
                        data-automation-id="create-new-folder"
                        mat-icon-button
                        title="New folder">
                        <mat-icon>create_new_folder</mat-icon>
                    </button>
                    <button [adfNodeDownload]="documentList.selection"
                            [disabled]="!hasSelection(documentList.selection)"
                            mat-icon-button
                            title="Download">
                        <mat-icon>get_app</mat-icon>
                    </button>
                    <button (delete)="onDeleteActionSuccess($event)"
                            [adf-delete]="documentList.selection"
                            [adf-nodes]="documentList.selection"
                            [permanent]="true"
                            adf-check-allowable-operation="delete"
                            data-automation-id="delete-toolbar-button"
                            mat-icon-button
                            title="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                <button (click)="showVersions = !showVersions" class="app-show-versions-button" mat-icon-button
                        title="Toggle metadata">
                    <mat-icon>{{ showVersions ? 'chevron_right' : 'chevron_left' }}</mat-icon>
                </button>

                <adf-toolbar-divider class="app-toolbar-divider-before-more-menu"></adf-toolbar-divider>

                <button [matMenuTriggerFor]="menu" class="app-toolbar-more-menu-button" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (delete)="onDeleteActionSuccess($event)"
                            [adf-delete]="documentList.selection"
                            [adf-nodes]="documentList.selection"
                            adf-check-allowable-operation="delete"
                            mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </adf-toolbar>

            <div [ngClass]="{'adf-sticky-document-list': stickyHeader }"
                 class="app-document-list-container-in-upload-drag-area app-document-list-container">
                <adf-document-list
                    #documentList
                    (error)="onNavigationError($event)"
                    (filterSelection)="onFilterSelected($event)"
                    (folderChange)="onFolderChange($event)"
                    (name-click)="documentList.onNodeDblClick($any($event).detail?.node)"
                    (permissionError)="handlePermissionError($event)"
                    (preview)="showFile($event)"
                    (ready)="emitReadyEvent($event)"
                    (success)="resetError()"
                    [allowDropFiles]="allowDropFiles"
                    [contentActions]="true"
                    [contextMenuActions]="true"
                    [currentFolderId]="currentFolderId"
                    [filterValue]="paramValues"
                    [headerFilters]="headerFilters"
                    [includeFields]="includeFields"
                    [multiselect]="multiselect"
                    [node]="nodeResult"
                    [permissionsStyle]="permissionsStyle"
                    [selectionMode]="selectionMode"
                    [showHeader]="showHeader"
                    [sortingMode]="sortingMode"
                    [sorting]="sorting"
                    [stickyHeader]="stickyHeader"
                    class="app-file-list-container">

                    <adf-custom-empty-content-template *ngIf="disableDragArea">
                        <div class="app-empty_template">
                            <div class="app-no-result-message">{{ 'SEARCH.NO_RESULT' | translate }}</div>
                        </div>
                    </adf-custom-empty-content-template>
                    <data-columns>
                        <data-column
                            [sortable]="false"
                            key="$thumbnail"
                            type="image">
                        </data-column>
                        <data-column
                            class="adf-expand-cell-5"
                            key="name"
                            sortingKey="name"
                            title="Display name">
                        </data-column>
                        <data-column
                            class="adf-ellipsis-cell"
                            key="content.sizeInBytes"
                            sortingKey="sizeInBytes"
                            title="Size"
                            type="fileSize">
                        </data-column>
                        <data-column
                            *ngIf="searchTerm"
                            class="adf-expand-cell-3"
                            key="search"
                            title="Search">
                            <ng-template let-entry="$implicit">
                                <div
                                    [innerHTML]="searchResultsHighlight(entry.row.node.entry.search) | highlight:searchTerm">
                                </div>
                            </ng-template>
                        </data-column>

                        <data-column
                            [sortable]="false"
                            class="app-full-width adf-ellipsis-cell adf-desktop-only"
                            key="id"
                            title="Node id">
                        </data-column>

                        <data-column
                            [focus]="false"
                            [sortable]="false"
                            class="adf-ellipsis-cell"
                            key="lock"
                            title="Lock">
                            <ng-template let-entry="$implicit">
                                <button [adf-node-lock]="entry.row.node.entry" class="app-lock-button" mat-icon-button>
                                    <mat-icon *ngIf="entry.row.getValue('isLocked')">lock</mat-icon>
                                    <mat-icon *ngIf="!entry.row.getValue('isLocked')">lock_open</mat-icon>
                                </button>
                            </ng-template>
                        </data-column>
                        <data-column
                            class="adf-ellipsis-cell"
                            key="createdByUser.displayName"
                            sortingKey="createdByUser"
                            title="Created by">
                        </data-column>
                        <data-column
                            [format]="'timeAgo'"
                            class="adf-ellipsis-cell"
                            key="createdAt"
                            sortingKey="createdAt"
                            title="Created"
                            type="date">
                        </data-column>

                    </data-columns>

                    <content-actions>
                        <content-action
                            handler="download"
                            icon="get_app"
                            title="Download">
                        </content-action>
                        <content-action
                            (permissionEvent)="handlePermissionError($event)"
                            (success)="onDeleteActionSuccess($event)"
                            [disableWithNoPermission]="true"
                            handler="delete"
                            icon="delete"
                            permission="delete"
                            title="Delete">
                        </content-action>
                        <content-action
                            (error)="onContentActionError($event)"
                            (execute)="onPermissionRequested($event)"
                            icon="supervisor_account"
                            permission="copy"
                            title="Permission">
                        </content-action>
                        <!-- document actions -->
                        <content-action
                            (execute)="onManageVersions($event)"
                            icon="storage"
                            target="document"
                            title="Manage versions">
                        </content-action>
                        <content-action
                            (execute)="onAspectUpdate($event)"
                            icon="beach_access"
                            target="document"
                            title="Update Aspects">
                        </content-action>
                    </content-actions>
                </adf-document-list>
            </div>
            <adf-pagination
                (changePageNumber)="onChangePageNumber($event)"
                (changePageSize)="onChangePageSize($event)"
                (nextPage)="onNextPage($event)"
                (prevPage)="onPrevPage($event)"
                [target]="documentList">
            </adf-pagination>
        </adf-upload-drag-area>

        <adf-info-drawer-layout *ngIf="showVersions" class="app-manage-versions-sidebar">
            <div info-drawer-content>

                <adf-info-drawer *ngIf="documentList.selection[0]" [title]="'Details'">
                    <adf-info-drawer-tab label="Properties">
                        <adf-content-metadata
                            [displayCategories]="true"
                            [displayEmpty]="displayEmptyMetadata"
                            [displayTags]="true"
                            [node]="documentList.selection[0].entry">
                        </adf-content-metadata>
                    </adf-info-drawer-tab>
                    <adf-info-drawer-tab label="Versions">
                        <ng-container *ngIf="hasOneFileSelected();else choose_document_template">
                            <ng-container *ngIf="userHasPermissionToManageVersions(); else no_permission_to_versions">
                                <adf-version-manager
                                    [allowDownload]="allowVersionDownload"
                                    [node]="documentList.selection[0].entry"
                                    [showComments]="true">
                                </adf-version-manager>
                            </ng-container>
                        </ng-container>
                        <ng-template #choose_document_template>
                            <div class="app-manage-versions-empty">
                                <mat-icon class="app-manage-versions-empty-icon">face</mat-icon>
                                Select a file to see its versions
                            </div>
                        </ng-template>
                        <ng-template #no_permission_to_versions>
                            <div class="app-manage-versions-no-permission">
                                <mat-icon class="app-manage-versions-no-permission-icon">warning</mat-icon>
                                You don't have permission to manage versions of this content
                            </div>
                        </ng-template>
                    </adf-info-drawer-tab>
                </adf-info-drawer>
            </div>
        </adf-info-drawer-layout>
    </div>
</div>

<div *ngIf="showSettingsPanel" class="app-content-service-settings">
    <p>Current folder ID: {{ documentList.currentFolderId }}</p>

    <div class="app-p-10">
        Selected Nodes:
        <ul>
            <li *ngFor="let node of documentList.selection">
                {{ node.entry.name }}
            </li>
        </ul>
    </div>

    <div class="app-container">
        <section>
            <mat-slide-toggle [(ngModel)]="multiselect" data-automation-id="multiSelectToggle">
                Multiselect (with checkboxes)
            </mat-slide-toggle>
        </section>

        <section>
            <mat-slide-toggle [(ngModel)]="multipleFileUpload" id="adf-multiple-upload-switch">
                Multiple File Upload
            </mat-slide-toggle>
        </section>

        <section>
            <mat-slide-toggle [(ngModel)]="folderUpload" id="adf-folder-upload-switch">
                Folder upload
            </mat-slide-toggle>
        </section>

        <section>
            <mat-slide-toggle [(ngModel)]="acceptedFilesTypeShow" id="adf-extension-filter-upload-switch">
                Custom extensions filter
            </mat-slide-toggle>
        </section>

        <section>
            <mat-slide-toggle [(ngModel)]="maxSizeShow" id="adf-max-size-filter-upload-switch">
                Max size filter
            </mat-slide-toggle>
        </section>

        <section>
            <mat-slide-toggle [(ngModel)]="versioning" id="adf-version-upload-switch">
                Enable versioning
            </mat-slide-toggle>
        </section>

        <section>
            <mat-slide-toggle [(ngModel)]="allowVersionDownload">
                Enable version download
            </mat-slide-toggle>
        </section>

        <section>
            <mat-slide-toggle [(ngModel)]="displayEmptyMetadata" id="displayEmptyMetadata">
                Display Empty Metadata
            </mat-slide-toggle>
        </section>

        <section>
            <mat-slide-toggle [(ngModel)]="stickyHeader" id="stickyHeader">
                Sticky Header
            </mat-slide-toggle>
        </section>

        <h5>Upload</h5>
        <section *ngIf="acceptedFilesTypeShow">
            <mat-form-field floatPlaceholder="float">
                <input [(ngModel)]="acceptedFilesType"
                       data-automation-id="accepted-files-type"
                       matInput
                       placeholder="Extension accepted">
            </mat-form-field>
        </section>
        <section *ngIf="maxSizeShow">
            <mat-form-field>
                <input [(ngModel)]="maxFilesSize" data-automation-id="max-files-size" matInput placeholder="Max file size"
                       type="number">
            </mat-form-field>
        </section>
        <div *ngIf="!acceptedFilesTypeShow">
            <adf-upload-button
                (error)="openSnackMessageError($event)"
                (permissionEvent)="handlePermissionError($event)"
                [adf-check-allowable-operation]="'create'"
                [adf-nodes]="enableUpload ? getCurrentDocumentListNode() : []"
                [disabled]="!enableUpload"
                [maxFilesSize]="maxSizeShow ? maxFilesSize : null"
                [multipleFiles]="multipleFileUpload"
                [rootFolderId]="documentList.currentFolderId"
                [uploadFolders]="folderUpload"
                [versioning]="versioning">
            </adf-upload-button>
        </div>
        <div *ngIf="acceptedFilesTypeShow">
            <adf-upload-button
                (error)="openSnackMessageError($event)"
                (permissionEvent)="handlePermissionError($event)"
                [acceptedFilesType]="acceptedFilesType"
                [adf-check-allowable-operation]="'create'"
                [adf-nodes]="enableUpload ? getCurrentDocumentListNode() : []"
                [disabled]="!enableUpload"
                [multipleFiles]="multipleFileUpload"
                [rootFolderId]="documentList.currentFolderId"
                [uploadFolders]="folderUpload"
                [versioning]="versioning">
            </adf-upload-button>
        </div>
        <section>
            <mat-checkbox [(ngModel)]="enableUpload" id="adf-disable-upload">
                Enable upload
            </mat-checkbox>
        </section>
    </div>

    <div class="app-p-10">
        <p>Use Cmd (Mac) or Ctrl (Windows) to toggle selection of multiple items</p>
        <mat-form-field>
            <mat-select [(ngModel)]="selectionMode" name="food" placeholder="Selection Mode">
                <mat-option *ngFor="let mode of selectionModes" [value]="mode.value">
                    {{ mode.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
