.app-document-list-container {
    min-height: 400px;

    .app-datatable-list {
        min-height: 400px;
    }

    adf-toolbar-title {
        flex: 0 1 auto;
    }

    .app-document-action-buttons {
        flex: 0 0 auto;
    }
}
