<div class="app-container">
    <div
        id="document-list-container"
        class="app-document-list-container">
            <adf-toolbar>
                <adf-toolbar-title>
                    <adf-breadcrumb root="Personal Files" [target]="documentList">
                    </adf-breadcrumb>
                </adf-toolbar-title>
            </adf-toolbar>

            <div class="app-document-list-container">
                <adf-document-list
                    #documentList
                    class="app-file-list-container"
                    [currentFolderId]="currentFolderId"
                    [node]="nodeResult"
                    [sorting]="sorting"
                    [sortingMode]="'server'"
                    (error)="onNavigationError($event)"
                    (preview)="showFile($event)"
                    (folderChange)="onFolderChange($event)">

                    <data-columns>
                        <data-column
                            key="$thumbnail"
                            type="image"
                            [sortable]="false">
                        </data-column>
                        <data-column
                            key="name"
                            sortingKey="name"
                            title="Display name"
                            class="adf-expand-cell-5">
                        </data-column>
                        <data-column
                            key="content.sizeInBytes"
                            title="Size"
                            type="fileSize"
                            sortingKey="sizeInBytes"
                            class="adf-ellipsis-cell">
                        </data-column>

                        <data-column
                            title="Created by"
                            key="createdByUser.displayName"
                            sortingKey="createdByUser"
                            class="adf-ellipsis-cell">
                        </data-column>
                        <data-column
                            title="Created"
                            key="createdAt"
                            sortingKey="createdAt"
                            type="date"
                            [format]="'timeAgo'"
                            class="adf-ellipsis-cell">
                        </data-column>

                    </data-columns>
                </adf-document-list>
            </div>
            <adf-pagination
                [target]="documentList"
                (changePageSize)="onChangePageSize($event)"
                (changePageNumber)="onChangePageNumber($event)"
                (nextPage)="onNextPage($event)"
                (prevPage)="onPrevPage($event)">
            </adf-pagination>
    </div>
</div>
