@mixin adf-file-component-theme($theme) {
    $minimumDocumentListWidth: 900px;
    $foreground: map-get($theme, foreground);

    .container {
        margin: 10px !important;
    }

    @media screen and ($mat-xsmall) {
        .container {
            margin: 0;
        }

        .adf-show-versions-button.mat-icon-button {
            display: none;
        }
    }

    .error-message {
        text-align: left;
    }

    .error-message--text {
        color: #d50000;
    }

    .adf-not-overlay-viewer {
        height: 900px;
    }

    adf-document-list ::ng-deep adf-datatable tr.document-list__create {
        background: green !important;
    }

    adf-document-list ::ng-deep adf-datatable tr.document-list__disable {
        background: red !important;
    }

    adf-document-list ::ng-deep .adf-datatable-selected > svg {
        fill: #00bcd4 !important;
    }

    .adf-data-table-card .adf-lock-button {
        top: -10px;
    }

    .adf-site-container-style {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        min-width: 200px;
    }

    .adf-content-service-settings {
        padding: 16px;
    }

    .adf-files-toolbar {
        .adf-toolbar-title {
            display: flex;
            width: 100%;

            .adf-breadcrumb {
                width: 0;
            }
        }
    }

    .adf-manage-versions-sidebar {
        width: 360px !important;
        color: rgba(0, 0, 0, 0.87);

        .adf-manage-versions-empty,
        .adf-manage-versions-no-permission {
            margin: 44px;
            color: mat-color($foreground, text, 0.54);
            text-align: center;

            &-icon {
                display: block;
                font-size: 48px;
                margin: 0 auto 32px auto;
            }
        }

        & .adf-info-drawer-layout-header {
            display: none !important;
        }

        & .adf-info-drawer-layout-content {
            padding: 10px !important;
        }
    }

    .adf-no-result__empty_doc_lib {
        width: 565px;
        height: 161px;
        object-fit: contain;
        margin-top: 17px;
    }

    .adf-empty_template {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .adf-no-result-message {
        height: 32px;
        opacity: 0.26;
        font-size: 24px;
        line-height: 1.33;
        letter-spacing: -1px;
    }

    .adf-container-recent {
        mat-icon {
            margin-left: 20px;
        }

        .empty-list__block {
            height: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (max-device-width: $minimumDocumentListWidth) {
        adf-document-list .adf-data-table {
            .adf-data-table-cell,
            .adf-datatable-table-cell-header {
                display: none;
            }

            .adf-data-table-cell:first-child,
            .adf-datatable-table-cell-header:first-child,
            .adf-data-table-cell:nth-child(2),
            .adf-datatable-table-cell-header:nth-child(2) {
                display: table-cell;
            }
        }

        .adf-site-container-style {
            width: 100%;
            display: block;

            & ::ng-deep .adf-site-dropdown-list-element {
                width: 100%;
            }
        }

        adf-file-uploading-dialog ::ng-deep .upload-dialog {
            width: 80%;

            & ::ng-deep adf-file-uploading-list ::ng-deep adf-file-uploading-list-row .adf-file-uploading-row__group {
                min-width: 0;
            }
        }
    }

    @media (max-device-width: 1024px) {
        adf-document-list .adf-data-table {

            .adf-data-table-cell:nth-child(5),
            .adf-datatable-table-cell-header:nth-child(5) {
                display: none;
            }
        }
    }
}
