@mixin app-file-component-theme($theme) {
    .app-container {
        margin: 10px !important;
    }

    @media screen and ($mat-xsmall) {
        .app-container {
            margin: 0;
        }

        .app-show-versions-button.mat-icon-button {
            display: none;
        }
    }

    .app-error-message {
        text-align: left;
    }

    .app-error-message--text {
        color: #d50000;
    }

    .app-document-list-container {
        min-height: 400px;

        .app-datatable-list {
            min-height: 400px;
        }
    }

    .app-datatable-card .app-lock-button {
        top: -10px;
    }

    .app-site-container-style {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        min-width: 200px;
    }

    .app-content-service-settings {
        padding: 16px;
    }

    .app-manage-versions-sidebar {
        width: 360px !important;

        & .app-info-drawer-layout-header {
            display: none !important;
        }
    }

    .app-no-result__empty_doc_lib {
        width: 565px;
        height: 161px;
        object-fit: contain;
        margin-top: 17px;
    }

    .app-empty_template {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .app-no-result-message {
        height: 32px;
        opacity: 0.26;
        font-size: 24px;
        line-height: 1.33;
        letter-spacing: -1px;
    }

    .app-container-recent {
        mat-icon {
            margin-left: 20px;
        }

        .app-empty-list__block {
            height: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
