<app-files-component [sortingMode]="'server'"
                     [showRecentFiles]="false"
                     [showSitePicker]="true"
                     [showSettingsPanel]="false"
                     [navigationRoute]="navigationRoute"
                     [currentFolderId]="currentFolderId"
                     [filterSorting]="filterSorting"
                     [enableCustomHeaderFilter]="true"
                     [paramValues]="queryParams"
                     (sorting-changed)="onSortingChanged($event)">
</app-files-component>
