<header mat-dialog-title>{{'VERSION.DIALOG.TITLE' | translate}}</header>

<section>
    <mat-slide-toggle id="adf-version-manager-switch-readonly" color="primary" [(ngModel)]="readOnly">
        {{'APP.ADF_VERSION_MANAGER.READ_ONLY' | translate}}
    </mat-slide-toggle>
</section>

<section>
    <mat-slide-toggle id="adf-version-manager-switch-download" color="primary" [(ngModel)]="allowDownload">
        {{'APP.ADF_VERSION_MANAGER.ALLOW_DOWNLOAD' | translate}}
    </mat-slide-toggle>
</section>

<section>
    <mat-slide-toggle id="adf-version-manager-switch-comments" color="primary" [(ngModel)]="showComments">
        {{'APP.ADF_VERSION_MANAGER.COMMENTS' | translate}}
    </mat-slide-toggle>
</section>

<section *ngIf="newFileVersion">
    <mat-slide-toggle id="adf-version-manager-switch-comparison" color="primary" [(ngModel)]="showVersionComparison">
        {{'APP.ADF_VERSION_MANAGER.VERSION_COMPARISON' | translate}}
    </mat-slide-toggle>
</section>

<section mat-dialog-content *ngIf="!readOnly">
    <adf-version-manager [node]="contentEntry"
                         (uploadCancel)="hideVersionComparison($event)"
                         (uploadSuccess)="hideVersionComparison($event)"
                         [showVersionComparison]="showVersionComparison"
                         [newFileVersion]="newFileVersion"
                         [allowDownload]="allowDownload"
                         [showComments]="showComments"
                         (uploadError)="uploadError($event)"
                         (viewVersion)="onViewVersion($event)"
    ></adf-version-manager>
</section>
<section mat-dialog-content *ngIf="readOnly">
    <adf-version-list [node]="contentEntry" [showActions]="false"></adf-version-list>
</section>

<footer mat-dialog-actions class="adf-version-manager-dialog-actions">
    <button mat-button (click)="close()">{{'VERSION.DIALOG.CLOSE' | translate}}</button>
</footer>
