@import '../src/components/comment-list.component';
@import '../src/components/start-task.component';
@import '../src/components/people-search.component';
@import '../src/components/people.component';
@import '../src/components/task-filters.component';
@import '../src/components/task-header.component';

@mixin alfresco-activity-tasklist-theme($theme) {
    @include adf-comment-list-theme($theme);
    @include adf-start-task-theme($theme);
    @include adf-people-search-theme($theme);
    @include adf-people-theme($theme);
    @include adf-filters-task-theme($theme);
    @include adf-header-theme($theme);
}
