@import 'theming';

.#{$ADF}-content-node-selector-dialog {

    .mat-dialog-container {
        padding: 0;
        min-width: 400px;
    }

    .#{$ADF}-content-node-selector {
        &-title,
        &-content,
        &-actions {
            padding: 16px;
            margin: 0;
        }

        &-content {
            padding-top: 0;

            &-input {
                width: 100%;
            }

            & /deep/ .adf-site-dropdown-list-element {
                width: 100%;
                margin-bottom: 20px;

                .mat-select-trigger {
                    font-size: 14px;
                }
            }

            & /deep/ .adf-data-table .adf-no-content-container {
                text-align: center;
            }
        }

        &-actions {
            padding: 8px;
            background-color: rgb(250, 250, 250);
            display: flex;
            justify-content: flex-end;
            color: rgb(121, 121, 121);

            &:last-child {
                margin-bottom: 0px;
            }

            &-cancel {
                font-weight: normal;
            }

            &-choose[disabled] {
                font-weight: normal;
                opacity: 0.6;
            }
        }
    }
}