<header mdDialogTitle
    class="adf-content-node-selector-title"
    data-automation-id="content-node-selector-title">{{title}}</header>

<section mdDialogContent
    class="adf-content-node-selector-content"
    (node-select)="onNodeSelect($event)"
    (node-unselect)="onNodeUnselect()">

    <md-input-container floatPlaceholder="never" class="adf-content-node-selector-content-input">
        <input #searchInput
            mdInput
            placeholder="Search"
            (keyup)="search(searchInput.value)"
            [value]="searchTerm"
            data-automation-id="content-node-selector-search-input">

        <md-icon *ngIf="searchTerm.length > 0"
                mdSuffix (click)="clear()"
                class="adf-content-node-selector-content-input-icon"
                data-automation-id="content-node-selector-search-clear">clear</md-icon>

        <md-icon *ngIf="searchTerm.length === 0"
            mdSuffix
            class="adf-content-node-selector-content-input-icon"
            data-automation-id="content-node-selector-search-icon">search</md-icon>

    </md-input-container>

    <adf-sites-dropdown
        (change)="siteChanged($event)"
        data-automation-id="content-node-selector-sites-combo"></adf-sites-dropdown>

    <div class="adf-content-node-selector-content-list" data-automation-id="content-node-selector-content-list">
        <adf-document-list *ngIf="searched"
                    #documentList
                    [node]="nodes"
                    [permissionsStyle]="permissionsStyle"
                    [creationMenuActions]="false"
                    [currentFolderId]="currentFolderId"
                    [selectionMode]="'single'"
                    [contextMenuActions]="false"
                    [contentActions]="false"
                    [allowDropFiles]="false"
                    [enablePagination]="false"
                    data-automation-id="content-node-selector-document-list">
            <empty-folder-content>
                <ng-template>
                    <div>{{ 'NODE_SELECTOR.NO_RESULTS' | translate }}</div>
                </ng-template>
            </empty-folder-content>
        </adf-document-list>
    </div>

</section>

<footer mdDialogActions class="adf-content-node-selector-actions">

    <button *ngIf="inDialog"
        md-button
        class="adf-content-node-selector-actions-cancel"
        (click)="close()"
        data-automation-id="content-node-selector-actions-cancel">{{ 'NODE_SELECTOR.CANCEL' | translate }}
    </button>

    <button md-button
        [disabled]="!chosenNode"
        class="adf-content-node-selector-actions-choose"
        (click)="choose()"
        data-automation-id="content-node-selector-actions-choose">{{ 'NODE_SELECTOR.CHOOSE' | translate }}
    </button>

</footer>
