@import 'theming';

.#{$ADF}-content-node-selector-dialog {

    .mat-dialog-container {
        padding: 0;
    }

    .#{$ADF}-content-node-selector {
        &-title,
        &-content,
        &-actions {
            padding: 16px;
            margin: 0;
        }

        &-title {
            text-transform: capitalize;
        }

        &-content {
            padding-top: 0;

            &-input {
                width: 100%;

                &-icon {
                    color: rgba(0, 0, 0, 0.38);
                    cursor: pointer;

                    &:hover {
                        color: rgba(0, 0, 0, 1);
                    }
                }
            }

            & /deep/ .mat-input-underline .mat-input-ripple {
                height: 1px;
                transition: none;
            }

            & /deep/ .adf-site-dropdown-list-element {
                width: 100%;
                margin-bottom: 20px;

                .mat-select-trigger {
                    font-size: 14px;
                }

                .mat-select-placeholder,
                &.mat-select {
                    font-family: 'Muli', "Helvetica", "Arial", sans-serif;
                }
            }

            & /deep/ .adf-toolbar .mat-toolbar {
                border: none;
            }

            &-list {
                height: 200px;
                overflow: auto;
                border: 1px solid rgba(0, 0, 0, 0.07);

                & /deep/ .adf-data-table {
                    border: none;

                    .adf-no-content-container {
                        text-align: center;
                    }

                    thead {
                        display: none;
                    }

                    .adf-data-table-cell {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        border-top: none;
                        height: 30px;
                    }

                    tbody tr {
                        height: auto !important;

                        &:last-child {
                            .adf-data-table-cell {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }

        &-actions {
            padding: 8px;
            background-color: rgb(250, 250, 250);
            display: flex;
            justify-content: flex-end;
            color: rgb(121, 121, 121);

            &:last-child {
                margin-bottom: 0px;
            }

            &-cancel {
                font-weight: normal;
            }

            &-choose {
                font-weight: normal;

                &[disabled] {
                    opacity: 0.6;
                }
            }
        }
    }
}