:host .full-width { width: 100%; }

:host .icon-cell {
    font-size: 48px;
    cursor: default;
}

:host .image-cell {
    width: 48px;
    height: 48px;
    cursor: default;
}

:host .data-cell {
    cursor: default;
}

:host .column-header {
    cursor: pointer;
}

:host .non-selectable {
    user-select: none;
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    -webkit-touch-callout: none; /* iOS Safari */
}

/* Utils */

:host .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
