<div class="mdl-card__title title container-title-details">
    <h2 class="mdl-card__title-text title-details">Patient Details</h2>
</div>
<div class="user-image-wrap">
    <img class="image-cell"
         src="{{alfrescoSettingsService.ecmHost}}/alfresco/api/-default-/public/alfresco/versions/1/nodes/{{photoNodeId}}/content?attachment=false&alf_ticket={{ticket}}">
</div>
<activiti-form
    [readOnly]="true"
    [formName]="'Health_User_Form'"
    [data]="metadata"
    [showTitle]="false"
    [showRefreshButton]="false">
</activiti-form>
