.container {
    /*margin: 10px;*/
}

@media only screen and (max-width: 640px) {
    .container {
        margin: 0;
    }
}

.patients-debug-container {
    padding: 10px;
}

.patients-debug-container .debug-toggle-text {
    padding-left: 15px;
    cursor: pointer;
}

.patients-debug-container .debug-toggle-text:hover {
    font-weight: bold;
}

alfresco-document-list >>> .image-cell {
    width: 50px;
    height: 50px;
    cursor: default;
    border: 2px solid #aaaaaa;
    border-radius: 30px;
}

alfresco-document-list >>> .mdl-data-table {
    border: 0px;
}

.image-cell{
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    top: 17px;
    margin-left: -50px;
    border: 3px #1c597f solid;
    z-index: 99;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.container-title-details{
    background-color: #1c597f;
    color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.title-details {
    margin: auto;
    text-align: center;
}

.user-image-wrap{
    background-color: #1c597f;
    text-align: center;
    height: 64px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

@media only screen and (max-width: 840px) {
    #tags {
        width: 100%;
    }
}
