<div [ngSwitch]="fieldType" class="adf-display-value-widget {{field.className}}" *ngIf="field?.isVisible">
    <div *ngSwitchCase="'boolean'">
        <checkbox-widget readonly="true" [field]="field"></checkbox-widget>
    </div>
    <div *ngSwitchCase="'text'">
        <text-widget readonly="true" [field]="field"></text-widget>
    </div>
    <div *ngSwitchCase="'multi-line-text'">
        <multiline-text-widget readonly="true" [field]="field"></multiline-text-widget>
    </div>
    <div *ngSwitchCase="'hyperlink'" class="hyperlink-widget">
        <div>
            <div>
                <span>{{field.name}}</span>
            </div>
            <div>
                <a [href]="linkUrl" target="_blank" rel="nofollow">{{linkText}}</a>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'dynamic-table'">
        <dynamic-table-widget [field]="field" [readOnly]="!tableEditable"></dynamic-table-widget>
    </div>
    <div *ngSwitchCase="'upload'">
        <div *ngIf="hasFile" class="mdl-grid">
            <adf-content [id]="file.id" [showDocumentContent]="showDocumentContent"></adf-content>
        </div>
    </div>
    <div *ngSwitchCase="'document'">
        <div *ngIf="hasFile">
            <adf-content [id]="id" [showDocumentContent]="true"></adf-content>
        </div>
    </div>
    <div *ngSwitchDefault>
        <text-widget readonly="true" [field]="field"></text-widget>
    </div>
</div>

