.display-value-widget {
    width: 100%;
}

.display-value-widget__dynamic-table {
    padding: 8px;
}

.display-value-widget__dynamic-table .is-disabled {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .26);
}

.display-value-widget__dynamic-table table {
    width: 100%;
}

.display-value-dynamic-table-widget__table-container {
    overflow-y: auto;
    width: 100%;
}

