<adf-app-menu></adf-app-menu>

<label for="nodeId"><b>Insert Node Id</b></label><br>
<input id="nodeId" type="text" size="48" [(ngModel)]="nodeId"><br>
<div class="adf-tag-example-area">
    <md-card>
        <adf-tag-node-actions-list [nodeId]="nodeId"></adf-tag-node-actions-list>
    </md-card>
</div>
<div class="adf-tag-example-area">
    <md-card>
        <div class="adf-tag-example-title">List Tags Content Services</div>
        <adf-tag-list></adf-tag-list>
    </md-card>
</div>
<div class="adf-tag-example-area">
    <md-card>
        <div class="adf-tag-example-title">Tag list By Node ID</div>
        <adf-tag-node-list [nodeId]="nodeId"></adf-tag-node-list>
    </md-card>
</div>
