<label>{{field.nameKey | translate}}</label><br>
<form [formGroup]="dataForm">
    <fieldset formGroupName="dateRange">
        <span *ngIf="dataForm.get('dateRange').errors && dataForm.get('dateRange').errors.greaterThan">Error: startDate is greater than
            endDate</span>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input"
                           formControlName="startDate"
                           type="text"
                           (onOk)="onOkStart(startElement)"
                           id="startDateInput" #startElement>
                    <label class="mdl-textfield__label" for="startDateInput">Start Date</label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <button id="startDateButton" class="mdl-button mdl-js-button mdl-button--fab date-picker-mdl">
                    <i class="material-icons">date_range</i>
                </button>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input"
                           formControlName="endDate"
                           type="text"
                           (onOk)="onOkEnd(endElement)"
                           id="endDateInput" #endElement>
                    <label class="mdl-textfield__label" for="endDateInput">End Date</label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <button id="endDateButton" class="mdl-button mdl-js-button mdl-button--fab date-picker-mdl">
                    <i class="material-icons">date_range</i>
                </button>
            </div>
        </div>
    </fieldset>
</form>
<div *ngIf="debug">
    <p>Form : {{ dataForm.value | json }}</p>

    <p>FormGroup : {{ dataForm.get('dateRange').value | json }}</p>

    <p>FormGroup valid : {{ dataForm.get('dateRange').valid }}</p>

    <p>FormGroup status : {{ dataForm.get('dateRange').errors | json }}</p>
</div>