.adf-start-task-input-container {
  width: 80%;
}

.adf-new-task-layout-card {
  width: 66.6667%;
  margin-right:calc(33.3333%/2 - 24px);
  margin-left: calc(33.3333%/2 - 24px);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px
}