<label>{{field.nameKey | translate}}</label><br>
<div [formGroup]="dateRange">
    <small *ngIf="isStartDateGreaterThanEndDate()" class="adf-text-danger">
       {{'DATE-WIDGET.MESSAGES.START-LESS-THAN-END-DATE' | translate}}
    </small>
    <small *ngIf="isStartDateEmpty()" class="adf-text-danger">
       {{'DATE-WIDGET.MESSAGES.START-DATE-REQUIRED' | translate}}
    </small>

            <md-grid-list cols="2" rowHeight="80px">
                <md-grid-tile>
                    <md-input-container>
                        <input mdInput
                               [min]="minDate"
                               [max]="maxDate"
                        formControlName="startDate"
                        [mdDatepicker]="startDatePicker"
                        [value]="startDatePicker"
                        (keydown)="true"
                        placeholder="{{'DATE-WIDGET.START-DATE' | translate}}"
                        id="startDate_id"
                        required>
                        <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
                    </md-input-container>
                    <md-datepicker #startDatePicker [touchUi]="true" [startAt]="startAt" (selectedChanged)="onGroupValueChanged($event)"></md-datepicker>
                </md-grid-tile>
                <md-grid-tile>
                    <md-input-container class="adf-start-task-input-container">
                        <input mdInput
                               [min]="minDate"
                               [max]="maxDate"
                        formControlName="endDate"
                        [mdDatepicker]="endDatePicker"
                        [value]="endDatePicker"
                        (keydown)="true"
                        placeholder="{{'DATE-WIDGET.END-DATE' | translate}}"
                        id="endDate_id"
                        required>
                        <button mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
                    </md-input-container>
                    <md-datepicker #endDatePicker [touchUi]="true" [startAt]="startAt" (selectedChanged)="onGroupValueChanged($event)"></md-datepicker>
                </md-grid-tile>
            </md-grid-list>
</div>
<div *ngIf="debug">
    <p>FormGroup : {{dateRange && dateRange.value | json }}</p>
    <p>FormGroup valid : {{dateRange && dateRange.valid }}</p>
    <p>FormGroup status : {{dateRange && dateRange.errors | json }}</p>
    <p>FormGroup start status : {{dateRange && dateRange.controls.startDate && dateRange.controls.startDate.errors | json }}</p>
    <p>FormGroup end status: {{dateRange && dateRange.controls.endDate.errors | json }}</p>
</div>
