    <label>{{"Date range" | translate}}</label><br>
    <div [formGroup]="dateRange">                      
            <md-grid-list cols="2" rowHeight="80px">
                <md-grid-tile>
                    <md-input-container class="adf-start-task-input-container">
                        <input mdInput 
                        [mdDatepicker]="startDatePicker" 
                        [value]="startDatePicker" 
                        (click)="startDatePicker.open()" 
                        (keydown)="true"
                        placeholder="Start date" 
                        id="date_id"
                        required>
                        <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
                    </md-input-container>
                    <md-datepicker #startDatePicker [touchUi]="true"></md-datepicker>
                </md-grid-tile>
                <md-grid-tile>
                    <md-input-container class="adf-start-task-input-container">
                        <input mdInput 
                        [mdDatepicker]="endDatePicker"
                        [value]="endDatePicker" 
                        (click)="endDatePicker.open()" 
                        (keydown)="true"
                        placeholder="End date" 
                        id="date_id"
                        required>
                        <button mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
                    </md-input-container>
                    <md-datepicker #endDatePicker [touchUi]="true"></md-datepicker>
                </md-grid-tile>
            </md-grid-list>
    </div>