<label for="nodeId"><b>Insert Node Id</b></label><br>
<input id="nodeId" type="text" size="48" [(ngModel)]="nodeId"><br>

<div class="app-social-example-areas">
    <mat-card class="app-social-example-area">
        <div class="app-social-title">
            {{'SOCIAL.LIKE' | translate }}
        </div>
        <adf-like [nodeId]="nodeId"></adf-like>
    </mat-card>
    <mat-card class="app-social-example-area">
        <div class="app-social-title">
            {{'SOCIAL.RATING' | translate }}
        </div>
        <adf-rating [nodeId]="nodeId"></adf-rating>
    </mat-card>
</div>
