@import '../breadcrumb/breadcrumb.component';
@import '../breadcrumb/dropdown-breadcrumb.component';
@import '../content-node-selector/content-node-selector.component';
@import '../document-list/components/document-list.component';

@import '../upload/components/file-uploading-list-row.component';
@import '../upload/components/file-uploading-dialog.component';

@import '../search/components/search.component';
@import '../search/components/search-control.component';

@import '../dialogs/folder.dialog';

@mixin adf-content-services-theme($theme) {
    @include adf-breadcrumb-theme($theme);
    @include adf-breadcrumb-dropdown-theme($theme);
    @include adf-content-node-selector-theme($theme) ;
    @include adf-document-list-theme($theme) ;
    @include adf-file-uploading-row-theme($theme);
    @include adf-upload-dialog-theme($theme);
    @include adf-search-control-theme($theme);
    @include adf-search-autocomplete-theme($theme);
    @include adf-dialog-theme($theme);
}
