npm-debug.log
node_modules
.idea
.npmrc
typings
coverage
dist

content-services/**/*.js
!content-services/.storybook/*.js
!content-services/karma.conf.js
content-services/**/*.js.map
content-services/**/*.d.ts

process-services/**/*.js
!process-services/karma.conf.js
process-services/**/*.js.map
process-services/**/*.d.ts

core/**/*.js
!core/.storybook/*.js
!core/karma.conf.js
core/**/*.js.map
core/**/*.d.ts

insights/**/*.js
!insights/karma.conf.js
insights/**/*.js.map
insights/**/*.d.ts

process-services-cloud/**/*.js
!process-services-cloud/.storybook/*.js
!process-services-cloud/karma.conf.js
process-services-cloud/**/*.js.map
process-services-cloud/**/*.d.ts

!config/karma-test-shim.js!

*.tgzf
core/prebuilt-themes/
/package/
/bundles/
index.d.ts
/.happypack

process-services/_theming.scss
content-services/_theming.scss
core/_theming.scss
insights/_theming.scss
process-services-cloud/_theming.scss
