npm-debug.log
node_modules
.idea
.npmrc
typings
coverage
dist
content-services/**/*.js
!content-services/karma-test-shim.js
content-services/**/*.js.map
content-services/**/*.d.ts
process-services/**/*.js
!process-services/karma-test-shim.js
process-services/**/*.js.map
process-services/**/*.d.ts
core/**/*.js
!core/karma-test-shim.js
core/**/*.js.map
!config/karma-test-shim.js

core/**/*.d.ts
*.tgz
core/prebuilt-themes/
/package/
/bundles/
index.d.ts
/.happypack
