app-tag {
    .app-tag-example-areas {
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: stretch flex-start;
        align-items: stretch;

        .app-tag-example-area {
            margin: 10px;

            .app-tag-example-title {
                padding-bottom: 12px;
            }
        }

        @media screen and (min-width: 1280px) {
            flex-direction: row;

            .app-tag-example-area {
                flex: 1 1 auto;
            }
        }
    }
}
