<label for="nodeId"><b>{{'TAG.INSERT' | translate }}</b></label><br>
<input id="nodeId" type="text" size="48" [(ngModel)]="nodeId"><br>
<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="stretch">
    <div class="adf-tag-example-area" fxFlex.gt-md="1 1 auto">
        <mat-card>
            <adf-tag-node-actions-list [nodeId]="nodeId"></adf-tag-node-actions-list>
        </mat-card>
    </div>
    <div class="adf-tag-example-area" fxFlex.gt-md="1 1 auto">
        <mat-card>
            <div class="adf-tag-example-title">
                {{'TAG.LIST' | translate }}
            </div>
            <adf-tag-list></adf-tag-list>
        </mat-card>
    </div>
    <div class="adf-tag-example-area" fxFlex.gt-md="1 1 auto">
        <mat-card>
            <div class="adf-tag-example-title">
                {{'TAG.NODE_LIST' | translate }}
            </div>
            <adf-tag-node-list [showDelete]="showDelete" [nodeId]="nodeId"></adf-tag-node-list>
        </mat-card>

        <p class="toggle">
            <mat-slide-toggle
                id="adf-remove-button-tag"
                [color]="'primary'"
                (change)="toggleDeleteButton()"
                [checked]="showDelete">
                Show Delete Button
            </mat-slide-toggle>
        </p>

    </div>
</div>
