<label for="nodeId"><b>{{'TAG.INSERT' | translate }}</b></label><br>
<input id="nodeId" type="text" size="48" [(ngModel)]="nodeIdInput">
<button mat-raised-button id="adf-tag-node-send" (click)="onSubmit()" color="primary">Confirm</button>

<br>
<div class="app-tag-example-areas">
    <mat-card class="app-tag-example-area">
        <adf-tag-node-actions-list [nodeId]="nodeId"></adf-tag-node-actions-list>
    </mat-card>
    <mat-card class="app-tag-example-area">
        <div class="app-tag-example-title">
            {{'TAG.LIST' | translate }}
        </div>
        <adf-tag-list></adf-tag-list>
    </mat-card>
    <div class="app-tag-example-area">
        <mat-card class="app-tag-example-area">
            <div class="app-tag-example-title">
                {{'TAG.NODE_LIST' | translate }}
            </div>
            <adf-tag-node-list [showDelete]="showDelete" [nodeId]="nodeId"></adf-tag-node-list>
        </mat-card>

        <p class="toggle">
            <mat-slide-toggle
                id="adf-remove-button-tag"
                [color]="'primary'"
                (change)="toggleDeleteButton()"
                [checked]="showDelete">
                Show Delete Button
            </mat-slide-toggle>
        </p>

    </div>
</div>
