app-cloud-settings {
    padding: 20px 30px;
    flex-direction: column;
    display: flex;
    flex: 1;

    .app-cloud-actions {
        background-color: white;
    }

    .adf-cloud-settings-selection-mode {
        max-width: 200px;
    }

    .app-cloud-settings-form {
        display: flex;
        place-content: center space-around;
        align-items: center;

        .app-cloud-settings-form-input {
            flex: 1 1 100%;
            max-width: 23%;
        }
    }
}
