.setting-button {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.settings {
    border-radius: 8px;
    position: absolute;
    background-color: papayawhip;
    color: cadetblue;
    left: 10px;
    top: 10px;
    z-index: 1;
}

.banned {
    width: 130px;
    margin: 10px;
}

.toggle {
    width: 120px;
    margin: 20px;
    padding: 5px;
}

@media (min-width: 721px) {
    .mobile-settings {
        display: none;
    }
}

@media (max-width: 720px) {
    .settings {
        display: none;
    }
}

