.setting-button {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    background-color: rgb(68,138,255);
    color: rgb(255,255,255);
}

.settings {
    border-radius: 8px;
    position: absolute;
    background-color: papayawhip;
    color: cadetblue;
    left: 10px;
    top: 10px;
    z-index: 1;
}

.toggle {
    width: 190px;
    margin: 5px;
    padding: 5px;
}

@media (min-width: 721px) {
    .mobile-settings {
        display: none;
    }
}

@media (max-width: 720px) {
    .settings {
        display: none;
    }
}

.settings >>> .mat-slide-toggle-thumb-container {
    cursor: pointer;
}
