/* breadcrumb */

:host .breadcrumb {
    text-align: left;
    padding: 8px 15px;
    list-style: none;
    background-color: #fafafa;
    margin: 0;
}

:host .breadcrumb > li {
    display: inline-block;
    box-sizing: border-box;
}

:host .breadcrumb > li+li:before {
    content: ">\00a0";
    padding: 0 0 0 5px;
    opacity: 0.54;
    color: #000000;
}

:host .breadcrumb > li > a {
    text-decoration: none;
    opacity: 0.54;
    font-family: 'Muli', "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: -0.2px;
    color: #000000;
}

:host .breadcrumb > li:hover > a,
:host .breadcrumb > .active {
    opacity: 0.87;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: -0.2px;
    color: #000000;
}
