<a mat-fab class="app-setting-button" data-automation-id="settings" href="" routerLink="/settings" color="accent">
    <mat-icon>settings</mat-icon>
</a>

<adf-login
    copyrightText="{{ 'application.copyright' | adfAppConfig }}"
    (error)="onError($event)">
    <div class="app-mobile-settings">
        <button
            type="button"
            mat-raised-button
            color="accent"
            class="app-mobile-setting-button"
            routerLink="/settings"
            data-automation-id="settings">{{ 'APP_LAYOUT.SETTINGS'| translate }}
        </button>

    </div>
</adf-login>
