<!--BPM, ECN AND CSRF TOGGLE-->

<div class="settings">
    <p class="toggle">
        <mat-slide-toggle
            id="switch3"
            [color]="'primary'"
            (change)="toggleCSRF()"
            [checked]="!disableCsrf">
            CSRF
        </mat-slide-toggle>
    </p>
    <p class="toggle">
        <mat-slide-toggle
            id="switch4"
            [color]="'primary'"
            (change)="toggleFooter()"
            [checked]="showFooter">
            {{ 'LOGIN.LOGIN_FOOTER'| translate }}
        </mat-slide-toggle>
    </p>
    <p class="toggle">
        <mat-slide-toggle
            id="adf-toggle-show-rememberme"
            [color]="'primary'"
            (change)="toggleRememberMe()"
            [checked]="showRememberMe">
            {{ 'LOGIN.SHOW_REMEMBERME'| translate }}
        </mat-slide-toggle>
    </p>
    <p class="toggle">
        <mat-slide-toggle
            id="adf-toggle-show-successRoute"
            [color]="'primary'"
            (change)="toggleSuccessRoute()"
            [checked]="customSuccessRoute">
            {{ 'LOGIN.SHOW_SUCCESS_ROUTE'| translate }}
        </mat-slide-toggle>
    </p>
    <p class="toggle">
        <ng-container *ngIf="customSuccessRoute">
            <mat-form-field floatPlaceholder="float">
                <input matInput
                       placeholder="Custom success route"
                       [(ngModel)]="customSuccessRouteURI"
                       data-automation-id="adf-success-route">
            </mat-form-field>
        </ng-container>
    </p>

    <p class="toggle">
        <mat-slide-toggle
            id="adf-toggle-logo"
            [color]="'primary'"
            (change)="toggleLogo()"
            [checked]="customLogoImage">
            {{ 'LOGIN.CUSTOM_LOGO'| translate }}
        </mat-slide-toggle>
    </p>
    <p class="toggle">
        <ng-container *ngIf="customLogoImage">
            <mat-form-field floatPlaceholder="float">
                <input matInput
                       placeholder="Custom success Logo URL"
                       [(ngModel)]="customLogoImageURL"
                       data-automation-id="adf-url-logo">
            </mat-form-field>
        </ng-container>
    </p>

</div>

<!--SETTING BUTTON-->

<a mat-fab class="setting-button" data-automation-id="settings" href="" routerLink="/settings" color="accent">
    <mat-icon>settings</mat-icon>
</a>

<adf-login
    #alfrescoLogin
    [successRoute]="customSuccessRouteURI"
    [logoImageUrl]="customLogoImageURL"
    [fieldsValidation]="customValidation"
    [disableCsrf]="disableCsrf"
    [showLoginActions]="showFooter"
    [showRememberMe]="showFooter && showRememberMe"
    (executeSubmit)="checkForm($event)"
    copyrightText="{{ 'application.copyright' | adfAppConfig }}"
    (success)="onLogin($event)"
    (error)="onError($event)">
    <div class="mobile-settings">
        <p>
            <mat-slide-toggle
                id="switch3-mobile"
                [color]="'primary'"
                (change)="toggleCSRF()"
                [checked]="!disableCsrf">
                CSRF
            </mat-slide-toggle>
        </p>
        <p>
            <mat-slide-toggle
                id="switch4-mobile"
                [color]="'primary'"
                (change)="toggleFooter()"
                [checked]="showFooter">
                {{ 'LOGIN.LOGIN_FOOTER'| translate }}
            </mat-slide-toggle>
        </p>
        <button type="button" mat-raised-button color="accent" class="mobile-setting-button" routerLink="/settings"
                data-automation-id="settings">{{ 'APP_LAYOUT.SETTINGS'| translate }}
        </button>

    </div>
</adf-login>
