<div class="main-content">
    <h1>CardView Component</h1>

    <mat-card class="card-view">
        <adf-card-view
            [properties]="properties"
            [editable]="true">
        </adf-card-view>
    </mat-card>

    <div class="console" #console>
        <h3>Changes log:</h3>
        <p *ngFor="let log of logs">{{ log }}</p>
    </div>

</div>

<p class="toggle">
    <mat-slide-toggle
        id="adf-toggle-editable"
        [color]="'primary'"
        (change)="toggleEditable()"
        [checked]="isEditable">
        Editable
    </mat-slide-toggle>
</p>

<button mat-button id="adf-reset-card-log" (click)="reset()" color="primary">Reset Log</button>

<br>
