<adf-apps
    [layoutType]="layoutType"
    [presetColumn]="presetColumn"
    (appClick)="onAppClicked($event)"
    (row-dblclick)="onRowDoubleClick($event)">
    <data-columns>
        <data-column key="action" title="Action" [sortable]="false">
            <ng-template let-entry="$implicit">
                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item *ngFor="let action of actions" (click)="performAction(entry.row.obj, action.key)">
                        <mat-icon>{{action.icon}}</mat-icon>
                        {{action.label | translate }}
                    </button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="appMenu" (click)="setActions(entry.row.obj)">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </ng-template>
        </data-column>
    </data-columns>
</adf-apps>