<mat-tab-group [(selectedIndex)]="activeTab" (selectedTabChange)="onTabChange($event)"
               data-automation-id="navigation-bar">
    <mat-tab id="app-tasks-header" href="#tasks" label="{{'PS-TAB.TASKS-TAB' | translate}}">
        <div class="app-page-content" *ngIf="showTaskTab">
            <div class="app-grid">
                <div class="app-grid-item app-tasks-menu">
                    <div class="app-list-buttons">
                        <adf-sidebar-action-menu [expanded]="true" [width]="205"
                                                 title="{{'ADF_SIDEBAR_ACTION_MENU.BUTTON.CREATE' | translate}}">
                            <mat-icon sidebar-menu-title-icon>arrow_drop_down</mat-icon>
                            <div adf-sidebar-menu-options>
                                <button mat-menu-item data-automation-id="btn-start-task" (click)="navigateStartTask()">
                                    <mat-icon>assessment</mat-icon>
                                    <span>{{'ADF_SIDEBAR_ACTION_MENU.BUTTON.NEW_TASK' | translate}}</span>
                                </button>
                            </div>
                        </adf-sidebar-action-menu>
                    </div>
                    <mat-accordion class="app-accordion-panel" displayMode="flat">
                        <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon>assignment</mat-icon>
                                    <div id="tasks-accordion-title" class="app-accordion-title-padding">Tasks</div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <adf-task-filters [filterParam]="filterSelected"
                                              role="group"
                                              aria-labelledby="tasks-accordion-title"
                                              [appId]="appId"
                                              [showIcon]="showTaskFilterIcon"
                                              (filterClicked)="onTaskFilterClick($event)"
                                              (filterSelected)="onTaskFilterClick($event)"
                                              (success)="onSuccessTaskFilterList()" #activitiFilter>
                            </adf-task-filters>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div
                    class="app-grid-item app-tasks-list"
                    *ngIf="taskFilter && !isStartTaskMode()">
                    <adf-tasklist
                        [appId]="taskFilter?.appId"
                        [presetColumn]="presetColumn"
                        [page]="taskPage"
                        [size]="paginationPageSize"
                        [selectionMode]="selectionMode"
                        [name]="taskFilter?.filter?.name"
                        [assignment]="taskFilter?.filter?.assignment"
                        [state]="taskFilter?.filter?.state"
                        [sort]="taskFilter?.filter?.sort"
                        [landingTaskId]="currentTaskId"
                        [showContextMenu]="taskContextMenu"
                        (showRowContextMenu)="onShowTaskRowContextMenu($event)"
                        (rowClick)="onTaskRowClick($event)"
                        (success)="onSuccessTaskList()"
                        (row-click)="onRowClick($event)"
                        (row-dblclick)="onTaskRowDblClick($any($event))"
                        [multiselect]="multiSelectTask"
                        #taskList>
                        <!-- Custom column definition demo -->

                        <!-- <data-columns>
                            <data-column key="name" title="{{'ADF_TASK_LIST.PROPERTIES.NAME' | translate}}" class="app-full-width name-column"></data-column>
                            <data-column key="created" title="{{'ADF_TASK_LIST.PROPERTIES.CREATED' | translate}}" class="app-hidden"></data-column>
                        </data-columns> -->

                    </adf-tasklist>

                    <adf-pagination
                        *ngIf="taskList"
                        [target]="taskList"
                        (changePageSize)="onChangePageSize($event)"
                        #taskListPagination>
                    </adf-pagination>
                </div>
                <div
                    class="app-grid-item app-tasks-details"
                    *ngIf="!isStartTaskMode()"
                    data-automation-id="app-tasks-details">
                    <adf-task-details #activitiDetails
                                      [debugMode]="true"
                                      [taskId]="currentTaskId"
                                      [showFormTitle]="true"
                                      [fieldValidators]="fieldValidators"
                                      [showHeaderContent]="showHeaderContent"
                                      (formCompleted)="onFormCompleted()"
                                      (formContentClicked)="onContentClick($event)"
                                      (taskCreated)="onTaskCreated($event)"
                                      (assignTask)="onAssignTask()"
                                      (taskDeleted)="onTaskDeleted()">
                    </adf-task-details>
                    <mat-divider></mat-divider>
                    <div *ngIf="currentTaskId">
                        {{'PS-TAB.TASK-AUDIT-LOG' | translate}}
                        <button
                            adf-task-audit
                            [task-id]="currentTaskId"
                            [download]="true"
                            mat-icon-button (clicked)="onAuditClick($event)" (error)="onAuditError($event)">
                            <mat-icon>assignment_ind</mat-icon>
                        </button>
                        <mat-divider></mat-divider>
                    </div>
                    <mat-card>
                        <mat-card-content>
                            <app-task-attachments [taskId]="currentTaskId"></app-task-attachments>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div
                    class="app-grid-item app-tasks-start"
                    *ngIf="isStartTaskMode()">
                    <adf-start-task
                        [appId]="appId"
                        [name]="defaultTaskName"
                        (success)="onStartTaskSuccess($event)"
                        (cancel)="onCancelStartTask()">
                    </adf-start-task>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab id="processes-header" href="#processes"
             label="{{'PS-TAB.PROCESSES-TAB' | translate}}">
        <div class="app-page-content" *ngIf="showProcessTab">
            <div class="app-grid">
                <div
                    id="app-processes-menu"
                    class="app-grid-item app-processes-menu">
                    <div class="app-list-buttons">
                        <adf-sidebar-action-menu [expanded]="true" [width]="205"
                                                 title="{{'ADF_SIDEBAR_ACTION_MENU.BUTTON.CREATE' | translate}}">
                            <mat-icon sidebar-menu-title-icon>arrow_drop_down</mat-icon>
                            <div adf-sidebar-menu-options>
                                <button mat-menu-item data-automation-id="btn-start-process"
                                        (click)="navigateStartProcess()">
                                    <mat-icon>assessment</mat-icon>
                                    <span>{{'ADF_SIDEBAR_ACTION_MENU.BUTTON.NEW_PROCESS' | translate}}</span>
                                </button>
                            </div>
                        </adf-sidebar-action-menu>
                    </div>
                    <mat-accordion class="app-accordion-panel" displayMode="flat">
                        <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon>assessment</mat-icon>
                                    <div id="process-accordion-title" class="app-accordion-title-padding">Processes</div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <adf-process-instance-filters
                                    #activitiProcessFilter
                                    role="group"
                                    aria-labelledby="process-accordion-title"
                                    [appId]="appId"
                                    [filterParam]="filterSelected"
                                    [showIcon]="showProcessFilterIcon"
                                    (filterClicked)="onProcessFilterChange($event)"
                                    (filterSelected)="onProcessFilterChange($event)"
                                    (success)="onSuccessProcessFilterList()">
                            </adf-process-instance-filters>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div
                    class="app-grid-item app-processes-list app-list"
                    *ngIf="processFilter && !isStartProcessMode()">
                    <adf-process-instance-list
                        #processList
                        *ngIf="processFilter?.filter" [appId]="processFilter?.appId"
                        [selectionMode]="selectionMode"
                        [presetColumn]="presetColumn"
                        [state]="processFilter?.filter?.state"
                        [page]="processPage"
                        [size]="paginationPageSize"
                        [sort]="processFilter?.filter?.sort"
                        [showContextMenu]="processContextMenu"
                        (showRowContextMenu)="onShowProcessRowContextMenu($event)"
                        (rowClick)="onProcessRowClick($event)"
                        (row-dblclick)="onProcessRowDblClick($any($event))"
                        [multiselect]="multiSelectProcess"
                        (success)="onSuccessProcessList()">
                        <!-- Custom column definition demo -->

                        <!-- <data-columns>
                            <data-column key="name" title="ADF_PROCESS_LIST.PROPERTIES.NAME" class="app-full-width name-column"></data-column>
                            <data-column key="created" title="ADF_PROCESS_LIST.PROPERTIES.CREATED" class="app-hidden"></data-column>
                        </data-columns> -->

                    </adf-process-instance-list>
                    <adf-pagination
                        *ngIf="processList"
                        [target]="processList"
                        (changePageSize)="onChangePageSize($event)"
                        #processListPagination>
                    </adf-pagination>
                </div>
                <div
                    class="app-grid-item app-processes-details"
                    *ngIf="!isStartProcessMode()">
                    <adf-process-instance-details
                        #activitiProcessDetails
                        [processInstanceId]="currentProcessInstanceId"
                        (processCancelled)="processCancelled()"
                        (showProcessDiagram)="onShowProcessDiagram($event)"
                        (taskClick)="onProcessDetailsTaskClick($event)">
                    </adf-process-instance-details>
                    <mat-divider></mat-divider>
                    <div *ngIf="currentProcessInstanceId">
                        {{'PS-TAB.PROCESS-AUDIT-LOG' | translate}}
                        <button adf-process-audit
                                [process-id]="currentProcessInstanceId"
                                [download]="true" mat-icon-button
                                [format]="'pdf'"
                                (clicked)="onAuditClick($event)"
                                (error)="onAuditError($event)">
                            <mat-icon>assignment_ind</mat-icon>
                        </button>
                        <mat-divider></mat-divider>
                    </div>
                    <mat-card>
                        <mat-card-content>
                            <app-process-attachments
                                [processInstanceId]="currentProcessInstanceId"></app-process-attachments>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div
                    class="app-grid-item app-processes-start"
                    *ngIf="isStartProcessMode()">
                    <adf-start-process
                        #activitiStartProcess
                        [appId]="applicationId"
                        [processDefinitionName]="processDefinitionName"
                        [showSelectApplicationDropdown]="showApplications"
                        [title]="'ADF_PROCESS_LIST.START_PROCESS.FORM.TITLE'"
                        [name]="defaultProcessName"
                        (formContentClicked)="onContentClick($event)"
                        (start)="onStartProcessInstance($event)"
                        (cancel)="onCancelProcessInstance()"
                        (error)="onStartProcessError($event)">
                    </adf-start-process>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab id="report-header" href="#report"
             label="{{'PS-TAB.REPORTS-TAB' | translate}}">
        <div class="app-grid">
            <div class="app-grid-item app-reports-menu">
                <span><h5>Report List</h5></span>
                <mat-divider></mat-divider>
            </div>
            <div class="app-grid-item app-reports-details">
                <adf-analytics
                    *ngIf="report"
                    [appId]="appId"
                    [reportId]="report.id"
                    [hideParameters]="false"
                    (editReport)="onEditReport()"
                    (reportSaved)="onReportSaved($event)"
                    (reportDeleted)="onReportDeleted()">
                </adf-analytics>
                <div *ngIf="!report">
                    <span>{{'ANALYTICS_REPORT.NO_REPORT_MESSAGE' | translate}}</span>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab id="settings-header" href="#settings"
             label="{{'PS-TAB.SETTINGS-TAB' | translate}}">
        <div class="app-grid">
            <div class="app-grid-item app-settings-menu">
                <span><h3>Settings Menu</h3></span>
            </div>
            <div class="app-grid-item app-settings-details">
                <div>
                    <mat-slide-toggle id="adf-show-task-filter-icon" [(ngModel)]="showTaskFilterIcon">Show task filters icons
                    </mat-slide-toggle>
                </div>
                <div>
                    <mat-slide-toggle id="adf-show-process-filter-icon" [(ngModel)]="showProcessFilterIcon">Show process filters icons
                    </mat-slide-toggle>
                </div>
                <div>
                    <mat-slide-toggle id="adf-show-header" (change)="toggleHeaderContent()" [checked]="showHeaderContent">{{ 'PS-TAB.TASK-SHOW-HEADER'| translate }}
                    </mat-slide-toggle>
                </div>
                <div>
                    <mat-slide-toggle id="adf-process-multiselect"  [(ngModel)]="multiSelectProcess" >Multiselect Process List
                    </mat-slide-toggle>
                </div>
                <div>
                    <mat-slide-toggle id="adf-task-multiselect" [(ngModel)]="multiSelectTask" >Multiselect Task List
                    </mat-slide-toggle>
                </div>
                <div>
                    <mat-slide-toggle id="adf-task-context-menu" [(ngModel)]="taskContextMenu" >Show Task list Context menu</mat-slide-toggle>
                </div>
                <div>
                    <mat-slide-toggle id="adf-process-context-menu" [(ngModel)]="processContextMenu" >Show Process list Context menu</mat-slide-toggle>
                </div>
                <div>
                    <mat-slide-toggle id="adf-start-process-app-drop-down" [(ngModel)]="showApplications" >Show Application dropdown on start process</mat-slide-toggle>
                    <mat-card class="example-card" *ngIf="showApplications">
                        <mat-card-header >
                          <mat-card-title>Filter Process definitions</mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="app-filter-process-definitions-inputs">
                            <mat-form-field>
                                <mat-label>ApplicationId</mat-label>
                                <input matInput [(ngModel)]="applicationId">
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>ProcessDefinitionName</mat-label>
                                <input matInput [(ngModel)]="processDefinitionName">
                              </mat-form-field>
                        </mat-card-content>
                      </mat-card>
                </div>
                <br>
                <mat-radio-group [(ngModel)]="selectionMode">
                    <mat-radio-button value="multiple">multiple</mat-radio-button>
                    <mat-radio-button value="single">single</mat-radio-button>
                    <mat-radio-button value="none">none</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
