<div id="attachment-process-list" *ngIf="processInstanceId">
    <div>

        <adf-upload-drag-area
            [rootFolderId]="processInstanceId"
            [disabled]="isCompletedProcess()">

            <adf-process-attachment-list #processAttachList
                *ngIf="processInstanceId"
                [disabled]="isCompletedProcess()"
                [processInstanceId]="processInstanceId"
                (attachmentClick)="onAttachmentClick($event)">
                    <adf-empty-list>
                        <div adf-empty-list-header class="app-empty-list-header">
                            {{'ADF_PROCESS_LIST.PROCESS-ATTACHMENT.EMPTY.HEADER' | translate}}
                        </div>
                        <div adf-empty-list-body *ngIf="!isCompletedProcess()">
                        <div class="app-empty-list-drag_drop">
                            {{'ADF_PROCESS_LIST.PROCESS-ATTACHMENT.EMPTY.DRAG-AND-DROP.TITLE' | translate}}
                        </div>
                              <div class="app-empty-list__any-files-here-to-add">
                                  {{'ADF_PROCESS_LIST.PROCESS-ATTACHMENT.EMPTY.DRAG-AND-DROP.SUBTITLE' | translate}}
                              </div>
                        </div>
                    </adf-empty-list>
            </adf-process-attachment-list>

        </adf-upload-drag-area>

        <adf-create-process-attachment
            *ngIf="!isCompletedProcess()"
            [processInstanceId]="processInstanceId"
            (success)="onFileUploadComplete($event)">
        </adf-create-process-attachment>

    </div>
</div>
