<div id="attachment-task-list" *ngIf="taskId">
    <div>

        <adf-upload-drag-area
            [rootFolderId]="taskId"
            [disabled]="isCompletedTask()">

            <adf-task-attachment-list #taskAttachList
                [disabled]="isCompletedTask()"
                [taskId]="taskId"
                (attachmentClick)="onAttachmentClick($event)">
                <adf-empty-list>
                    <div adf-empty-list-header class="app-empty-list-header">{{'ADF_TASK_LIST.ATTACHMENT.EMPTY.HEADER' | translate}}
                    </div>
                    <div adf-empty-list-body  *ngIf="!isCompletedTask()">
                        <div class="app-empty-list-drag_drop">
                            {{'ADF_TASK_LIST.ATTACHMENT.EMPTY.DRAG-AND-DROP.TITLE' | translate}}
                        </div>
                        <div class="app-empty-list__any-files-here-to-add">
                            {{'ADF_TASK_LIST.ATTACHMENT.EMPTY.DRAG-AND-DROP.SUBTITLE' | translate}}
                        </div>
                    </div>
                </adf-empty-list>
            </adf-task-attachment-list>

        </adf-upload-drag-area>


        <adf-create-task-attachment
            *ngIf="!isCompletedTask()"
            [taskId]="taskId"
            (success)="onFileUploadComplete($event)">
        </adf-create-task-attachment>

    </div>
</div>
