*.log
node_modules
bundles
.idea/
*.iml
.env.*
.env
dist
tmp
temp
*.npmrc
.history
.ng_pkg_build/
coverage/
out-tsc
/reports/
e2e-result-*
licenses.txt
.DS_Store
desktop.ini
.angular
.nx
nxcache
.husky
