.login-card-wide.mdl-card {
    width: 512px;
    margin: auto;
}
.login-card-wide > .mdl-card__menu {
    color: #000;
}



.ng-invalid.ng-invalid.ng-touched {
    border-color: rgb(222, 50, 38);
    box-shadow: none;
}

.ng-invalid.ng-invalid.ng-touched + label {
    color: rgb(222, 50, 38);
    font-size: 12px;
}

.ng-invalid.ng-invalid.ng-touched + label:after {
    background-color: rgb(222, 50, 38);
}

.ng-invalid.ng-invalid.ng-touched ~ .mdl-tooltip--validation {
    background-color: rgb(222, 50, 38);
}


.ng-invalid.ng-touched:not(:focus) + label::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */

    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */

    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */

    text-rendering: optimizeLegibility;
    /* Support for Firefox. */

    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */

    font-feature-settings: 'liga';
    content: "warning";
    position: absolute;
    right: 0;
    bottom: 20px;
}

.ng-valid.ng-touched:not(:focus) + label::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */

    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */

    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */

    text-rendering: optimizeLegibility;
    /* Support for Firefox. */

    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */

    font-feature-settings: 'liga';
    content: "done";
    position: absolute;
    right: 0;
    bottom: 20px;
}