.dynamic-table-widget {
    padding: 8px;
}

.dynamic-table-widget__row-selected,
.dynamic-table-widget__row-selected:hover {
    background-color: #eef !important;
}

.dynamic-table-widget__table-container {
    overflow-y: auto;
    width: 100%;
}

.dynamic-table-widget__table {
    width: 100%;
}

.dynamic-table-widget__invalid .dynamic-table-widget__label {
    color: #d50000;
}

.dynamic-table-widget__invalid .dynamic-table-widget__table-container {
    border: 1px solid #d50000;
}

.dynamic-table-widget__invalid .dynamic-table-widget__table {
    border: none;
}

.dynamic-table-widget__summary {
    visibility: hidden;
    color: #d50000;
}

.dynamic-table-widget__invalid .dynamic-table-widget__summary {
    visibility: visible !important;
}
