<div class="dynamic-table-widget"
     [class.dynamic-table-widget__invalid]="!content.isValid">
     <div>{{content.name}}</div>

     <table class="mdl-data-table mdl-js-data-table dynamic-table-widget__table">
         <thead>
            <tr>
                <th *ngFor="let column of content.visibleColumns"
                    class="mdl-data-table__cell--non-numeric">
                    {{column.name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of content.rows"
                [class.dynamic-table-widget__row-selected]="row.selected">
                <td *ngFor="let column of content.visibleColumns"
                    class="mdl-data-table__cell--non-numeric"
                    (click)="onRowClicked(row)">
                    {{row.value[column.id]}}
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <button class="mdl-button mdl-js-button mdl-button--icon"
                [disabled]="!hasSelection()"
                (click)="moveSelectionUp()">
            <i class="material-icons">arrow_upward</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon"
                [disabled]="!hasSelection()"
                (click)="moveSelectionDown()">
            <i class="material-icons">arrow_downward</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon"
                (click)="addNewRow()">
            <i class="material-icons">add_circle_outline</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon"
                [disabled]="!hasSelection()"
                (click)="deleteSelection()">
            <i class="material-icons">remove_circle_outline</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon"
                [disabled]="!hasSelection()"
                (click)="editSelection()">
            <i class="material-icons">edit</i>
        </button>
    </div>

     <span *ngIf="content.validationSummary" class="mdl-textfield__error">{{content.validationSummary}}</span>
</div>
