.adf-datatable-demo-app {
    height: 310px;
    overflow-y: auto;

    &-actions {
        display: flex;
        column-gap: 4px;
    }

    &-custom-user-header {
        color: var(--theme-warn-color);
    }
}
