<mat-form-field>
    <input id="adf-datatable-filter-input" matInput placeholder="Name filter" [(ngModel)]="data.filterValue">
</mat-form-field>

<mat-slide-toggle
    id="adf-toggle-sticky-header"
    [color]="'primary'"
    (change)="toggleStickyHeader()"
    [checked]="stickyHeader">
    Sticky header
</mat-slide-toggle>

<div data-automation-id="datatable" class="adf-datatable-demo-app">
    <adf-datatable
        #dataTable
        [data]="data"
        [stickyHeader]="stickyHeader"
        [selectionMode]="selectionMode"
        [multiselect]="multiselect"
        [actions]="true"
        [resolverFn]="resolver"
        rowStyleClass="custom-row-style"
        [showMainDatatableActions]="true"
        (showRowActionsMenu)="onShowRowActionsMenu($event)"
        (executeRowAction)="onExecuteRowAction($event)">
        <!-- HTML column definition demo -->
        <!--
        <data-columns>
            <data-column type="image" key="icon" [sortable]="false"></data-column>
            <data-column key="id" title="Id"></data-column>
            <data-column key="createdOn" title="Created"></data-column>
            <data-column key="name" title="Name" class="adf-full-width name-column"></data-column>
            <data-column type="text" key="createdBy.name" title="Created By"></data-column>
            <data-column type="text" key="users" title="Users"></data-column>
            <data-column key="status" title="Status">
                <ng-template let-value="value">{{value | json }}</ng-template>
                <adf-data-column-header>
                    <ng-template>STATUS</ng-template>
                </adf-data-column-header>
            </data-column>
        </data-columns>
        -->

        <adf-main-menu-datatable-template>
            <ng-template let-mainMenuTrigger>
                <adf-datatable-column-selector
                    [columns]="data.getColumns()"
                    [mainMenuTrigger]="mainMenuTrigger"
                    (submitColumnsVisibility)="onColumnsVisibilityChange($event)">
                </adf-datatable-column-selector>
            </ng-template>
        </adf-main-menu-datatable-template>

    </adf-datatable>

    <ng-template #customColumnHeaderTemplate>
        <div>
            <span class="adf-datatable-demo-app-custom-user-header">
                {{ 'DATATABLE.CUSTOM_COLUMN_HEADER'| translate }}
            </span>
        </div>
    </ng-template>
</div>

<div>
    Selected items: {{ dataTable.selection?.length }}
</div>

<div data-automation-id="multiselect">
    <mat-checkbox [(ngModel)]="multiselect">{{ 'DATATABLE.MULTISELECT'| translate }}</mat-checkbox>
</div>

<div>
    <p>{{ 'DATATABLE.MULTISELECT_DESCRIPTION'| translate }}</p>
    <mat-form-field>
        <mat-select placeholder="Selection Mode" [(ngModel)]="selectionMode" name="food" data-automation-id="datatable-selection-mode">
            <mat-option *ngFor="let mode of selectionModes" [value]="mode.value">
                {{mode.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="adf-datatable-demo-app-actions">
    <button mat-raised-button (click)="reset()">{{ 'DATATABLE.RESET_DEFAULT'| translate }}</button>
    <button mat-raised-button (click)="addRow()">{{ 'DATATABLE.ADD_ROW'| translate }}</button>
    <button mat-raised-button (click)="replaceRows()">{{ 'DATATABLE.REPLACE_ROWS'| translate }}</button>
    <button mat-raised-button (click)="replaceColumns()">{{ 'DATATABLE.REPLACE_COLUMNS'| translate }}</button>
    <button mat-raised-button (click)="showCustomHeaderColumn()">{{ 'DATATABLE.USE_CUSTOM_COLUMN_HEADER'| translate }}</button>
</div>
