adf-datatable ::ng-deep .custom-row-style.alfresco-datatable__row:focus {
    outline-offset: -1px;
    outline-width: 1px;
    outline-color: green;
    outline-style: solid;
}

adf-datatable ::ng-deep .custom-row-style.alfresco-datatable__row--selected {
    color: green;
}

adf-datatable ::ng-deep table {
    max-width: 100%;
    overflow: hidden;
    white-space: normal !important;
}
