<div class="mdl-textfield mdl-js-textfield multiline-text-widget"
     [class.multiline-text-widget__invalid]="!field.isValid">
    <label [attr.for]="field.id">{{field.name}}</label>
    <textarea class="mdl-textfield__input"
              type="text"
              rows= "3"
              [attr.id]="field.id"
              [attr.required]="isRequired()"
              [(ngModel)]="field.value"
              (ngModelChange)="checkVisibility(field)"
              [disabled]="field.readOnly"
              placeholder="{{field.placeholder}}">
    </textarea>
    <span *ngIf="field.validationSummary" class="mdl-textfield__error">{{field.validationSummary}}</span>
</div>

