<div class="adf-multiline-text-widget {{field.className}}"
     [class.adf-invalid]="!field.isValid">
    <div>
       <label [attr.for]="field.id">{{field.name}}<span *ngIf="isRequired()">*</span></label>
    </div>
    <md-input-container floatPlaceholder="never">
        <textarea mdInput class="adf-input"
                md-autosize
                type="text"
                rows= "3"
                [id]="field.id"
                [required]="isRequired()"
                [value]="field.value"
                [(ngModel)]="field.value"
                (ngModelChange)="checkVisibility(field)"
                [disabled]="field.readOnly"
                placeholder="{{field.placeholder}}">
        </textarea>
        <md-error  *ngIf="field.validationSummary">
            {{field.validationSummary}}
        </md-error>
    </md-input-container>
</div>

