<div class="inherit_permission_button">
    <button mat-raised-button
            [color]="toggleStatus?'accent':'primary'"
            adf-inherit-permission [nodeId]="nodeId"
            (updated)="onUpdatedPermissions($event)">
            {{ (toggleStatus?'DEMO_PERMISSION.INHERITED_PERMISSIONS_BUTTON':'DEMO_PERMISSION.INHERIT_PERMISSION_BUTTON') | translate}}</button>
</div>
<button mat-button (click)="openAddPermissionDialog($event)">Click me!</button>
<div>
	<adf-permission-list #permissionList [nodeId]="nodeId">
	</adf-permission-list>
</div>

