@import './app/components/app-layout/app-layout.component.scss';
@import './app/components/files/files.component.scss';
@import './app/components/login/login.component.scss';
@import './app/components/process-service/process-service.component.scss';


@import 'content-services/styles/index';
@import 'process-services/styles/index';
@import 'insights/styles/index';
@import 'core/styles/index';
@import 'process-services-cloud/styles/index';

@import '~@angular/material/theming';

@include mat-core($alfresco-typography);

$primary: mat-palette($alfresco-accent-orange);
$accent:  mat-palette($alfresco-accent-purple);
$warn:    mat-palette($alfresco-warn);
$theme:   mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include adf-app-layout-theme($theme);
@include adf-file-component-theme($theme);
@include adf-login-component-theme($theme);
@include adf-process-service-component-theme($theme);


@include adf-content-services-theme($theme);
@include adf-process-services-theme($theme);
@include adf-insights-theme($theme);
@include adf-core-theme($theme);
@include adf-process-services-cloud-theme($theme);

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-size: mat-font-size($alfresco-typography, body-1);
    font-family: mat-font-family($alfresco-typography);
    line-height: mat-line-height($alfresco-typography, body-1);
}

body {
    overflow: auto;
}
