@use '@angular/material' as mat;
@import '../../lib/core/src/lib/styles/index';
@import '../../lib/core/src/lib/styles/typography';
@include mat.all-component-typographies;
@include mat.core;

$primary: mat.m2-define-palette($alfresco-accent-orange);
$accent: mat.m2-define-palette($alfresco-accent-purple);
$warn: mat.m2-define-palette($alfresco-warn);
$theme: mat.m2-define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn
        ),
        typography: $alfresco-typography
    )
);

@include mat.all-component-themes($theme);
@include alfresco-material-theme($theme);
