@import './app/components/app-layout/app-layout.component.scss';

@import 'content-services/styles/index';
@import 'process-services/styles/index';
@import 'analytics/styles/index';
@import 'core/styles/index';

@import '~@angular/material/theming';

@include mat-core($alfresco-typography);

$primary: mat-palette($alfresco-accent-orange);
$accent:  mat-palette($alfresco-accent-purple);
$warn:    mat-palette($alfresco-warn);
$theme:   mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

@include adf-app-layout-theme($theme);

@include adf-content-services-theme($theme);
@include adf-process-services-theme($theme);
@include adf-analytics-services-theme($theme);
@include adf-core-theme($theme);
