npm-debug.log
.idea
.npmrc

/.editorconfig
/*.json
/karma-test-shim.js
/karma.conf.js
/gulpfile.ts
/.npmignore
/.happypack
**/*.html
**/*.js
**/*.ts
!**/*.d.ts
!**/adf-core.js

**/*.scss
**/*.css
!**/lib/_theming.scss

coverage/
demo/
dist/
node_modules
typings/
fonts/
i18n/
assets/
!/lib/prebuilt-themes/
!/lib/prebuilt-themes/adf-indigo-pink.css
!/lib/prebuilt-themes/adf-cyan-purple.css
!/lib/prebuilt-themes/adf-green-purple.css
!/lib/prebuilt-themes/adf-cyan-orange.css
!/lib/prebuilt-themes/adf-green-orange.css
!/lib/prebuilt-themes/adf-blue-purple.css
!/lib/prebuilt-themes/adf-blue-orange.css
!/lib/prebuilt-themes/adf-pink-bluegrey.css
!/lib/prebuilt-themes/adf-purple-green.css
