@import '../form';

.adf {

    &-radio-button-container {
        margin-bottom: 15px;
    }

    &-radio-group {
        display: inline-flex;
        flex-direction: column;
    }

    &-radio-button {
        margin: 5px;
    }

 }
