.adf {

     &.-invalid {
         .adf-label {
             color: #d50000;
         }
         .adf-label {
             color: #d50000;
             &:after {
                 background-color: #d50000;
             }
         }
         .adf-error {
             visibility: visible !important;
         }
     }
 }
