.radio-buttons-widget {}

.radio-buttons-widget__invalid .mdl-radio__label {
    color: #d50000;
}

.radio-buttons-widget__invalid .radio-buttons-widget__label {
    color: #d50000;
}

.radio-buttons-widget__invalid .radio-buttons-widget__label:after {
    background-color: #d50000;
}

.radio-buttons-widget__invalid .mdl-textfield__error {
    visibility: visible !important;
}
