@import 'theming';

.adf {

    &-radio-group {
        display: inline-flex;
        flex-direction: column;
    }

    &-radio-button {
        margin: 5px;
    }

     &-invalid {
         .adf-label {
             color: $alfresco-warn-color--hue-3;
         }
         .adf-label {
             color: #d50000;
             &:after {
                 background-color: $alfresco-warn-color--hue-3;
             }
         }
     }
 }
