<div class="radio-buttons-widget {{field.className}}"
     [class.adf-invalid]="!field.isValid" [id]="field.id" *ngIf="field?.isVisible">
    <label class="adf-label" [attr.for]="field.id">{{field.name}}<span *ngIf="isRequired()">*</span></label>
    <div>
        <md-radio-group class="adf-radio-group" [(ngModel)]="field.value">
            <md-radio-button
                [id]="field.id + '-' + opt.id"
                [name]="field.id"
                [value]="opt.id"
                [disabled]="field.readOnly"
                [checked]="field.value === opt.id"
                (click)="onOptionClick(opt.id)"
                class="adf-radio-button" *ngFor="let opt of field.options" >
                {{opt.name}}
            </md-radio-button>
        </md-radio-group>
    </div>
    <md-error  *ngIf="field.validationSummary">
        <div class="adf-error-text" >{{field.validationSummary}}</div> <i class="material-icons adf-error-icon">warning</i>
    </md-error>
</div>


