.setting-card.mdl-card {
    width: 320px;
    height: 320px;
}

.setting-card > .mdl-card__title {
    color: #fff;
    background: bottom right 15% no-repeat #1fbcd2;
}

.setting-card-padding {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

.setting-container {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.icon-margin {
    margin-right: 9px;
}

.table-row {
    display: table-row;
}

.adf-setting-input-padding{
    padding-top: 0px !important;
}
