<div class="adf-pagination__block">
    <span class="adf-pagination__range">
        {{
            'CORE.PAGINATION.ITEMS_RANGE' | translate: {
                range: range.join('-'),
                total: pagination.totalItems
            }
        }}
    </span>
</div>

<div class="adf-pagination__block">
    <span>
        {{ 'CORE.PAGINATION.ITEMS_PER_PAGE' | translate }}
    </span>

    <span class="adf-pagination__max-items">
        {{ pagination.maxItems }}
    </span>

    <button md-icon-button [mdMenuTriggerFor]="pageSizeMenu">
        <md-icon>arrow_drop_down</md-icon>
    </button>

    <md-menu #pageSizeMenu="mdMenu">
        <button
            md-menu-item
            *ngFor="let pageSize of supportedPageSizes"
            (click)="changePageSize(pageSize)">
            {{ pageSize }}
        </button>
    </md-menu>
</div>

<div class="adf-pagination__block">
    <span class="adf-pagination__current-page">
        {{ 'CORE.PAGINATION.CURRENT_PAGE' | translate: { number: current } }}
    </span>

    <button
        md-icon-button
        [mdMenuTriggerFor]="pagesMenu"
        *ngIf="pages.length > 1">
        <md-icon>arrow_drop_down</md-icon>
    </button>

    <span class="adf-pagination__total-pages">
        {{ 'CORE.PAGINATION.TOTAL_PAGES' | translate: { total: pages.length } }}
    </span>

    <md-menu #pagesMenu="mdMenu">
        <button
            md-menu-item
            *ngFor="let pageNumber of pages"
            (click)="changePageNumber(pageNumber)">
            {{ pageNumber }}
        </button>
    </md-menu>
</div>

<div class="adf-pagination__block">
    <button
        class="adf-pagination__previous-button"
        md-icon-button
        [disabled]="isFirstPage"
        (click)="goPrevious()">
        <md-icon>keyboard_arrow_left</md-icon>
    </button>

    <button
        class="adf-pagination__next-button"
        md-icon-button
        [disabled]="isLastPage"
        (click)="goNext()">
        <md-icon>keyboard_arrow_right</md-icon>
    </button>
</div>
