.app-content {
    padding: 10px;

    .mat-card {
        padding: 16px 24px;
        max-width: 100% !important;
        max-height: 100% !important;

        div {
            padding: 0;
            margin-bottom: 30px;

            label {
                font-weight: bold;
            }

            .mat-form-field,
            input,
            select {
                display: block;
                width: 100%;
                height: 30px;
                margin-bottom: 5px;
            }

            p {
                margin: 0 0 5px;
            }
        }
    }
}
