<div class="col-md-6">
    <analytics-report-parameters [appId]="appId" [reportId]="reportId"
                                 (onFormValueChanged)="reset()"
                                 (onSuccess)="showReport($event)"
                                 (saveReportSuccess)="onSaveReportSuccess()"
                                 (deleteReportSuccess)="onDeleteReportSuccess()"
                                 (onEdit)="onEditReport($event)">
    </analytics-report-parameters>

    <activiti-analytics-generator [reportId]="reportId"
                                  [reportParamQuery]="reportParamQuery"
                                  #analyticsgenerator>
    </activiti-analytics-generator>
</div>
