.dropdown-widget {
    width: 100%;
}

.dropdown-widget__select {
    width: 100%;
}

.dropdown-widget__invalid .dropdown-widget__select {
    border-color: #d50000;
}

.dropdown-widget__invalid .dropdown-widget__label {
    color: #d50000;
}

.dropdown-widget__invalid .dropdown-widget__label:after {
    background-color: #d50000;
}

.dropdown-widget__invalid .mdl-textfield__error {
    visibility: visible !important;
}
