.dropdown-widget {
    width: 100%;
}

.dropdown-widget__select {
    width: 100%;
}

.dropdown-widget__invalid .dropdown-widget__select {
    border-color: #d50000;
}

.dropdown-widget__invalid .dropdown-widget__label {
    color: #d50000;
}

.dropdown-widget__invalid .dropdown-widget__label:after {
    background-color: #d50000;
}

.dropdown-widget__invalid .mdl-textfield__error {
    visibility: visible !important;
}

.large {
    font-size: x-large;
    margin-top: 24px;
    margin-left: 12px;
}

.icon-small i {
    float: left;
    margin-right: 10px;
    display: none;
    position: absolute;
}

.icon-small h4 {
    clear: left;
    margin-left: 26px;
}

.icon-small:hover {
    color: rgb(68,138,255);
    cursor: pointer;
}

.icon-small:hover .material-icons {
    display: block;
}

.is-hide {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
}

.report-container {
    border-bottom: solid 1px rgb(212, 212, 212);
    padding: 10px 10px 10px 10px;
}

.report-container-setting {
    padding-left: 10px;
}

.option_button_details{
    padding-top: 20px;
}

.mdl-dialog__title.choose_name{
    padding: 0px;
}