<adf-toolbar color="default">
    <adf-toolbar-title>
        <button md-icon-button [md-dialog-close]="true" mdTooltip="Close and go back">
            <md-icon>arrow_back</md-icon>
        </button>
        <span>{{ fileName }}</span>
    </adf-toolbar-title>

    <button md-button [mdMenuTriggerFor]="mnuOpenWith">
        Open with
        <md-icon>arrow_drop_down</md-icon>
    </button>
    <md-menu #mnuOpenWith="mdMenu" [overlapTrigger]="false">
        <button md-menu-item>
            <md-icon>dialpad</md-icon>
            <span>Option 1</span>
        </button>
        <button md-menu-item disabled>
            <md-icon>voicemail</md-icon>
            <span>Option 2</span>
        </button>
        <button md-menu-item>
            <md-icon>notifications_off</md-icon>
            <span>Option 3</span>
        </button>
    </md-menu>

    <adf-toolbar-divider></adf-toolbar-divider>

    <button
        *ngIf="downloadUrl"
        md-icon-button
        mdTooltip="Download"
        (click)="download()">
        <md-icon>file_download</md-icon>
    </button>

    <button md-icon-button mdTooltip="Print">
        <md-icon>print</md-icon>
    </button>

    <button md-icon-button mdTooltip="Share">
        <md-icon>share</md-icon>
    </button>

    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item>
            <md-icon>dialpad</md-icon>
            <span>Redial</span>
        </button>
        <button md-menu-item disabled>
            <md-icon>voicemail</md-icon>
            <span>Check voicemail</span>
        </button>
        <button md-menu-item>
            <md-icon>notifications_off</md-icon>
            <span>Disable alerts</span>
        </button>
    </md-menu>

    <ng-container *ngIf="allowInfoDrawer">
        <adf-toolbar-divider></adf-toolbar-divider>

        <button md-icon-button mdTooltip="Info"
            [color]="showInfoDrawer ? 'accent' : 'default'"
            (click)="showInfoDrawer = !showInfoDrawer">
            <md-icon>info_outline</md-icon>
        </button>
    </ng-container>

</adf-toolbar>

 <md-dialog-content>
    <ng-container [ngSwitch]="viewerType">

        <ng-container *ngSwitchCase="'image'">
            <div class="adf-viewer-dialog__image-view">
                <img *ngIf="fileUrl" [src]="fileUrl">
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'text'">
            <div class="adf-viewer-dialog__text-view">
                <pre>{{ asText | async }}</pre>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'pdf'">
            <adf-pdf-viewer class="adf-viewer-dialog__pdf-view"
                [showToolbar]="true"
                [urlFile]="fileUrl">
            </adf-pdf-viewer>
        </ng-container>

        <ng-container *ngSwitchCase="'video'">
            <div class="adf-viewer-dialog__video-view">
                <video controls>
                    <source [src]="fileUrl" [type]="fileMimeType">
                </video>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'audio'">
            <div class="adf-viewer-dialog__audio-view">
                <video controls>
                    <source [src]="fileUrl" [type]="fileMimeType">
                </video>
            </div>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <div class="adf-viewer-dialog-unknown-view">
                <div>
                    <md-icon class="icon">{{ unknownFormatIcon }}</md-icon>
                    <div class="label">{{ unknownFormatText | translate }}</div>
                </div>
            </div>
        </ng-container>

    </ng-container>

    <ng-container *ngIf="showInfoDrawer">
        <div class="adf-viewer-dialog__info-drawer">
            <md-tab-group md-stretch-tabs>
                <md-tab label="Details">
                    <md-card>
                        DETAILS
                    </md-card>
                </md-tab>
                <md-tab label="Activity">
                    <md-card>
                        Activity
                    </md-card>
                </md-tab>
            </md-tab-group>
        </div>
    </ng-container>

 </md-dialog-content>
