.adf-viewer-dialog-panel {
    .mat-dialog-container {
        padding: 0;
        max-width: none;
        width: 100vw;
        height: 100vh;
    }
}

.adf-viewer-dialog {

    .mat-dialog-content {
        display: flex;
        max-height: 100vh;
        justify-content: center;
    }

    &__mimetype-icon {
        width: 24px;
        height: 24px;
    }

    &__loading-screen {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 85vh;

        .md-spinner {
            margin: 0 auto;
        }
    }

    &__info-drawer {
        width: 350px;
        display: block;
        padding: 8px 0;
        background-color: #FAFAFA;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);

        .mat-tab-label {
            text-transform: uppercase;
        }

        .mat-card {
            margin: 6px;
        }
    }

    &-unknown-view {
        height: 90vh;
        text-align: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    &__image-view {
        display: flex;
        flex: 1;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        height: 95vh;
        img {
            max-width: 100%;
            object-fit: contain;
        }
    }

    &__text-view {
        display: flex;
        background-color: white;
        width: 100vw;
        overflow: hidden;

        & > pre {
            overflow: auto;
            width: 100%;
        }
    }

    &__video-view {
        video {
            display: flex;
            flex: 1;
            max-height: 90vh;
        }
    }

    &__audio-view {
        video {
            display: flex;
            flex: 1;
            max-height: 90vh;
        }
    }

    &__pdf-view {
        .viewer-pdf-container {
            top: 52px;
            left: 7px;
            right: 7px;
            border: 1px solid lightgray;
            background-color: lightgray;
        }
    }
}
