.adf-img-viewer {
    .image-container {
        display: flex;
        flex: 1;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        height: 90vh;
        img {
            object-fit: contain;
        }
    }
}
