
.unsupported-container {
    width: 600px;
}

.viewer-margin {
    margin: auto !important;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewer-download-text  {
    text-align: center;
    word-wrap: break-word;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewer-download-text h4 {
    margin: 0;
}

.adf-conversion-spinner {
    margin: 16px 0;
}

.viewer-margin >>> .adf-conversion-spinner.mat-spinner path {
    stroke: #00BFD4;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-container button {
    line-height: 40px;
}

.viewer-button-icon {
    margin-right: 10px;
    margin-top: -5px;
}
