<md-card *ngIf="!isConversionFinished">
    <md-card-title>
        Unknown format
    </md-card-title>
    <md-card-content>
        <h4>File '<span>{{nameFile}}</span>' is of an unsupported format</h4>
        <md-progress-bar
            *ngIf="isConversionStarted"
            mode="indeterminate"
            data-automation-id="viewer-conversion-spinner">
        </md-progress-bar>
    </md-card-content>
    <md-card-actions>
        <button
            md-button
            data-automation-id="viewer-download-button"
            (click)="download()">
            <md-icon>cloud_download</md-icon>
            Download
        </button>
        <button
            md-button
            *ngIf="convertible"
            [disabled]="isConversionStarted"
            data-automation-id="viewer-convert-button"
            (click)="convertToPdf()">
            <md-icon>insert_drive_file</md-icon>
            Convert to PDF
        </button>
        <button
            md-button
            *ngIf="displayable"
            data-automation-id="viewer-display-button"
            (click)="showPDF()">
            <md-icon>insert_drive_file</md-icon>
            Show PDF
        </button>
    </md-card-actions>
</md-card>

<adf-pdf-viewer
    *ngIf="isConversionFinished"
    [showToolbar]="showToolbar"
    [urlFile]="renditionUrl"
    [nameFile]="nameFile"
    data-automation-id="pdf-rendition-viewer">
</adf-pdf-viewer>
