
.viewer-margin {
    margin: auto !important;
    padding: 16px;
}

.viewer-download-text  {
    text-align: center;
    word-wrap: break-word;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-container button {
    line-height: 40px;
}

.viewer-button-icon {
    margin-right: 20px;
    margin-top: -5px;
}