.adf-pdf-viewer {
    .textLayer {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        opacity: 0.2;
        line-height: 1.0;

        & > div {
            color: transparent;
            position: absolute;
            white-space: pre;
            cursor: text;
            -webkit-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }

        .highlight {
            margin: -1px;
            padding: 1px;

            background-color: rgb(180, 0, 170);
            border-radius: 4px;

            &.begin {
                border-radius: 4px 0px 0px 4px;
            }

            &.end {
                border-radius: 0px 4px 4px 0px;
            }

            &.middle {
                border-radius: 0px;
            }

            &.selected {
                background-color: rgb(0, 100, 0);
            }
        }

        &::selection { background: rgb(0,0,255); }
        &::-moz-selection { background: rgb(0,0,255); }

        .endOfContent {
            display: block;
            position: absolute;
            left: 0px;
            top: 100%;
            right: 0px;
            bottom: 0px;
            z-index: -1;
            cursor: default;
            user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;

            &.active {
                top: 0px;
            }
        }
    }

    .annotationLayer {
        section {
            position: absolute;
        }

        .linkAnnotation {
            & > a {
                position: absolute;
                font-size: 1em;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;

                &:hover {
                    opacity: 0.2;
                    background: #ff0;
                    box-shadow: 0px 2px 10px #ff0;
                }
            }
        }

        .textAnnotation {
            img {
                position: absolute;
                cursor: pointer;
            }
        }

        .popupWrapper {
            position: absolute;
            width: 20em;
        }

        .popup {
            position: absolute;
            z-index: 200;
            max-width: 20em;
            background-color: #FFFF99;
            box-shadow: 0px 2px 5px #333;
            border-radius: 2px;
            padding: 0.6em;
            margin-left: 5px;
            cursor: pointer;
            word-wrap: break-word;

            h1 {
                font-size: 1em;
                border-bottom: 1px solid #000000;
                padding-bottom: 0.2em;
            }

            p {
                padding-top: 0.2em;
            }
        }

        .highlightAnnotation,
        .underlineAnnotation,
        .squigglyAnnotation,
        .strikeoutAnnotation,
        .fileAttachmentAnnotation {
            cursor: pointer;
        }
    }

    .pdfViewer {
        canvasWrapper {
            overflow: hidden;
        }

        .page {
            direction: ltr;
            width: 816px;
            height: 1056px;
            margin: 1px auto -8px auto;
            position: relative;
            overflow: visible;
            border: 9px solid transparent;
            background-clip: content-box;
            background-color: white;

            canvas {
                margin: 0;
                display: block;
            }

            .loadingIcon {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }

        &.removePageBorders {
            .page {
                margin: 0px auto 10px auto;
                border: none;
            }
        }

        .loadingIcon {
            width: 100px;
            height: 100px;
            left: 50% !important;
            top: 50% !important;

            margin-top: -50px;
            margin-left: -50px;

            font-size: 5px;
            text-indent: -9999em;
            border-top: 1.1em solid rgba(3,0,2, 0.2);
            border-right: 1.1em solid rgba(3,0,2, 0.2);
            border-bottom: 1.1em solid rgba(3,0,2, 0.2);
            border-left: 1.1em solid #030002;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.1s infinite linear;
            animation: load8 1.1s infinite linear;

            border-radius: 50%;
            &:after {
                border-radius: 50%;
            }
        }
    }

    * {
        padding: 0;
        margin: 0;
    }

    .hidden, [hidden] {
        display: none !important;
    }
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.viewer-pdf-container {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 32px;
    right: 0;
    bottom: 0;
    left: 0;
    outline: none;
}
html[dir='ltr'] .viewer-pdf-container {
    box-shadow: inset 1px 0 0 hsla(0,0%,100%,.05);
}
html[dir='rtl'] .viewer-pdf-container {
    box-shadow: inset -1px 0 0 hsla(0,0%,100%,.05);
}
