.adf-viewer-dialog-panel {
    .mat-dialog-container {
        padding: 0;
        max-width: none;
        width: 99vw;
        height: 99vh;
    }
}

.adf-viewer-dialog {
    &-preview-error {
        height: 90vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
