<div *ngIf="showViewer"
    class="adf-viewer-container"
    [class.adf-viewer-overlay-container]="overlayMode"
    [class.adf-viewer-inline-container]="!overlayMode">

    <div class="adf-viewer-content">
        <ng-container *ngIf="overlayMode">
            <adf-toolbar color="default" class="adf-viewer-toolbar">
                <adf-toolbar-title>
                    <span class="adf-viewer-filename">{{ displayName }}</span>
                </adf-toolbar-title>
                <button
                    md-icon-button
                    class="adf-viewer-close-button"
                    mdTooltip="Close and go back"
                    mdTooltipPosition="before"
                    (click)="close()"
                    aria-label="Close">
                    <md-icon>close</md-icon>
                </button>
            </adf-toolbar>
        </ng-container>

        <div class="adf-viewer-layout">
            <div class="adf-viewer-layout-content">
                <div *ngIf="isLoaded()">
                    <div class="adf-viewer-content-container">

                        <ng-container *ngIf="isPdf()">
                            <adf-pdf-viewer
                                [showToolbar]="showToolbar"
                                [blobFile]="blobFile"
                                [urlFile]="urlFileContent"
                                [nameFile]="displayName">
                            </adf-pdf-viewer>
                        </ng-container>

                        <ng-container *ngIf="isImage()">
                            <adf-img-viewer
                                [urlFile]="urlFileContent"
                                [nameFile]="displayName"
                                [blobFile]="blobFile">
                            </adf-img-viewer>
                        </ng-container>

                        <ng-container *ngIf="isMedia()">
                            <adf-media-player
                                [urlFile]="urlFileContent"
                                [mimeType]="mimeType"
                                [blobFile]="blobFile"
                                [nameFile]="displayName">
                            </adf-media-player>
                        </ng-container>

                        <ng-container *ngIf="isText()">
                            <adf-txt-viewer [urlFile]="urlFileContent" [blobFile]="blobFile" ></adf-txt-viewer>
                        </ng-container>

                         <span *ngFor="let extensionTemplate of extensionTemplates">
                            <ng-template
                                *ngIf="extensionTemplate.isVisible"
                                [ngTemplateOutlet]="extensionTemplate.template"
                                [ngOutletContext]="{ urlFileContent: urlFileContent, extension:extension }">
                            </ng-template>
                         </span>

                        <div *ngIf="!supportedExtension()" class="adf-viewer-unknown-content">
                            <adf-not-supported-format
                                *ngIf="!extensionTemplate"
                                [urlFile]="urlFileContent"
                                [blobFile]="blobFile"
                                [nameFile]="displayName"
                                [showToolbar]="showToolbar"
                                [nodeId]="fileNodeId">
                            </adf-not-supported-format>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
