@import 'theming';
@import '../form';

.adf {
    &-dropdown-widget {
        width: 100%;
        padding-top: 16px;
    }

    &-select {
        width: 100%;
    }

    &-dropdown-required-message .adf-error-text-container{
        margin-top: -2px !important;
    }

}
