<div class="adf-dropdown-widget {{field.className}}"
     [class.adf-invalid]="!field.isValid" [class.adf-readonly]="field.readOnly" *ngIf="field?.isVisible">
    <label class="adf-label" [attr.for]="field.id">{{field.name}}<span *ngIf="isRequired()">*</span></label>
    <md-select class="adf-select"
            [id]="field.id"
            [(ngModel)]="field.value"
            [disabled]="field.readOnly"
            (ngModelChange)="checkVisibility(field)">
        <md-option *ngFor="let opt of field.options"
                   [value]="getOptionValue(opt, field.value)"
                   [id]="opt.id">{{opt.name}}</md-option>
    </md-select>
    <error-widget [error]="field.validationSummary" ></error-widget>
    <error-widget class="adf-dropdown-required-message" *ngIf="isInvalidFieldRequired()" required="{{ 'FORM.FIELD.REQUIRED' | translate }}"></error-widget>
</div>
