@import 'theming';

.adf {
    &-dropdown-widget {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &-select {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &-invalid {
        .adf-select {
            border-color: $alfresco-warn-color--hue-3;
        }
        .adf-label {
            color: $alfresco-warn-color--hue-3;
            &:after {
            background-color: $alfresco-warn-color--hue-3;
            }
        }

        .adf-error-text {
            padding: 1px;
            height: 16px;
            font-size: 12px;
            line-height: 1.33;
            float: left;
            color: $alfresco-warn-color--hue-3;
        }

        .adf-error-icon {
            float: right;
            font-size: 17px;
            color: $alfresco-warn-color--hue-3;
        }
    }
}
