.dropdown-widget {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-widget__select {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown-widget__invalid .dropdown-widget__select {
    border-color: #d50000;
}

.dropdown-widget__invalid .dropdown-widget__label {
    color: #d50000;
}

.dropdown-widget__invalid .dropdown-widget__label:after {
    background-color: #d50000;
}

.dropdown-widget__invalid .mdl-textfield__error {
    visibility: visible !important;
}
