<div class="adf-dropdown-widget {{field.className}}"
     [class.adf-invalid]="!field.isValid" *ngIf="field?.isVisible">
    <div>
        <label class="adf-label">{{field.name}}<span *ngIf="isRequired()">*</span></label>
    </div>
    <md-select class="adf-select"
            [attr.id]="field.id"
            [(ngModel)]="field.value"
            [disabled]="field.readOnly"
            (ngModelChange)="checkVisibility(field)">
        <md-option *ngFor="let opt of field.options"
                   [value]="getOptionValue(opt, field.value)"
                   [id]="opt.id">{{opt.name}}</md-option>
    </md-select>
    <md-error  *ngIf="field.validationSummary">
        <div class="adf-error-text" >{{field.validationSummary}}</div> <i class="material-icons adf-error-icon">warning</i>
    </md-error>
</div>
