/* Utils */
body, html {
    height: 100%;
}

.p-10 {
    padding: 10px;
}

.m-10 {
    margin: 10px;
}

.loader-container {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 100%;
}

.loader-item {
    margin: auto;
    max-height: 100px;
    max-width: 300px;
}

.loader-text {
    white-space: nowrap;
    text-align: center;
    position: relative;
}

._dialog_overlay {
    position: static !important;
}

.main_header_adf .mdl-layout__drawer-button {
    right: 0 !important;
    left: initial !important;
    left: auto;
}

.mdl-layout__header {
    color: rgb(255, 255, 255);
    background-color: rgb(31, 188, 210);
}

.mdl-layout__header .material-icons {
    color: rgb(255, 255, 255);
}

.mdl-layout__header-row .mdl-navigation__link {
    color: rgb(255, 255, 255);
}

.md-simple-snackbar-action {
    border: 0px;
    cursor: pointer;
}

.adf-flag-icon-gb {
    background-image: url(./flags/gb.svg);
}

.adf-flag-icon-it {
    background-image: url(./flags/it.svg);
}

.adf-flag-icon-ru {
    background-image: url(./flags/ru.svg);
}

.adf-flag-icon:before {
    content: "\00a0";
}

.adf-flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}
