/* Utils */
body, html {
    height: 100%;
}


.p-10 {
    padding: 10px;
}

.m-10 {
    margin: 10px;
}

.loader-container {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    height:100%;
}

.loader-item {
    margin: auto;
    max-height:100px;
    max-width:300px;
}

.loader-text{
    white-space: nowrap;
    text-align: center;
    position: relative;
}

._dialog_overlay {
    position: static !important;
}
