@import '~ng2-alfresco-core/styles/theming';
@import './all-theme';

@include mat-core();

$primary: mat-palette($mat-purple, 700, 500, 800);
$accent:  mat-palette($mat-green, A200, A100, A400);
$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);
@include alfresco-material-theme($theme);
