<div fxFlex fxLayout="column" class="adf-settings-container">
    <mat-checkbox [color]="'primary'" [checked]="multiselect" (change)="toggleMultiselect()" data-automation-id="multiSelection">
        Multiselection
    </mat-checkbox>
    <mat-checkbox [color]="'primary'" [checked]="testingMode" (change)="toggleTestingMode()" data-automation-id="testingMode">
        Testing Mode
    </mat-checkbox>
    <mat-form-field>
        <mat-label>Selection Mode</mat-label>
        <mat-select [(ngModel)]="selectionMode" (selectionChange)="onSelectionModeChange()">
            <mat-option *ngFor="let option of selectionModeOptions" [value]="option.value">
                {{ option.title }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
