.adf {
    &-people-groups-section {
        mat-card-title {
            font-size:18px;
            font-weight: bold;
        }
        mat-radio-group {
            margin:7px 10px;

            mat-radio-button {
                margin: 0 3px;
            }
        }

        mat-card-content .adf-preselect-value {
            width: calc(100% - 160px)
        }
    }
}
