<mat-card class="adf-people-groups-section">
    <mat-card-title>
        {{ 'APP_LAYOUT.PEOPLE_CLOUD' | translate}}
    </mat-card-title>

    <mat-card-content>
        <div class="people-control-options">
            <mat-checkbox (change)="onChangePeopleMode($event)">{{ 'PEOPLE_GROUPS_CLOUD.MULTIPLE_VALUES' | translate }}</mat-checkbox>
            <mat-form-field class="adf-preselect-value">
                <mat-label>{{ 'PEOPLE_GROUPS_CLOUD.PRESELECTED_VALUE' | translate }}</mat-label>
                <input matInput (input)="setPeoplePreselectValue($event.target.value)" />
            </mat-form-field>
        </div>
        <div>
            <adf-cloud-people [appName]="appName" [preSelectUsers]="people.preSelectedValue" [mode]="people.mode"></adf-cloud-people>
        </div>

        <div class="adf-people-list" *ngIf="canShowPeopleList()">
            <mat-list role="list">
                <mat-list-item *ngFor="let item of people.preSelectedValue" role="listitem">
                    <mat-icon mat-list-icon>person</mat-icon>
                    {{ item?.firstName }} {{ item?.lastName }}
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="adf-people-groups-section">
    <mat-card-title>
        {{ 'APP_LAYOUT.GROUPS_CLOUD' | translate}}
    </mat-card-title>

    <mat-card-content>
        <div class="groups-control-options">
            <mat-checkbox (change)="onChangeGroupsMode($event)">{{ 'PEOPLE_GROUPS_CLOUD.MULTIPLE_VALUES' | translate }}</mat-checkbox>
        </div>
        <div>
            <adf-cloud-group [mode]="groups.mode" [preSelectGroups]="groups.preSelectedValue" [appName]="appName"
                (selectGroup)="onSelectGroup($event)" (removeGroup)="onRemoveGroup($event)"></adf-cloud-group>
        </div>

        <div class="adf-group-list">
            <mat-list role="list">
                <mat-list-item *ngFor="let item of groups.selectedGroupList" role="listitem">
                    <mat-icon mat-list-icon>group</mat-icon>
                    {{ item.name }}
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
</mat-card>