 .adf {
    &-process-cloud-container {
        display: flex;
    }

    &-cloud-layout-overflow {
        width:67%;
    }

    &-process-cloud-header {
        margin-left: 10px;
        width: 25%;
    }
 }