<div fxLayout="column" fxFill fxLayoutGap="2px">
    <adf-cloud-edit-process-filter
        [appName]="appName"
        [id]="filterId"
        [filterProperties]="processFilterProperties"
        (filterChange)="onFilterChange($event)"
        (action)="onProcessFilterAction($event)">
    </adf-cloud-edit-process-filter>
    <div fxLayout="column" fxFlex fxLayoutAlign="space-between" *ngIf="editedFilter">
        <adf-cloud-process-list #processCloud
            fxFlex
            class="adf-cloud-layout-overflow"
            [appName]="editedFilter.appName"
            [initiator]="editedFilter.initiator"
            [processDefinitionId]="editedFilter.processDefinitionId"
            [processDefinitionKey]="editedFilter.processDefinitionKey"
            [id]="editedFilter.processInstanceId"
            [status]="editedFilter.state"
            [name]="editedFilter.processName"
            [sorting]="sortArray"
            [selectionMode]="selectionMode"
            [multiselect]="multiselect"
            (rowClick)="onRowClick($event)"
            (rowsSelected)="onRowsSelected($event)">
        </adf-cloud-process-list>
        <adf-pagination
            [target]="processCloud"
            (changePageSize)="onChangePageSize($event)"
            (nextPage)="resetSelectedRows()"
            (prevPage)="resetSelectedRows()">
        </adf-pagination>
        <div *ngIf="testingMode">
            Selected rows:
            <ul>
                <li *ngFor="let row of selectedRows">{{ row.id }}</li>
            </ul>
        </div>
    </div>
</div>
