<div fxLayout="column" fxFill fxLayoutGap="2px">
    <adf-cloud-edit-task-filter
        [appName]="applicationName"
        [id]="filterId"
        [filterProperties]="taskFilterProperties"
        (action)="onTaskFilterAction($event)"
        (filterChange)="onFilterChange($event)">
    </adf-cloud-edit-task-filter>
    <div fxLayout="column" fxFlex fxLayoutAlign="space-between" *ngIf="editedFilter">
        <adf-cloud-task-list #taskCloud
            [applicationName]="editedFilter.appName"
            [status]="editedFilter.state"
            [assignee]="editedFilter.assignment"
            [sorting]="sortArray"
            (rowClick)="onRowClick($event)">
        </adf-cloud-task-list>
        <adf-pagination [target]="taskCloud"
                        (changePageSize)="onChangePageSize($event)">
        </adf-pagination>
    </div>
</div>
