<div class="app-form-container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Form Data</mat-panel-title>
                <mat-panel-description>Enter values to populate the form</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Typeahead" [(ngModel)]="typeaheadFieldValue">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="DropDown" [(ngModel)]="selectFieldValue">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Radio Button" [(ngModel)]="radioButtonFieldValue">
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
        <button mat-button color="primary" (click)="onLoadButtonClicked()">Load</button>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-divider></mat-divider>
    <adf-form [showRefreshButton]="false" [form]="form" [data]="formattedData">
    </adf-form>
</div>
