<adf-form-list [forms]="formList" (row-dblclick)="onRowDblClick($any($event))">
</adf-form-list>
<div class="app-form-container" *ngIf="!isEmptyForm()">
    <adf-form #adfForm [form]="form" [data]="restoredData" [showValidationIcon]="showValidationIcon">
    </adf-form>
</div>
<button mat-button (click)="store()">Store</button>
<button mat-button (click)="restore()">Restore</button>
<section class="app-form-list-margin">
    <mat-slide-toggle [(ngModel)]="showValidationIcon">Show Validation Icon</mat-slide-toggle>
</section>
