<div class="main-content">

    <mat-tab-group>
        <mat-tab label="Form">
            <div class="app-form-container">
                <adf-form
                    [showRefreshButton]="false"
                    [form]="form"
                    [enableFixedSpacedForm]="keepPrefixedSpace"
                    (formError)="logErrors($event)">
                </adf-form>
            </div>

            <div class="app-console" #console>
                <h3>Error log:</h3>
                <p *ngFor="let error of errorFields">Error {{ error.name }} {{error.validationSummary.message |
                    translate}}</p>
            </div>
        </mat-tab>
        <mat-tab label="Editor">
            <ngx-monaco-editor
                id="adf-form-config-editor"
                class="app-form-config-editor"
                [options]="editorOptions"
                [(ngModel)]="formConfig"
                (onInit)="onInitFormEditor($event)">
            </ngx-monaco-editor>
            <div class="app-form-editor-buttons">
                <button mat-raised-button id="app-form-config-save" (click)="onSaveFormConfig()" color="primary">Save
                    form config
                </button>
                <button mat-raised-button id="app-form-config-clear" (click)="onClearFormConfig()" color="primary">Clear
                    form config
                </button>
            </div>
            <div class="app-upload-config-button">
                <a mat-raised-button color="primary" >
                    <mat-icon>file_upload</mat-icon>
                    <label for="upload-config-file">Upload JSON File</label>
                    <input
                        id="upload-config-file"
                        data-automation-id="upload-single-file"
                        type="file"
                        name="uploadConfig"
                        accept=".json"
                        (change)="onConfigAdded($event)">
                </a>
            </div>

        </mat-tab>
        <mat-tab label="Options">
            <mat-slide-toggle [checked]="keepPrefixedSpace" (change)="togglePrefixedSpace()" >
                Keep prefixed space for hidden field
            </mat-slide-toggle>
        </mat-tab>

    </mat-tab-group>
</div>



