<section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="viewer-margin mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
        <div class="viewer-download-text mdl-card__supporting-text">
            <h4>File {{nameFile}} is an unsupported format</h4>
        </div>
        <div class="center-element mdl-card__actions">
            <button id="viewer-download-button" class="viewer-margin center-element mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="download()">
                <i class="viewer-margin-cloud-download material-icons">cloud_download</i>   Download
            </button>
        </div>
    </div>
</section>
