<div *ngIf="showViewer">
    <div *ngIf="overlayMode">
        <div id="viewer-shadow-transparent" class="viewer-shadow-transparent"></div>
    </div>

    <div id="viewer-main-container" class="viewer-main-container" [ngClass]="{'viewer-overlay-view': overlayMode }" >

        <!-- Start Layout -->
        <div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">

                    <!-- File Title -->
                    <span  id="viewer-name-file" class="mdl-layout-title viewer-name-file">{{nameFile}}</span>

                    <!-- Pagination toolbar start -->
                    <div id="viewer-toolbar-pagination">
                        <div id="viewer-previous-page-button" class="left" (click)="previousPage()">
                            <i class="icon material-icons">keyboard_arrow_left</i>
                        </div>

                        <input id="viewer-pagenumber-input"  #page
                               (keyup.enter)="inputPage(page.value)" class="left" type="text" pattern="-?[0-9]*(\.[0-9]+)?" value="{{displayPage}}">
                        <span id="viewer-total-pages"  class="left">/ {{totalPages}}</span>

                        <div id="viewer-next-page-button" (click)="nextPage()"  class="left">
                            <i class="icon material-icons" >keyboard_arrow_right</i>
                        </div>
                    </div>
                    <!-- Pagination toolbar end -->

                    <span class="vertical-divider"></span>

                    <div class="mdl-layout-spacer"></div>

                    <!-- Start Navigation -->
                    <nav class="mdl-navigation">
                        <div id="viewer-toolbar-view-options">
                            <div class="button-container">
                                <button
                                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" (click)="close()">
                                    <i id="viewer-close-button" class="icon material-icons">close</i>
                                </button>
                            </div>
                        </div>
                    </nav>
                    <!-- End Navigation -->
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Thumbnail</span>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                        <div
                            class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

                            <div id="viewer-content-container">
                            <!-- Start View Switch-->
                                <div *ngIf="isPdf()"><pdf-viewer [urlFile]="urlFile" ></pdf-viewer></div>
                                <div *ngIf="isImage()" ><img src="{{urlFile}}"  id="viewer-image" class="viewer-image"/></div>
                                <div *ngIf="notSupportedExtension()"><div id="viewer-unsupported">Not Supported Download</div></div>
                            <!-- End View Switch -->
                            </div>

                            <div id="viewer-previous-file-button" class="previous-page-button" ng-hide="true">
                                <button
                                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                                    (click)="previousFile()">
                                    <i class="icon material-icons">keyboard_arrow_left</i>
                                </button>
                            </div>

                            <div id="viewer-next-file-button" class="next-page-button"  ng-hide="true">
                                <button
                                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                                    (click)="nextFile()">
                                    <i class="icon material-icons">keyboard_arrow_right</i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!-- End Layout -->
    </div>
</div>
