.button-container {
    padding: 0 40px;
}

.left {
    float: left;
}

#page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
}

.mdl-grid {
    width: 100vw;
}

.viewer-name-file {
    width: 50%;
    height: 21px;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.viewer-shadow-transparent {
    background-color: #3E3E3E;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .90;
}

.viewer-overlay-view {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.viewer-image {
    max-height: 100%;
    margin: auto;
}

.center-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewer-content-container {
    width: 100%;
    margin: auto;
}
