.button-container {
    padding: 0 40px;
}

.previous-page-button {
    top: 50%;
    left: 7%;
    position: fixed;
}

.next-page-button {
    top: 50%;
    right: 7%;
    position: fixed;
}

.left {
    float: left;
}

#loader{
    margin: auto;
    padding-top: 20px;
    width:300px;
}
#loader-text{
    width:300px;
    white-space: nowrap;
    text-align: center;
    position: relative;
    color: #000;
}

#viewer-toolbar-pagination {
    margin-left: 25%;
}

#viewer-pagenumber-input {
    width: 30px;
}

.viewer-name-file {
    width: 20%;
    height: 18px;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.viewer-shadow-transparent {
    background-color: #3E3E3E;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .90;
}

.viewer-overlay-view {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.viewer-image {
    width: 100%;
    height: 100%;
}


