<div *ngIf="taskDetails">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <span class="activiti-label">{{ 'TASK_DETAILS.LABELS.ASSIGNEE' | translate }}</span>:
            {{taskDetails.assignee.lastName }}
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <span class="activiti-label">
                {{ 'TASK_DETAILS.LABELS.DUE' | translate }}</span>:
            {{taskDetails?.dueDate ? taskDetails.dueDate : ('TASK_DETAILS.DUE.NONE' |translate) }}

        </div>
    </div>
</div>