<div class="main-container">
    <div id="comment-header" class="comments-header">
        {{'TASK_DETAILS.COMMENTS.HEADER' | translate}}({{comments?.length}})
    </div>
    <div class="comments-input-container" *ngIf="!isReadOnly()">
            <md-input-container class="full-width">
                <input mdInput id="comment-input" placeholder="{{'TASK_DETAILS.COMMENTS.ADD' | translate}}" [(ngModel)]="message" (keyup.enter)="add()" (keyup.esc)="clear()">
            </md-input-container>
    </div>

    <adf-comment-list [comments]="comments">
    </adf-comment-list>
</div>
