<div *ngIf="!taskDetails">
    <template *ngIf="noTaskDetailsTemplateComponent" ngFor [ngForOf]="[data]"
              [ngForTemplate]="noTaskDetailsTemplateComponent">
        {{ 'TASK_DETAILS.MESSAGES.NONE' | translate }}
    </template>
    <div *ngIf="!noTaskDetailsTemplateComponent">
        {{ 'TASK_DETAILS.MESSAGES.NONE' | translate }}
    </div>
</div>
<div *ngIf="taskDetails">
    <h2 class="mdl-card__title-text">{{taskDetails.name}}</h2>
    <activiti-task-header [taskDetails]="taskDetails" #activitiheader></activiti-task-header>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <activiti-people [people]="taskPeople"></activiti-people>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <activiti-comments [taskId]="taskDetails.id" #activiticomments></activiti-comments>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <activiti-checklist [taskId]="taskDetails.id" #activitichecklist></activiti-checklist>
        </div>
    </div>
    <activiti-form *ngIf="hasFormKey()" [taskId]="taskDetails.id"
                   [showTitle]="showFormTitle"
                   [showRefreshButton]="showRefreshButton"
                   [showCompleteButton]="showFormCompleteButton"
                   [showSaveButton]="showFormSaveButton"
                   [readOnly]="readOnlyForm"
                   (formSaved)='formSavedEmitter($event)'
                   (formCompleted)='formCompletedEmitter($event)'
                   (formLoaded)='formLoadedEmitter($event)'
                   (onError)='onErrorEmitter($event)'
                   (executeOutcome)='executeOutcomeEmitter($event)'
                   #activitiForm>

    </activiti-form>
</div>
