:host {
    width: 100%;
}

.activiti-label {
    font-weight: bolder;
}

.material-icons.people__icon:hover {
    color: rgb(255, 152, 0);
}

.add-people-dialog__content {
    padding: 20px 24px 2px;
}
