<span class="activiti-label mdl-badge"
      [attr.data-badge]="people?.length">{{ 'TASK_DETAILS.LABELS.PEOPLE' | translate }}</span>
<div id="addPeople" (click)="showDialog()" class="icon material-icons">add</div>
<div class="mdl-tooltip" for="addPeople">
    Add a people
</div>
<div class="menu-container" *ngIf="people?.length > 0">
    <ul class='mdl-list'>
        <li class="mdl-list__item" *ngFor="let user of people">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">face</i>
            {{user.firstName}}
            </span>
        </li>
    </ul>
</div>
<div *ngIf="people?.length === 0">
    {{ 'TASK_DETAILS.PEOPLE.NONE' | translate }}
</div>

<dialog class="mdl-dialog" #dialog>
    <h4 class="mdl-dialog__title">New User</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="people" />
            <label class="mdl-textfield__label" for="people">Name</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" (click)="add()" class="mdl-button">Add User</button>
        <button type="button" (click)="cancel()" class="mdl-button close">Cancel</button>
    </div>
</dialog>