<span class="activiti-label mdl-badge"
      [attr.data-badge]="checklist?.length">{{ 'TASK_DETAILS.LABELS.CHECKLIST' | translate }}</span>
<div id="addChecklist" (click)="showDialog()" class="icon material-icons">add</div>
<div class="mdl-tooltip" for="addChecklist">
    Add a checklist
</div>
<div class="menu-container" *ngIf="checklist?.length > 0">
    <ul class='mdl-list'>
        <li class="mdl-list__item" *ngFor="let check of checklist">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">done</i>
            {{check.name}}
            </span>
        </li>
    </ul>
</div>
<div *ngIf="checklist?.length === 0">
    {{ 'TASK_DETAILS.CHECKLIST.NONE' | translate }}
</div>

<dialog class="mdl-dialog" #dialog>
    <h4 class="mdl-dialog__title">New Task</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="taskName" id="task" />
            <label class="mdl-textfield__label" for="task">Name</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" (click)="add()" class="mdl-button">Add Checklist</button>
        <button type="button" (click)="cancel()" class="mdl-button close">Cancel</button>
    </div>
</dialog>