.mdl-list__item {
    cursor: pointer;
}

.activiti-filters__entry {
    cursor: pointer;
}

.activiti-filters__entry-icon {
    margin-right: 12px !important;
}

.activiti-filters__entry.active {
    color: rgb(68,138,255);
}

.activiti-filters__entry.active .activiti-filters__entry-icon {
    color: rgb(68,138,255);
}
