.adf-comments-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.adf-comments-header {
    padding: 10px 20px;
    font-size: 14px;
    font-family: Muli;
    font-weight: 600;
    border-bottom: 1px solid #e1e1e1;
    color: #a1a1a1;
}

.adf-comments-input-container {
    padding: 0 15px;
    width: calc(100% - 30px);
    padding-top: 8px;
    border-bottom: 1px solid #e1e1e1;
}

.adf-full-width {
    width: 100%;
}