:host {
    width: 100%;
}

.error-dialog h3 {
    margin: 16px 0;
}

.activiti-task-details__header {
    align-self: flex-end;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.activiti-task-details__action-button {
    text-transform: uppercase;
}
