:host {
    width: 100%;
}

.activiti-label {
    font-weight: bolder;
}

.material-icons:hover {
    color: rgb(255, 152, 0);
}

.mdl-tooltip {
    will-change: unset;
}

.material-icons {
    cursor: pointer;
}

.list-wrap {
    word-wrap: break-word;
    word-break: break-all;
    -moz-hyphens:auto;
    -webkit-hyphens:auto;
    -o-hyphens:auto;
    hyphens:auto;
}

.hide-long-names {
    overflow: auto;
}
