<alfresco-datatable *ngIf="!isEmpty()"
    [rows]="attachments"
    [actions]="true"
    (showRowActionsMenu)="onShowRowActionsMenu($event)"
    (executeRowAction)="onExecuteRowAction($event)">
    <data-columns>
        <data-column key="name" type="text" title="Name" class="ellipsis-cell" [sortable]="true"></data-column>
        <data-column key="created" title="Date" [sortable]="true"></data-column>
        <data-column key="createdBy" title="created By"></data-column>
    </data-columns>
</alfresco-datatable>
