.img-container {
    float: left;
    width: 40px;
    padding: 5px 10px;
    height: 100%;
}

.user-icon {
    padding: 10px 5px;
    width: 30px;
    background-color: #01bcd4;
    border-radius: 50%;
    font-family: Muli;
    font-size: 16px;
    color: #fff;
    text-align: center;
    height: 18px;
}

.user-name {
    float: left;
    width: calc(100% - 120px);
    padding: 2px 10px;
    font-family: Muli;
    font-weight: 600;
    color: #595959;
}

.message {
    float: left;
    width: calc(100% - 20px);
    padding: 2px 10px;
    font-family: Muli;
    font-style: italic;
    color: #595959;
    white-space: initial;
}

.message-time {
    float: left;
    width: calc(100% - 120px);
    padding: 2px 10px;
    font-family: Muli;
    font-size: 12px;
    color: #595959;
}

adf-datatable >>> table thead {
    display: none;
}

adf-datatable >>> table {
    border: none;
}

adf-datatable >>> table tbody td{ 
    padding: 0px!important;
    border-top: none;
}
