$themes: (
    theme-1: (bg: #269abc, color: #168aac),
    theme-2: (bg: #7da9b0, color: #6d99a0),
    theme-3: (bg: #7689ab, color: #66799b),
    theme-4: (bg: #c74e3e, color: #b73e2e),
    theme-5: (bg: #fab96c, color: #eaa95c),
    theme-6: (bg: #759d4c, color: #658d3c),
    theme-7: (bg: #b1b489, color: #a1a479),
    theme-8: (bg: #a17299, color: #916289),
    theme-9: (bg: #696c67, color: #595c57),
    theme-10: (bg: #cabb33, color: #baab23)
);

.adf-app-listgrid {
    padding: 8px;

    &-item {
        outline: none;
        padding: 8px;
        box-sizing: border-box;

        &-card {

            @for $i from 1 through 10 {
                &.theme-#{$i} {
                    $theme: map-get($themes, theme-#{$i});
                    background-color: map-get($theme, bg);
                }
            }

            outline: none;
            transition: transform 280ms cubic-bezier(.4,0,.2,1), box-shadow 280ms cubic-bezier(.4,0,.2,1);
            min-height: 200px;
            padding: 0;

            &:hover {
                box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
                cursor: pointer;
                transform: scale(1.015);
            }

            &-logo {
                position: absolute;
                right: 20px;
                top: 20px;
                padding: 16px;

                &-icon {
                    font-size: 70px;
                    width: 1em;
                    height: 1em;

                    @for $i from 1 through 10 {
                        .theme-#{$i} & {
                            $theme: map-get($themes, theme-#{$i});
                            color: map-get($theme, color);
                        }
                    }
                }
            }

            &-title {
                padding: 16px;

                h1 {
                    color: white;
                    width: 80%;
                    font-size: 24px;
                    margin: 0;
                    line-height: normal;
                }
            }

            &-subtitle {
                padding: 16px;
            }

            &-actions {
                padding: 16px;
                border-top: 1px solid rgba(0,0,0,.1);
                min-height: 64px;
                box-sizing: border-box;

                &-icon {
                    color: #e9f1f3;
                }
            }
        }
    }
}