<div class="menu-container" *ngIf="!isEmpty()">
    <md-list *ngIf="isList()" class="adf-app-list">
        <md-list-item class="adf-app-list-item" (click)="selectApp(app)" (keyup.enter)="selectApp(app)" *ngFor="let app of appList" tabindex="0" role="button" title="{{app.name}}">
            <md-icon mdListIcon>touch_app</md-icon>
            <span mdLine>{{app.name}}</span>
        </md-list-item>
    </md-list>
    <div fxLayout="row wrap" *ngIf="isGrid()" class="adf-app-listgrid">
        <div *ngFor="let app of appList"
            class="adf-app-listgrid-item"
            fxFlex="33.33333%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
                <md-card tabindex="0"
                    fxLayout="column"
                    role="button"
                    class="adf-app-listgrid-item-card"
                    title="{{app.name}}"
                    [ngClass]="[getTheme(app)]"
                    (click)="selectApp(app)"
                    (keyup.enter)="selectApp(app)">
                        <div class="adf-app-listgrid-item-card-logo">
                            <md-icon class="adf-app-listgrid-item-card-logo-icon">{{getBackgroundIcon(app)}}</md-icon>
                        </div>
                        <div md-card-title class="adf-app-listgrid-item-card-title">
                            <h1>{{app.name}}</h1>
                        </div>
                        <div md-card-subtitle class="adf-app-listgrid-item-card-subtitle" fxFlex="1 0 auto">
                            <p>{{app.description}}</p>
                        </div>
                        <div md-card-actions class="adf-app-listgrid-item-card-actions">
                            <md-icon class="adf-app-listgrid-item-card-actions-icon" *ngIf="isSelected(app.id)">done</md-icon>
                        </div>
                </md-card>
        </div>
    </div>
</div>
<div class="menu-container" *ngIf="isEmpty()">
    {{ 'APPS.NONE' | translate }}
</div>
