.assignment-header{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 6px 20px;
}

.assigment-count{
    float: left;
    padding: 10px 0px;
    font-weight: bolder;
    font-family: Muli;
    opacity: 0.54;
}

.add-people{
    float: right;
    padding: 8px;
    height: 26px;
    opacity: 0.54;
    cursor: pointer;
}

.add-people:hover{
    color: #ff9100;
}

.assignment-top-container{
    border-top: 2px solid #eee;
    margin: 8px;
    padding: 0px;
}

.assignment-container{
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    width: 100%;
}

.assignment-list-container {
    padding: 0px;
}

adf-people-list >>> alfresco-datatable >>> thead {
    display: none;
}

adf-people-list >>> alfresco-datatable >>> .people-full-name {
    font-family: 'Muli';
}

adf-people-list >>> alfresco-datatable >>> .people-email {
    font-family: 'Muli';
    opacity: 0.54;
}

adf-people-list >>> alfresco-datatable >>> .people-edit-label {
    font-family: 'Muli';
}

adf-people-list >>> alfresco-datatable >>> .people-pic {
    background: #ffc800;
    padding: 12px 10px;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    font-family: Muli;
    text-transform: uppercase
}

adf-people-list >>> alfresco-datatable >>> td.mdl-data-table__cell--non-numeric.non-selectable.data-cell{
    padding: 10px;
}
