:host {
    width: 100%;
}

.activiti-label {
    font-weight: bolder;
}

.material-icons:hover {
    color: rgb(255, 152, 0);
}

.mdl-tooltip {
    will-change: unset;
}

.material-icons {
    cursor: pointer;
}

.mat-input-container {
    width: 100%;
}
