<adf-datatable
    [rows]="comments"
    (rowClick)="selectComment($event)" *ngIf="hasComments()">

    <data-columns>
        <data-column key="createdBy">
            <ng-template let-entry="$implicit">
                <div id="comment-user-icon"
                class="adf-comment-img-container">
                    <div
                        *ngIf="!entry.row.obj.createdBy.userImage" class="adf-comment-user-icon">
                            {{getUserShortName(entry.row.obj.createdBy)}}</div>
                    <div>
                        <img *ngIf="entry.row.obj.createdBy.userImage" class="adf-people-img"
                            [src]="entry.row.obj.createdBy.userImage"
                            (error)="onErrorImageLoad(entry.row.obj.createdBy)"/>
                    </div>
                </div>
            </ng-template>
        </data-column>
        <data-column key="message">
            <ng-template let-entry="$implicit">
                <div class="adf-comment-contents">
                    <div id="comment-user" class="adf-comment-user-name">
                        {{entry.row.obj.createdBy?.firstName}} {{entry.row.obj.createdBy?.lastName}}
                    </div>
                    <div id="comment-message" class="adf-comment-message">
                        {{entry.row.obj.message}}
                    </div>
                    <div id="comment-time" class="adf-comment-message-time">
                        {{transformDate(entry.row.obj.created)}}
                    </div>
                </div>
            </ng-template>
        </data-column>
    </data-columns>

</adf-datatable>
