<div class="adf-comments-container">
    <div id="comment-header" class="adf-comments-header">
        {{'TASK_DETAILS.COMMENTS.HEADER' | translate}}({{comments?.length}})
    </div>
    <div class="adf-comments-input-container" *ngIf="!isReadOnly()">
            <md-input-container class="adf-full-width">
                <input mdInput id="comment-input" placeholder="{{'TASK_DETAILS.COMMENTS.ADD' | translate}}" [(ngModel)]="message" (keyup.enter)="add()" (keyup.esc)="clear()">
            </md-input-container>
    </div>

    <div *ngIf="comments.length > 0">
        <adf-comment-list [comments]="comments">
        </adf-comment-list>
    </div>
</div>
