<div class="mdl-grid mdl-shadow--2dp assignment-top-container">
    <div class="assignment-header">
        <div *ngIf="hasPeople()" class="assigment-count" id="people-title">
            {{ 'TASK_DETAILS.LABELS.PEOPLE' | translate }} {{ ' (' + people.length + ')' }}
        </div>
        <div *ngIf="!hasPeople()" class="assigment-count" id="no-people-label">
            {{ 'TASK_DETAILS.PEOPLE.NONE' | translate }}
        </div>
        <div *ngIf="isEditMode()" class="add-people" (click)="onAddAssignement()">
            <i class="material-icons">person_add</i>
        </div>
    </div>
    <div class="assignment-container" *ngIf="showAssignment">
        <adf-people-search
        (searchPeople)="searchUser($event)"
        (success)="involveUser($event)"
        (closeSearch)="onCloseSearch()"
        [results]="peopleSearch$">
            <header-title>{{ 'TASK_DETAILS.LABELS.ADD_PEOPLE' | translate }}</header-title>
            <action-button-label>{{ 'PEOPLE.ADD_USER' | translate }}</action-button-label>
        </adf-people-search>
    </div>
    <div class="assignment-list-container" id="assignment-people-list" *ngIf="hasPeople()">
        <adf-people-list
        [users]="people"
        [actions]="isEditMode()"
        (clickAction)="onClickAction($event)">
            <data-columns>
                <data-column key="firstName">
                    <ng-template let-entry="$implicit">
                        <div *ngIf="!entry.row.obj.userImage" class="people-pic">
                            {{getInitialUserName(entry.row.obj.firstName, entry.row.obj.lastName)}}</div>
                        <div>
                            <img *ngIf="entry.row.obj.userImage" class="people-img"
                                [src]="entry.row.obj.userImage"
                                (error)="onErrorImageLoad(entry.row.obj)"/>
                        </div>
                    </ng-template>
                </data-column>
                <data-column key="email" class="full-width">
                    <ng-template let-entry="$implicit">
                        <div class="people-full-name">{{ getDisplayUser(entry.row.obj.firstName, entry.row.obj.lastName, ' ') }}</div>
                        <div class="people-email">{{ entry.row.obj.email }}</div>
                        <div class="people-edit-label">can edit</div>
                    </ng-template>
                </data-column>
            </data-columns>
        </adf-people-list>
    </div>
</div>
