@mixin mat-people-theme($theme) {
    $primary: map-get($theme, primary);

    .assignment-header {
        border-bottom: 1px solid #eee;
        padding: 6px 20px;
    }

    .assigment-count {
        float: left;
        padding: 10px 0px;
        font-weight: bolder;
        opacity: 0.54;
    }

    .add-people {
        float: right;
        padding: 8px;
        height: 26px;
        opacity: 0.54;
        cursor: pointer;
        &:hover {
            color: mat-color($primary);
        }
    }

    .assignment-top-container.mat-card {
        border-top: 2px solid #eee;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
    }

    .assignment-top-container-content {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        flex: 1 0 auto;
        max-width: 100%;
    }

    .assignment-container {
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
        max-width: 100%;
    }

    .assignment-list-container {
        padding: 0px;
    }

    adf-people-list ::ng-deep adf-datatable ::ng-deep {
        thead {
            display: none;
        }
        .people-email {
            opacity: 0.54;
        }
        .people-pic {
            background: mat-color($primary);
            width: 30px;
            padding: 10px 5px;
            border-radius: 100px;
            color: #fff;
            text-align: center;
            font-weight: bolder;
            font-size: 18px;
            text-transform: uppercase;
            vertical-align: text-bottom;
        }
    }

    .people-img {
        border-radius: 90%;
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }
}
