:host {
    width: 100%;
}

.error-dialog h3 {
    margin: 16px 0;
}

.activiti-task-details__header {
    align-self: flex-end;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    margin: 0 0 8px 0;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.activiti-task-details__action-button {
    text-transform: uppercase;
}

adf-people >>> .assignment-top-container{
    background-color: #fff;
}

.assignment-container {
    background: #fff;
    border: 1px solid #e1e1e1;
    padding: 10px 20px;
}

adf-task-header.assign-edit-view >>> adf-card-view >>> .adf-property[data-automation-id="header-assignee"] {
    display: none;
}
