alfresco-datatable >>> .column-header {
    color: #232323;
    font-size: 15px;
}

alfresco-datatable >>> .data-cell {
    cursor: pointer !important;
}

alfresco-datatable >>> .cell-value{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.adf-task-list-loading-margin {
    margin-left: calc((100% - 100px) / 2);
    margin-right: calc((100% - 100px) / 2);
}

.no-content-message {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    opacity: 0.54;
    color: #000;
}
