<div *ngIf="!requestNode">{{ 'TASK_FILTERS.MESSAGES.NONE' | translate }}</div>
<div *ngIf="requestNode">
    <div>
        <adf-datatable
            [data]="data"
            [loading]="isLoading"
            [multiselect]="multiselect"
            [selectionMode]="selectionMode"
            (row-select)="onRowSelect($event)"
            (row-unselect)="onRowUnselect($event)"
            (rowClick)="onRowClick($event)"
            (row-keyup)="onRowKeyUp($event)">
            <loading-content-template>
                <ng-template>
                    <!--Add your custom loading template here-->
                    <md-progress-spinner
                    class="adf-task-list-loading-margin"
                    [color]="'primary'"
                    [mode]="'indeterminate'">
                    </md-progress-spinner>
                </ng-template>
            </loading-content-template>
            <no-content-template>
                <!--Add your custom empty template here-->
                <ng-template>
                    <div class="no-content-message">
                        {{ 'TASK_LIST.MESSAGES.NONE' | translate }}
                    </div>
                </ng-template>
            </no-content-template>
        </adf-datatable>
    </div>
</div>
