.mdl-list__item {
    cursor: pointer;
}

.adf {

    &-filters__entry {
        cursor: pointer;
    }

    &-filters__entry-icon {
        margin-right: 12px !important;
    }

    &-filters__entry {
        &.active {
            color: rgb(68, 138, 255);
        }
        &:hover {
            opacity: 0.8;
        }
        &.active .adf-filters__entry-icon {
            color: rgb(68, 138, 255);
        }
    }

}
