<div class="adf-panel adf-panel-default" [ngClass]="{'adf-panel-open': isOpen}">
    <div class="adf-panel-heading" [ngClass]="{'adf-panel-heading-selected': isSelected}">
        <div (click)="onHeadingSelect()">
            <div id="heading-icon" *ngIf="hasHeadingIcon()" class="adf-panel-heading-icon">
                <i class="material-icons">{{headingIcon}}</i>
            </div>
            <div id="heading-text" class="adf-panel-heading-text">{{heading}}</div>
        </div>
        <div id="accordion-button" *ngIf="!isGroupContentEmpty()" class="adf-panel-heading-toggle" (click)="toggleOpen($event)">
            <i class="material-icons">{{getAccordionIcon()}}</i>
        </div>
    </div>
    <div class="adf-panel-collapse" [hidden]="!isOpen">
        <div class="adf-panel-body" #contentWrapper>
            <ng-content></ng-content>
        </div>
    </div>
</div>
