.adf-panel-heading {
    float: left;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    width: 100%;
}

.adf-panel-heading-selected {
    color: #448aff;
}

.adf-panel-heading-icon {
    float: left;
}

.adf-panel-heading-text {
    float: left;
    padding-left: 20px;
    padding-top: 4px;
}

.adf-panel-heading-toggle {
    float: right;
    cursor: pointer;
}

.adf-panel-heading-toggle:hover {
    opacity: 0.4;
}
