router-outlet[name="overlay"] + * {
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 425px) {
    adf-content-node-selector {
        .adf-content-node-selector-content-list {
            .adf-data-table-cell {
                display: none;
            }

            .adf-data-table-cell:first-child,
            .adf-data-table-cell:nth-child(2) {
                display: table-cell;
            }
        }
    }
}
