<div class="adf-property-list">
    <ng-container *ngFor="let property of properties">
        <ng-container [ngSwitch]="property.type">
            <adf-card-view-dateitem *ngSwitchCase="'date'" [property]="property" [attr.data-automation-id]="'header-' + property.key" class="adf-property"></adf-card-view-dateitem>
            <adf-card-view-textitem *ngSwitchDefault [property]="property" [attr.data-automation-id]="'header-' + property.key" class="adf-property"></adf-card-view-textitem>
        </ng-container>
    </ng-container>
</div>
