<div class="adf-property-label">{{ property.label }}</div>
<div class="adf-property-value">
    <span *ngIf="!isEditble()">
        <span [attr.data-automation-id]="'card-dateitem-' + property.key">{{ property.displayValue }}</span>
    </span>
    <span *ngIf="isEditble()" class="adf-dateitem-editable">
        <input class="adf-invisible-date-input" [mdDatepicker]="picker" value="{{property.value}}">
        <span
            class="adf-datepicker-toggle"
            [attr.data-automation-id]="'datepicker-label-toggle-' + property.key"
            (click)="showDatePicker($event)">{{ property.displayValue }}
        </span>
        <button
            [attr.data-automation-id]="'datepickertoggle-' + property.key"
            [mdDatepickerToggle]="picker">
        </button>
        <md-datepicker #picker
            [attr.data-automation-id]="'datepicker-' + property.key"
            (selectedChanged)="dateChanged($event)"
            [startAt]="property.value"
            [touchUi]="true">
        </md-datepicker>
    </span>
</div>
