@import 'theming';

.#{$ADF} {
    &-property-list {
        display: table;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    &-property {
        display: table-row;
    }

    &-property /deep/ &-property-label {
        display: table-cell;
        min-width: 100px;
        padding-right: 30px;
        word-wrap: break-word;
        color: $alfresco-gray-label;
        vertical-align: top;
        padding-bottom: 20px;
    }

    &-property /deep/ &-property-value {
        width: 100%;
        display: table-cell;
        color: rgb(101, 101, 101);
        vertical-align: top;
        padding-bottom: 20px;
    }
}
