<div class="adf-property-label">{{ property.label }}</div>
<div class="adf-property-value">
    <span *ngIf="!isEditble()">
        <span *ngIf="!isClickable(); else elseBlock" [attr.data-automation-id]="'card-textitem-value-' + property.key">{{ property.displayValue }}</span>
        <ng-template #elseBlock>
            <span class="adf-textitem-clickable-value" (click)="clicked()" [attr.data-automation-id]="'card-textitem-value-' + property.key">{{ property.displayValue }}</span>
        </ng-template>
    </span>
    <span *ngIf="isEditble()">
        <div *ngIf="!inEdit" (click)="setEditMode(true)" class="adf-textitem-readonly" [attr.data-automation-id]="'card-textitem-edit-toggle-' + property.key">
            <span [attr.data-automation-id]="'card-textitem-value-' + property.key">{{ property.displayValue }}</span>
            <md-icon [attr.data-automation-id]="'card-textitem-edit-icon-' + property.key" class="adf-textitem-icon">create</md-icon>
        </div>
        <div *ngIf="inEdit" class="adf-textitem-editable">
            <md-input-container floatPlaceholder="never" class="adf-input-container">
                <input *ngIf="!property.multiline" #editorInput
                    mdInput
                    class="adf-input"
                    [placeholder]="property.default"
                    [(ngModel)]="editedValue"
                    [attr.data-automation-id]="'card-textitem-editinput-' + property.key">
                <textarea *ngIf="property.multiline" #editorInput
                    mdInput
                    mdTextareaAutosize
                    mdAutosizeMaxRows="1"
                    mdAutosizeMaxRows="5"
                    class="adf-textarea"
                    [placeholder]="property.default"
                    [(ngModel)]="editedValue"
                    [attr.data-automation-id]="'card-textitem-edittextarea-' + property.key"></textarea>
            </md-input-container>
            <md-icon
                class="adf-textitem-icon adf-update-icon"
                (click)="update()"
                [attr.data-automation-id]="'card-textitem-update-' + property.key">done</md-icon>
            <md-icon
                class="adf-textitem-icon adf-reset-icon"
                (click)="reset()"
                [attr.data-automation-id]="'card-textitem-reset-' + property.key">clear</md-icon>
        </div>
    </span>
</div>
