
@mixin mat-container-widget-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .adf {
        &-field-list {
            padding: 0;
            list-style-type: none;
            width: 100%;
            height: 100%;
        }

        .container-widget__header-text {
            border-bottom: 1px solid rgba(0, 0, 0, 0.87);
            margin-left: 10px;
            margin-right: 10px;
            cursor: default;
            user-select: none;
            -webkit-user-select: none;
            /* Chrome/Safari/Opera */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* IE/Edge */
            -webkit-touch-callout: none;
            /* iOS Safari */
            &.collapsible {
                cursor: pointer;
            }
        }
    }

    container-widget {
        .grid-list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -1%;
            margin-right: -1%;
        }

        .grid-list-item {
            flex-grow: 1;
            box-sizing: border-box;
            padding-left: 1%;
            padding-right: 1%;
        }

        md-input-container {
            width: 100%;
        }

        .mat-input-placeholder-wrapper {
            top: 0 !important;
        }

        .mat-input-placeholder {
            top: 2.2em !important;
        }

        .mat-focused {

            .mat-input-placeholder-wrapper {
                display: none;
            }

            label {
                transform: scaleX(1);
                transition: transform 150ms linear,
                background-color $swift-ease-in-duration $swift-ease-in-timing-function;
                color: mat-color($primary);
            }

            .mat-input-prefix {
                color: mat-color($primary);
            }
        }

        .mat-grid-tile {
            overflow: visible;
        }

    }
}

