.activiti-form-container {
    width: 100%;
    min-height: 100px;
    overflow: visible;
}

.activiti-form-container > .mdl-card__media {
    background-color: #fff;
}

.activiti-form-debug-container {
    padding: 10px;
}

.activiti-form-debug-container .debug-toggle-text {
    padding-left: 15px;
    cursor: pointer;
}

.activiti-form-debug-container .debug-toggle-text:hover {
    font-weight: bold;
}

.activiti-form-reload-button {
    position: absolute;
    right: 0;
    top: 0;
}

.activiti-form-hide-button {
    display: none;
}

.activiti-task-title {
    text-align: center
}
