<div *ngIf="hasForm()">
    <md-card>
        <md-card-header>
            <md-card-title>
                <md-icon>{{ form.isValid ? 'event_available' : 'event_busy' }}</md-icon>
                <h2 *ngIf="isTitleEnabled()" class="mdl-card__title-text">{{form.taskName}}</h2>
            </md-card-title>
        </md-card-header>
        <md-card-content>
            <div *ngIf="form.hasTabs()">
                <tabs-widget [tabs]="form.tabs" (formTabChanged)="checkVisibility($event);"></tabs-widget>
            </div>

            <div *ngIf="!form.hasTabs() && form.hasFields()">
                <div *ngFor="let field of form.fields">
                    <form-field [field]="field.field"></form-field>
                </div>
            </div>
        </md-card-content>
        <md-card-content *ngIf="showOutcomeButtons && form.hasOutcomes()" #outcomesContainer>
            <button *ngFor="let outcome of form.outcomes"
                    md-button
                    [disabled]="!isOutcomeButtonEnabled(outcome)"
                    [class.mdl-button--colored]="!outcome.isSystem"
                    [class.adf-form-hide-button]="!isOutcomeButtonVisible(outcome, form.readOnly)"
                    (click)="onOutcomeClicked(outcome, $event)">
                {{outcome.name}}
            </button>
        </md-card-content>
        <md-card-actions *ngIf="showRefreshButton">
            <button md-button
                    (click)="onRefreshClicked()">
                <md-icon>refresh</md-icon>
            </button>
        </md-card-actions>
    </md-card>
</div>
