npm-debug.log
.idea
.npmrc

/.editorconfig
/*.json
/karma-test-shim.js
/karma.conf.js
/gulpfile.ts
/.npmignore
/.happypack

**/*.html
**/*.js
**/*.ts
!**/*.d.ts
!**/adf-content-services.js

**/*.scss
**/*.css
!**/_theming.scss

coverage/
demo/
dist/
node_modules
typings/
fonts/
i18n/
assets/
