@import './app/components/app-layout/app-layout.component.scss';

//@import '@adf/content-services/styles/index';
//@import '@adf/process-services/styles/index';

@import 'ng2-alfresco-core/styles/theming';
@import 'ng2-alfresco-core/styles/index';
@import 'ng2-activiti-tasklist/styles/index';
@import 'ng2-alfresco-datatable/styles/index';
@import 'ng2-alfresco-login/styles/index';
@import 'ng2-alfresco-userinfo/styles/index';

@import '~@angular/material/theming';

@include mat-core($alfresco-typography);

$primary: mat-palette($alfresco-accent-orange);
$accent:  mat-palette($alfresco-accent-purple);
$warn:    mat-palette($alfresco-warn);
$theme:   mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

@include adf-app-layout-theme($theme);
@include alfresco-core-theme($theme);
@include adf-tasklist-theme($theme);
@include alfresco-datatable-theme($theme);
@include alfresco-login-theme($theme);
@include alfresco-userinfo-theme($theme);

//@include adf-content-services-theme($theme);
//@include adf-process-services-theme($theme);
