/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

.mat-form-field input.mat-input-element {
  line-height: normal;
}

body, html {
  height: 100%;
  font-family: 'Muli', "Helvetica", "Arial", sans-serif !important;
}

body {
  margin: 0;
}
