:host {
    position: absolute;
    height: 100%;
    width: 100%;
}

:host .show {
    display: block !important;
}

:host .hide {
    display: none !important;
}

:host .icon-inline {
    position: absolute;
    display: block;
    top: 31%;
    left: 82%;
    width: 30px;
    overflow: hidden;
}

:host .content-layout {
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 0;
}

:host .login-card-wide.mdl-card {
    align-self: center;
    margin: auto;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

:host .error {
    color: red;
    padding: 8px;
    margin-bottom: 4px;
    font-size: 13px;
}

:host .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

:host .alfresco-logo {
    margin-top: 5px;
}

:host .alfresco-logo img {
    max-height: 43px;
}

:host .mdl-button--raised.mdl-button--colored {
    width: 98%;
    height: 36px;
    border-radius: 4px;
}

:host .mdl-button--raised.mdl-button--colored {
    color: rgb(255, 255, 255);
}

:host .login-card-wide > .mdl-card__menu {
    color: #000;
}

:host .mdl-card__title-text {
    color: #818184;
}

:host .mdl-card__link a {
    opacity: 0.87;
    font-size: 14px;
    color: #ff9100;
}

:host .login-action {
    margin: 20px;
    margin-bottom: 50px;
}

:host .login-action-left {
    float: left;
    margin-left: 10px;
}

:host .login-action-right {
    float: right;
    margin-right: 10px;
}

.ng-invalid.ng-invalid.ng-touched {
    border-color: rgb(222, 50, 38);
    box-shadow: none;
}

.ng-invalid.ng-invalid.ng-touched + label {
    color: rgb(222, 50, 38);
    font-size: 12px;
}

.ng-invalid.ng-invalid.ng-touched + label:after {
    background-color: rgb(222, 50, 38);
}

.ng-invalid.ng-invalid.ng-touched ~ .mdl-tooltip--validation {
    background-color: transparent;
    color: red;
    font-size: 12px;
}

:host .is-active {
    background-color: transparent;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.33;
    color: #ff1744;
}

.ng-invalid.ng-touched:not(:focus) + label::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */

    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */

    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */

    text-rendering: optimizeLegibility;
    /* Support for Firefox. */

    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */

    font-feature-settings: 'liga';
    content: "warning";
    position: absolute;
    right: 0;
    bottom: 20px;
}

.ng-valid.ng-touched:not(:focus) + label::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */

    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */

    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */

    text-rendering: optimizeLegibility;
    /* Support for Firefox. */

    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */

    font-feature-settings: 'liga';
    content: "done";
    position: absolute;
    right: 0;
    bottom: 20px;
}

.alfresco-login__password {
    padding-right: 25px;
}

.alfresco-login__password-icon {
    float: right;
    margin-right: -30px;
    margin-top: 14px;
    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.alfresco-login__container {
    background-size: cover;
    background-position: center;
}

.alfresco-login__validation {
    background-color: transparent;
    color: red;
    font-size: 12px;
}

.alfresco-login__error {
    color: #d50000;
    position: absolute;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.alfresco-login__message {
    color: blue;
}

.adf-full-width {
    width: 100%;
}
