:host {
    position: absolute;
    height: 100%;
    width: 100%;
}

:host .show {
    display: block !important;
}

:host .hide {
    display: none !important;
}

:host .icon-inline {
    position: absolute;
    display: block;
    top: 31%;
    left: 82%;
    width: 30px;
    overflow: hidden;
}

:host .content-layout {
    background-size: cover;
    background-position: center;
    min-height: 100%;
    padding: 0;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

:host .login-card-wide.mdl-card {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    width: 450px;
    min-height: 450px;
    padding: 21px 64px 34px 64px;
    box-sizing: border-box;
}

:host .error {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: flex-start;
    -moz-box-pack: flex-start;
    box-pack: flex-start;
    justify-content: flex-start;

    color: red;
    padding: 0px;
    margin-bottom: 4px;
    font-size: 13px;
}

:host .error .error-icon {
    margin-right: 10px;
}

:host .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

:host .alfresco-logo {
    padding: 24px 16px 24px 16px;
}

:host .alfresco-logo img {
    max-height: 43px;
}

:host .mdl-button--raised.mdl-button--colored {
    width: 100%;
    height: 36px;
    line-height: 38px;
    border-radius: 4px;
    box-shadow: none;
}

.login-button-label {
    color: rgb(255, 255, 255);
}

:host .mdl-button--raised.mdl-button--colored[disabled] {
    background-color: rgba(0, 0, 0, 0.07);
}

:host .mdl-button--raised.mdl-button--colored[disabled] .login-button-label {
    color: rgb(175, 175, 175);
}

:host .login-card-wide > .mdl-card__menu {
    color: #000;
}

:host .mdl-card__title-text {
    color: #818184;
}

:host .mdl-card__link a {
    opacity: 0.87;
    font-size: 14px;
    color: #ff9100;
}

:host .login-controls {
    padding: 0 0 26px 0;
    overflow: visible;
    width: 100%;
}

:host .login-action {
    margin-top: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    box-pack: space-between;
    justify-content: space-between;
}

:host .login-action-left a,
:host .login-action-right {
    text-decoration: none;
}

/* Known issue in angular material design module in betas */
:host >>> .rememberme-cb label > div {
    margin-right: 8px;
}

:host .mat-input-underline .mat-input-ripple {
    background-color: #ffab40;
}

.ng-invalid.ng-invalid.ng-touched {
    border-color: rgb(222, 50, 38);
    box-shadow: none;
}

.ng-invalid.ng-invalid.ng-touched + label {
    color: rgb(222, 50, 38);
    font-size: 12px;
}

.ng-invalid.ng-invalid.ng-touched + label:after {
    background-color: rgb(222, 50, 38);
}

.ng-invalid.ng-invalid.ng-touched ~ .mdl-tooltip--validation {
    background-color: transparent;
    color: red;
    font-size: 12px;
}

:host .is-active {
    background-color: transparent;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.33;
    color: #ff1744;
}

:host .copyright {
    width: 450px;
    text-align: center;
    padding-top: 16px;
    font-size: 12px;
    color: #000;
    opacity: 0.54;
}

.ng-invalid.ng-touched:not(:focus) + label::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */

    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */

    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */

    text-rendering: optimizeLegibility;
    /* Support for Firefox. */

    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */

    font-feature-settings: 'liga';
    content: "warning";
    position: absolute;
    right: 0;
    bottom: 20px;
}

.ng-valid.ng-touched:not(:focus) + label::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */

    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */

    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */

    text-rendering: optimizeLegibility;
    /* Support for Firefox. */

    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */

    font-feature-settings: 'liga';
    content: "done";
    position: absolute;
    right: 0;
    bottom: 20px;
}

.mat-input-container .alfresco-login__password-icon.mat-icon {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
    top: -6px;
    height: 20px;
}

.adf-login__field >>> .mat-input-wrapper {
    margin: 1em 0 0 0;
    font-size: 16px;
}

.adf-login__field >>> input {
    color: rgba(0, 0, 0, 0.87);
}

.adf-login__field .mat-focused >>> .mat-input-placeholder {
    color: rgba(0, 0, 0, 0.38);
}

.alfresco-login__container {
    background-size: cover;
    background-position: center;
}

.alfresco-login__validation {
    background-color: transparent;
    color: red;
    font-size: 12px;
}

.alfresco-login__error {
    color: #d50000;
    position: absolute;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.alfresco-login__message {
    color: blue;
}

.adf-full-width {
    width: 100%;
}

.adf-login__remember-me {
    padding-top: 22px;
}

.adf-login__remember-me >>> .mat-checkbox-label {
    color: #000000;
    opacity: 0.87;
}

.adf-login__field {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 18px;
}
