:host {
    position: absolute;
    height: 100%;
    width: 100%;
}

:host .show {
    display: block !important;
}

:host .hide {
    display: none !important;
}

:host .icon-inline {
    position: absolute;
    display: block;
    top: 31%;
    left: 82%;
    width: 30px;
    overflow: hidden;
}

:host .content-layout {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTI4MHB4Ig0KCSBoZWlnaHQ9IjEyODBweCIgdmlld0JveD0iMCAwIDEyODAgMTI4MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTI4MCAxMjgwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGlkPSJCIj4NCgk8Zz4NCgkJPGRlZnM+DQoJCQk8cmVjdCBpZD0iU1ZHSURfMV8iIHg9Ii01MTIwIiB5PSIwIiB3aWR0aD0iMjU2MCIgaGVpZ2h0PSIyNTYwIi8+DQoJCTwvZGVmcz4NCgkJPGNsaXBQYXRoIGlkPSJTVkdJRF8yXyI+DQoJCQk8dXNlIHhsaW5rOmhyZWY9IiNTVkdJRF8xXyIgIG92ZXJmbG93PSJ2aXNpYmxlIi8+DQoJCTwvY2xpcFBhdGg+DQoJCTxnIGNsaXAtcGF0aD0idXJsKCNTVkdJRF8yXykiPg0KCQkJPGNpcmNsZSBvcGFjaXR5PSIwLjgiIGZpbGw9IiM4QkMzNEEiIGN4PSItNTEwNCIgY3k9IjYyNzIiIHI9IjUxMjAiLz4NCgkJCTxjaXJjbGUgb3BhY2l0eT0iMC42IiBmaWxsPSIjMDNBOUY0IiBjeD0iLTEwMjQiIGN5PSIyMDQ4IiByPSIyNTYwIi8+DQoJCTwvZz4NCgk8L2c+DQoJPHJlY3QgeT0iMCIgZmlsbD0iI0ZBRkFGQSIgd2lkdGg9IjEyODAiIGhlaWdodD0iMTI4MCIvPg0KCTxnPg0KCQk8ZGVmcz4NCgkJCTxyZWN0IGlkPSJTVkdJRF8zXyIgd2lkdGg9IjEyODAiIGhlaWdodD0iMTI4MCIvPg0KCQk8L2RlZnM+DQoJCTxjbGlwUGF0aCBpZD0iU1ZHSURfNF8iPg0KCQkJPHVzZSB4bGluazpocmVmPSIjU1ZHSURfM18iICBvdmVyZmxvdz0idmlzaWJsZSIvPg0KCQk8L2NsaXBQYXRoPg0KCQk8ZyBjbGlwLXBhdGg9InVybCgjU1ZHSURfNF8pIj4NCgkJCTxjaXJjbGUgb3BhY2l0eT0iMC44IiBmaWxsPSIjOEJDMzRBIiBjeD0iOCIgY3k9IjMxMzYiIHI9IjI1NjAiLz4NCgkJCTxjaXJjbGUgb3BhY2l0eT0iMC42IiBmaWxsPSIjMDNBOUY0IiBjeD0iMjA0OCIgY3k9IjEwMjQiIHI9IjEyODAiLz4NCgkJCTxjaXJjbGUgb3BhY2l0eT0iMC44IiBmaWxsPSIjRkY5ODAwIiBjeD0iMCIgY3k9Ii0xMjgiIHI9Ijk2MCIvPg0KCQkJPGNpcmNsZSBvcGFjaXR5PSIwLjMiIGZpbGw9IiNGRkQ2MDAiIGN4PSItMTkyIiBjeT0iNjQwIiByPSI2NDAiLz4NCgkJPC9nPg0KCTwvZz4NCjwvZz4NCjxnIGlkPSJMYXllcl8yIiBkaXNwbGF5PSJub25lIj4NCjwvZz4NCjwvc3ZnPg0K') center / cover;
    height: 100%;
    padding: 0;
}

:host .login-card-wide.mdl-card {
    margin: auto;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

:host .error {
    color: red;
    padding: 8px;
    margin-bottom: 4px;
    font-size: 13px;
}

:host .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

:host .alfresco-logo {
    margin-top: 5px;
}

:host .alfresco-logo > img {
    max-height: 43px;
}

:host .mdl-button--raised.mdl-button--colored {
    width: 98%;
    height: 36px;
    border-radius: 4px;
}

:host .mdl-button--raised.mdl-button--colored {
    color: rgb(255, 255, 255);
}

:host .login-card-wide > .mdl-card__menu {
    color: #000;
}

:host .mdl-card__title-text {
    color: #818184;
}

:host .mdl-card__link a {
    opacity: 0.87;
    font-size: 14px;
    color: #ff9100;
}

:host .login-action {
    margin: 20px;
    margin-bottom: 50px;
}

:host .login-action-left {
    float: left;
    margin-left: 10px;
}

:host .login-action-right {
    float: right;
    margin-right: 10px;
}

.ng-invalid.ng-invalid.ng-touched {
    border-color: rgb(222, 50, 38);
    box-shadow: none;
}

.ng-invalid.ng-invalid.ng-touched + label {
    color: rgb(222, 50, 38);
    font-size: 12px;
}

.ng-invalid.ng-invalid.ng-touched + label:after {
    background-color: rgb(222, 50, 38);
}

.ng-invalid.ng-invalid.ng-touched ~ .mdl-tooltip--validation {
    background-color: transparent;
    color: red;
    font-size: 12px;
}

:host .is-active {
    background-color: transparent;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.33;
    color: #ff1744;
}

.ng-invalid.ng-touched:not(:focus) + label::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */

    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */

    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */

    text-rendering: optimizeLegibility;
    /* Support for Firefox. */

    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */

    font-feature-settings: 'liga';
    content: "warning";
    position: absolute;
    right: 0;
    bottom: 20px;
}

.ng-valid.ng-touched:not(:focus) + label::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */

    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */

    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */

    text-rendering: optimizeLegibility;
    /* Support for Firefox. */

    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */

    font-feature-settings: 'liga';
    content: "done";
    position: absolute;
    right: 0;
    bottom: 20px;
}
