.app-process-list-inputs {
    margin: 20px auto 0;
    max-width: 1200px;

    & mat-form-field {
        margin: 20px 5px;
        width: calc(100% * (1 / 4) - 10px);
    }
}

.app-reset-button {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.app-process-list-error-message {
    color: var(--theme-warn-color);
    text-align: center;
}
