.process-list-inputs {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}

.adf-reset-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.process-list-error-message {
    color: red;
    text-align: center;
}
