<div class="process-list-inputs">

    <form [formGroup]="processListForm">
        <mat-form-field>
            <mat-label>App Id</mat-label>
            <input
                matInput
                class="form-control"
                [formControl]="processAppId">
            <mat-error *ngIf="processAppId.hasError('required')">
                {{ 'PROCESS_LIST_DEMO.APP_ID_REQUIRED_ERROR' | translate }}
            </mat-error>
            <mat-error *ngIf="processAppId.hasError('pattern')">
                {{ 'PROCESS_LIST_DEMO.APP_ID_TYPE_ERROR' | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Process Name</mat-label>
            <input
                matInput
                class="form-control"
                [formControl]="processName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>ProcessDefinitionId</mat-label>
            <input
                matInput
                class="form-control"
                [formControl]="processDefinitionId">
            <mat-hint>SimpleProcess:1:2</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select
                class="form-control"
                [formControl]="processState">
                <mat-option *ngFor="let stateOption of stateOptions" [value]="stateOption.value">{{ stateOption.title }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sort</mat-label>
            <mat-select
                class="form-control"
                [formControl]="processSort">
                <mat-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">{{ sortOption.title }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="adf-reset-button">
            <button mat-raised-button (click)="resetProcessForm()">Reset</button>
        </div>
    </form>
</div>

<div>
    <adf-process-instance-list
        #processList
        [appId]="appId"
        [processDefinitionKey]="processDefId"
        [state]="state"
        [sort]="sort"
        [name]="name">
    </adf-process-instance-list>

    <adf-pagination
        [target]="processList">
    </adf-pagination>
</div>

