@import 'theming';
@import '../form';

.adf-hyperlink-widget {
    padding: 0.4375em 0;
    border-top: 0.84375em solid transparent;

    .focus {
        color: mat-color($primary);
    }

    a {
        color: mat-color($primary);
    }
}
