@import '../form';

.adf {
    &-dropdown-widget {
        width: 100%;
        margin-top: 13px;

        .adf-select{
            padding-top: 0 !important;
            width: 100%;
        }

        .mat-select-value-text{
            font-size: 14px;
        }

        &-select {
            width: 100%;
        }

        &-dropdown-required-message .adf-error-text-container{
            margin-top: 1px !important;
        }

    }

}
