<table
    *ngIf="data"
    class="full-width adf-data-table">

    <thead *ngIf="showHeader">
    <tr>
        <!-- Actions (left) -->
        <th *ngIf="actions && actionsPosition === 'left'" class="actions-column">
            <span class="sr-only">Actions</span>
        </th>
        <!-- Columns -->
        <th *ngIf="multiselect">
            <md-checkbox [checked]="isSelectAllChecked" (change)="onSelectAllClick($event)"></md-checkbox>
        </th>
        <th class="adf-data-table-cell--{{col.type || 'text'}} {{col.cssClass}}"
            *ngFor="let col of data.getColumns()"
            [class.sortable]="col.sortable"
            [attr.data-automation-id]="'auto_id_' + col.key"
            [class.adf-data-table__header--sorted-asc]="isColumnSorted(col, 'asc')"
            [class.adf-data-table__header--sorted-desc]="isColumnSorted(col, 'desc')"
            (click)="onColumnHeaderClick(col)"
            (keyup.enter)="onColumnHeaderClick(col)"
            role="button"
            tabindex="0"
            title="{{ col.title }}">
            <span *ngIf="col.srTitle" class="sr-only">{{ col.srTitle | translate }}</span>
            <span *ngIf="col.title">{{ col.title | translate}}</span>
        </th>
        <!-- Actions (right) -->
        <th *ngIf="actions && actionsPosition === 'right'" class="actions-column">
            <span class="sr-only">Actions</span>
        </th>
    </tr>
    </thead>

    <tbody>
    <ng-container *ngIf="!loading">
        <tr *ngFor="let row of data.getRows(); let idx = index"
            tabindex="0"
            role="button"
            [class.is-selected]="row.isSelected"
            [adf-upload]="allowDropFiles && rowAllowsDrop(row)" [adf-upload-data]="row"
            [ngStyle]="rowStyle"
            [ngClass]="getRowStyle(row)"
            (keyup.enter)="onKeyboardNavigate(row, $event)">

            <!-- Actions (left) -->
            <td *ngIf="actions && actionsPosition === 'left'">
                <button md-icon-button [mdMenuTriggerFor]="menu"
                    [attr.data-automation-id]="'action_menu_' + idx">
                    <md-icon>more_vert</md-icon>
                </button>
                <md-menu #menu="mdMenu">
                    <button md-menu-item *ngFor="let action of getRowActions(row)"
                        [attr.data-automation-id]="action.title"
                        [disabled]="action.disabled"
                        (click)="onExecuteRowAction(row, action)">
                        <md-icon *ngIf="action.icon">{{ action.icon }}</md-icon>
                        <span>{{ action.title }}</span>
                    </button>
                </md-menu>
            </td>

            <td *ngIf="multiselect">
                <md-checkbox
                    [checked]="row.isSelected"
                    (change)="onCheckboxChange(row, $event)">
                </md-checkbox>
            </td>
            <td *ngFor="let col of data.getColumns()"
                class="adf-data-table-cell adf-data-table-cell--{{col.type || 'text'}} {{col.cssClass}}"
                tabindex="0"
                (click)="onRowClick(row, $event)"
                [context-menu]="getContextMenuActions(row, col)"
                [context-menu-enabled]="contextMenu">
                <div *ngIf="!col.template" class="cell-container">
                    <ng-container [ngSwitch]="col.type">
                        <div *ngSwitchCase="'image'" class="cell-value">
                            <i *ngIf="isIconValue(row, col)" class="material-icons">{{ asIconValue(row, col) }}</i>
                            <img *ngIf="!isIconValue(row, col)"
                                 alt="{{ iconAltTextKey(data.getValue(row, col)) | translate }}"
                                 src="{{ data.getValue(row, col) }}"
                                 (error)="onImageLoadingError($event)">
                        </div>
                        <div *ngSwitchCase="'icon'" class="cell-value">
                            <img alt="{{ iconAltTextKey(data.getValue(row, col)) | translate }}"
                                 src="{{ data.getValue(row, col) }}"
                                 (error)="onImageLoadingError($event)">
                        </div>
                        <div *ngSwitchCase="'date'" class="cell-value"
                            [mdTooltip]="getCellTooltip(row, col)"
                            [attr.data-automation-id]="'date_' + data.getValue(row, col)">
                            <adf-datatable-cell [data]="data" [column]="col" [row]="row"></adf-datatable-cell>
                        </div>
                        <div *ngSwitchCase="'location'" class="cell-value"
                            [mdTooltip]="getCellTooltip(row, col)"
                            [attr.data-automation-id]="'location' + data.getValue(row, col)">
                            <adf-location-cell [data]="data" [column]="col" [row]="row"></adf-location-cell>
                        </div>
                        <div *ngSwitchCase="'fileSize'" class="cell-value"
                            [mdTooltip]="getCellTooltip(row, col)"
                            [attr.data-automation-id]="'fileSize_' + data.getValue(row, col)">
                            <adf-datatable-cell [value]="data.getValue(row, col) | adfFileSize"></adf-datatable-cell>
                        </div>
                        <div *ngSwitchCase="'text'" class="cell-value"
                            [mdTooltip]="getCellTooltip(row, col)"
                            [attr.data-automation-id]="'text_' + data.getValue(row, col)">
                            <adf-datatable-cell [data]="data" [column]="col" [row]="row"></adf-datatable-cell>
                        </div>
                    <span *ngSwitchDefault class="cell-value">
                    <!-- empty cell for unknown column type -->
                    </span>
                    </ng-container>
                </div>
                <div *ngIf="col.template" class="cell-container">
                    <ng-container
                        [ngTemplateOutlet]="col.template"
                        [ngOutletContext]="{ $implicit: { data: data, row: row, col: col }, value: data.getValue(row, col) }">
                    </ng-container>
                </div>
            </td>

            <!-- Actions (right) -->
            <td *ngIf="actions && actionsPosition === 'right'" class="alfresco-datatable__actions-cell">
                <button md-icon-button [mdMenuTriggerFor]="menu"
                    [attr.data-automation-id]="'action_menu_' + idx">
                    <md-icon>more_vert</md-icon>
                </button>
                <md-menu #menu="mdMenu">
                    <button md-menu-item *ngFor="let action of getRowActions(row)"
                        [attr.data-automation-id]="action.title"
                        [disabled]="action.disabled"
                        (click)="onExecuteRowAction(row, action)">
                        <md-icon *ngIf="action.icon">{{ action.icon }}</md-icon>
                        <span>{{ action.title }}</span>
                    </button>
                </md-menu>
            </td>

        </tr>
        <tr *ngIf="data.getRows().length === 0">
            <td class="adf-no-content-container"
                [attr.colspan]="1 + data.getColumns().length">
                <ng-template *ngIf="noContentTemplate"
                             ngFor [ngForOf]="[data]"
                             [ngForTemplate]="noContentTemplate">
                </ng-template>
                <ng-content select="adf-empty-list"></ng-content>
            </td>
        </tr>
    </ng-container>
    <tr *ngIf="loading">
        <td class="adf-loading-content-container"
            [attr.colspan]="1 + data.getColumns().length">
            <ng-template *ngIf="loadingTemplate"
                         ngFor [ngForOf]="[data]"
                         [ngForTemplate]="loadingTemplate">
            </ng-template>
        </td>
    </tr>
    </tbody>
</table>
