.mdl-tooltip {
    will-change: unset;
}

.mdl-tooltip-diagram {
    background: white;
    padding: 0px;
}

.mdl-tooltip-header__message {
    background: black;
    color: white;
    margin-top: 0px;
    margin-bottom: 3px;
    width:100%;
}

.mdl-tooltip-body__message {
    color: black;
    text-align: center;
}
