<div class="app-rich-text-editor-container" >
    <div class="app-rich-text-editor-col app-rich-text-editor-col-sx">
        <h1 class="app-rich-text-editor-col-title">Rich Text Editor</h1>
        <adf-cloud-rich-text-editor [data]="sampleData" #textEditor></adf-cloud-rich-text-editor>
    </div>
    <div class="app-rich-text-editor-col app-rich-text-editor-col-rx">
        <h1 class="app-rich-text-editor-col-title">Output Data</h1>
        <pre class="app-rich-text-editor-output">{{editorOutputData | json}}</pre>
    </div>
</div>
