// Accent color palette
$alfresco-primary-accent--default: #ff9100;
$alfresco-primary-accent--hue-1: #ffd180;
$alfresco-primary-accent--hue-2: #ffab40;
$alfresco-primary-accent--hue-3: #ff6d00;

$alfresco-secondary-accent--default: #3d5afe;
$alfresco-secondary-accent--hue-1: #8c9eff;
$alfresco-secondary-accent--hue-2: #536dfe;
$alfresco-secondary-accent--hue-3: #304ffe;

// Warn color palette
$alfresco-warn-color--default: #ff1744;
$alfresco-warn-color--hue-1: #ff8a80;
$alfresco-warn-color--hue-2: #ff5252;
$alfresco-warn-color--hue-3: #d50000;

// Grayscale
$alfresco-white: #fff;
$alfresco-black: #000;

// Dark
$alfresco-dark-color--default: #78909c;
$alfresco-dark-color--hue-1: #eceff1;
$alfresco-dark-color--hue-3: #546e7a;

$alfresco-drop-shadow: #888888;

$alfresco-primary-text-color: rgba($alfresco-black, .87);
$alfresco-secondary-text-color: rgba($alfresco-black, .54);

$alfresco-hint-text-color: rgba($alfresco-black, .38);
$alfresco-disabled-text-color: rgba($alfresco-black, .26);

$alfresco-divider-color: rgba($alfresco-black, .07);

$alfresco-gray-background: #fafafa;
