@import 'mixins';
@import 'variables';
@import 'colors';
@import 'mdl-overrides';

@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($alfresco-primary);
$accent:  mat-palette($alfresco-accent);
$warn:    mat-palette($alfresco-warn);
$theme:   mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
