@import './_variables-color.scss';

$button-fab-color-alt: $alfresco-primary-accent--default;

$layout-header-mobile-row-height: 65px;
$layout-header-desktop-row-height: 65px;

$layout-header-desktop-baseline: 25px;
$layout-header-mobile-baseline: 25px;

/* snackBar */
$md-snack-bar-container-background: $alfresco-white;
$md-simple-snackbar-message: $alfresco-secondary-text-color;
$md-simple-snackbar-action: $alfresco-primary-accent--hue-2;
