<div class="adf-typeahead-widget {{field.className}}"
     [class.is-dirty]="value"
     [class.adf-invalid]="!field.isValid" id="typehead-div" *ngIf="field.isVisible">
    <md-input-container>
    <label class="adf-label" [attr.for]="field.id">{{field.name}}</label>
    <input mdInput
           class="adf-input"
           type="text"
           [id]="field.id"
           [(ngModel)]="value"
           (keyup)="onKeyUp($event)"
           (blur)="onBlur()"
           [disabled]="field.readOnly"
           placeholder="{{field.placeholder}}">
        <md-error  *ngIf="field.validationSummary">
            <div class="adf-error-text" >{{field.validationSummary}}</div> <i class="material-icons adf-error-icon">warning</i>
        </md-error>
    </md-input-container>
</div>
<div class="adf-typeahead-autocomplete mat-elevation-z2" *ngIf="options.length > 0 && popupVisible">
        <md-option *ngFor="let item of options"
            [id]="field.id +'-'+item.id"
            (click)="onItemClick(item, $event)">
            <span>{{item.name}}</span>
        </md-option>
</div>
