<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label typeahead-widget"
     [class.is-dirty]="value">
    <input class="mdl-textfield__input"
           type="text"
           [attr.id]="field.id"
           [(ngModel)]="value"
           (ngModelChange)="checkVisibility(field)"
           (keyup)="onKeyUp($event)"
           (blur)="onBlur()"
           [disabled]="field.readOnly">
    <label class="mdl-textfield__label" [attr.for]="field.id">{{field.name}}</label>
</div>

<div class="typeahead-autocomplete mdl-shadow--2dp" *ngIf="popupVisible">
    <ul>
        <li *ngFor="let item of getOptions()"
            class="mdl-menu__item"
            (click)="onItemClick(item, $event)">
            {{item.name}}
        </li>
    </ul>
</div>
