@import '../all-theme';
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include alfresco-material-theme($theme);
