@import '../theming';
@import './all-theme';

@include mat-core($alfresco-typography);

$primary: mat-palette($alfresco-bpm-green);
$accent:  mat-palette($alfresco-accent-orange);
$warn:    mat-palette($alfresco-warn);
$theme:   mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include alfresco-material-theme($theme);
