@import '../theming';
@import './all-theme';

@include mat-core($alfresco-typography);

$primary: mat-palette($mat-pink, 700, 500, 900);
$accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);
@include alfresco-material-theme($theme);
