@import '~@angular/material/theming';
@import '../colors';
@import '../all-theme';

@include mat-core();

$primary: mat-palette($alfresco-ecm-blue);
$accent:  mat-palette($alfresco-accent-orange);
$warn:    mat-palette($alfresco-warn);
$theme:   mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include alfresco-material-theme($theme);
