.task-cloud-demo-select {
    padding: 10px;
}

.task-cloud-demo-select .mat-expansion-panel-body {
    display: flex;
}

.app-task-list-cloud-demo-selection{
    display: flex;
}

.task-row-clicked {
    align-self: center;
}
