name: Pull Translations from Crowdin
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  pull-from-crowdin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Pull translations from Crowdin
        uses: crowdin/github-action@b8012bd5491b8aa8578b73ab5b5f5e7c94aaa6e2 # v2.7.0
        with:
          upload_sources: false
          download_translations: true
          create_pull_request: true
          localization_branch_name: automated-translations-update
          pull_request_title: "GH auto: Automated Update of Translations from Crowdin"
          pull_request_base_branch_name: develop
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
          CROWDIN_TOKEN: ${{ secrets.CROWDIN_TRANSLATIONS_TOKEN }}
