<adf-document-list
    currentFolderId="-my-"
    [navigate]="false">
    <data-columns>
        <ng-container *ngFor="let column of columns; trackBy: trackById">
            <ng-container
                *ngIf="
                    column.template && !(column.desktopOnly && isSmallScreen)
                "
            >
                <data-column
                    [key]="column.key"
                    [title]="column.title"
                    [type]="column.type"
                    [format]="column.format"
                    [class]="column.class"
                    [sortable]="column.sortable"
                >
                    <ng-template let-context>
                        <adf-dynamic-column
                            [id]="column.template"
                            [context]="context"
                        >
                        </adf-dynamic-column>
                    </ng-template>
                </data-column>
            </ng-container>

            <ng-container
                *ngIf="
                    !column.template && !(column.desktopOnly && isSmallScreen)
                "
            >
                <data-column
                    [key]="column.key"
                    [title]="column.title"
                    [type]="column.type"
                    [format]="column.format"
                    [class]="column.class"
                    [sortable]="column.sortable"
                >
                </data-column>
            </ng-container>
        </ng-container>
    </data-columns>
</adf-document-list>
