<adf-toolbar>
    <adf-toolbar-title>
        <md-select [(ngModel)]="selectedSource">
            <md-option *ngFor="let source of sources" [value]="source.value">
                {{ source.title }}
            </md-option>
        </md-select>
    </adf-toolbar-title>

    <div fxFlex="0 1 auto" class="adf-document-action-buttons" fxShow fxHide.lt-sm="true">
        <button md-icon-button
            (restore)="documentList.reload()"
            [disabled]="!documentList.selection.length"
            *ngIf="selectedSource === '-trashcan-'"
            location="/files"
            [adf-restore]="documentList.selection">
            <md-icon>restore</md-icon>
        </button>
    </div>
</adf-toolbar>
<adf-document-list
    [currentFolderId]="selectedSource"
    locationFormat="/files"
    selectionMode="multiple">
</adf-document-list>
