.container {
    margin: 10px;
}

@media only screen and (max-width: 640px) {
    .container {
        margin: 0;
    }
}

.error-message {
    text-align: left;
}

.error-message--text {
    color: #d50000;
}

.adf-not-overlay-viewer {
    height:900px;
}

adf-document-list >>> adf-datatable tr.is-selected .image-table-cell {
    position: relative;
}

adf-document-list >>> adf-datatable tr.document-list__create {
    background: green !important;
}

adf-document-list >>> adf-datatable tr.document-list__disable {
    background: red !important;
}

adf-document-list >>> adf-datatable tr.is-selected .image-table-cell::before {
    content: "\E876"; /* "done" */
    font-family: "Material Icons";
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: white;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -12px;
    border-radius: 100%;
    background: #00bcd4;
}

.adf-demo-site-container-style {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-width: 200px;
}


