.container {
    margin: 10px;
}

@media only screen and (max-width: 640px) {
    .container {
        margin: 0;
    }
}

.error-message {
    text-align: left;
}

.error-message--text {
    color: #d50000;
}

.options-container {
    width: 250px;
    margin: 20px;
}
