<adf-document-list currentFolderId="-sharedlinks-">
    <data-columns>

        <data-column
            key="$thumbnail"
            type="image"
            [sortable]="false"
            class="image-table-cell">
        </data-column>

        <data-column
            key="name"
            class="full-width ellipsis-cell"
            title="Name">
        </data-column>

        <data-column
            key="path"
            title="Location"
            type="location"
            format="/files">
        </data-column>

        <data-column
            key="content.sizeInBytes"
            title="Size"
            type="fileSize">
        </data-column>

        <data-column
            key="modifiedAt"
            type="date"
            format="timeAgo"
            title="Modified">
        </data-column>

        <data-column
            key="modifiedByUser.displayName"
            title="Modified By">
        </data-column>

        <data-column
            key="sharedByUser.displayName"
            title="Shared by">
        </data-column>

    </data-columns>
</adf-document-list>
